/* Custom Chart Bar */
/* I will move this somewhere else */

.custom-chart-bar { 
  display: flex; 
  
  /* a { color: var(--base-color); } */
}

.custom-chart-bar__data { 
  --_bar-color: var(--base-color-20-tint);

  text-align: right;
  
  &:first-child .custom-chart-bar__bar { border-radius: 8px 0 0 8px; }
  &:last-child .custom-chart-bar__bar { border-radius: 0 8px 8px 0; }

  &[data-color="good"] .custom-chart-bar__bar { --_bar-color: var(--success-color); }
  &[data-color="warning"] .custom-chart-bar__bar { --_bar-color: var(--warning-color); }
  &[data-color="bad"] .custom-chart-bar__bar { --_bar-color: var(--fail-color); }
}

.custom-chart-bar__percentage,
.custom-chart-bar__number,
.custom-chart-bar__label {
  /* margin-right: var(--space-xs); */
}


.custom-chart-bar__bar {
  margin-block: var(--space-2xs);
  height: 1rem;
  background-color: var(--_bar-color);
}