.dash-card[data-type="1"] {

  & > * {
    --_stack-space: var(--space-2xl);
  }

  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
  }

  .dash-card__summary-quantity,
  .dash-card__summary-amount,
  .dash-card__title {
    grid-column: span 2;
  }
}

.dash-card__summary-quantity,
.dash-card__summary-amount { font-weight: 500; }




/* Custom Chart Bar */
/* I will move this somewhere else */

.custom-chart-bar { 
  display: flex; 
  
  /* a { color: var(--base-color); } */
}

.custom-chart-bar__data { 
  --_bar-color: var(--base-color-20-tint);

  text-align: right;
  
  &:first-child .custom-chart-bar__bar { border-radius: 8px 0 0 8px; }
  &:last-child .custom-chart-bar__bar { border-radius: 0 8px 8px 0; }

  &[data-color="good"] .custom-chart-bar__bar { --_bar-color: var(--success-color); }
  &[data-color="warning"] .custom-chart-bar__bar { --_bar-color: var(--warning-color); }
  &[data-color="bad"] .custom-chart-bar__bar { --_bar-color: var(--fail-color); }
}

.custom-chart-bar__percentage,
.custom-chart-bar__number,
.custom-chart-bar__label {
  margin-right: var(--space-s);
}


.custom-chart-bar__bar {
  margin-block: var(--space-2xs);
  height: 1rem;
  background-color: var(--_bar-color);
}

.stacked-cards {
  display: flex;

  > * { flex: 1; }
  > * + * { margin-inline-start: -10px }

  .card {
    isolation: isolate;
    box-shadow: var(--box-shadow-m);
  }
  .card:first-of-type  { 
    background-color: var(--base-color) !important; 
    z-index: 4;
  }
  .card:nth-of-type(2) { 
    background-color: var(--success-color) !important; 
    z-index: 3;
  }
  .card:nth-of-type(3) { 
    background-color: var(--warning-color) !important; 
    z-index: 2;
  }
  .card:nth-of-type(4) { 
    background-color: var(--fail-color) !important; 
    z-index: 0;
  }
  
}

.summary-card {
  padding-inline-start: calc(var(--base-padding-inline) + 10px) !important; 
  color: var(--white-color);
  --_stack-space: var(--space-l) !important;
  

  header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  h4 {
    align-self: end;
  }

  .summary-card__main-number {
    font-size: calc(var(--size-5) * 1.5);
    font-weight: 100;
    text-align: right;
  }

  .summary-card__secondary-number {
    font-size: var(--size-2);
    text-align: right;
    grid-column: 2/3;
  }

  table {
    --_row-color: var(--white-color);

    th { 
      text-transform: uppercase;
      border-color: var(--white-color-30-alpha);
    }
    td { border-color: transparent;}
    td:last-child { text-align: right; }
  }
}





#pie-chart,
#bar-chart {
  * { font-family: var(--body-font) !important; }
/* Style for the chart title */
.highcharts-title {
  font-size: var(--size-3) !important;
  
  font-weight: 200 !important;
  text-align: left !important;
}

.highcharts-axis-line {
  stroke: var(--base-color-20-tint) !important;
}

/* Style for the axis labels */
.highcharts-axis-labels text {
  font-size: var(--size-0) !important; /* Set the font size for axis labels */
  /* color: #666; Set the color for axis labels */
}

/* Style for the tooltip */
.highcharts-tooltip {
  /* background-color: #fff; Set background color for tooltip */
  /* border: 1px solid #ccc; Set border for tooltip */
  /* padding: 10px; Set padding for tooltip */
  /* border-radius: 100px; Round the corners of the tooltip */
}

.highcharts-point {
  /* stroke-width: 0 !important; */
}

/* @TODO: Vou implementar um esquema com variaveis pra controlar isso melhor */

.highcharts-color-0 { 
  fill: var(--success-color) !important; 
  stroke: var(--success-color) !important;
}
.highcharts-color-1 { 
  fill: var(--warning-color) !important;
  stroke: var(--warning-color) !important; 
}
.highcharts-color-2 { 
  fill: var(--fail-color) !important;
  stroke: var(--fail-color) !important;
}
.highcharts-color-1 { fill: var(--warning-color) !important; }
.highcharts-color-2 { fill: var(--fail-color) !important; }
}

