
<h3 visual="h3">Exibindo <strong>74</strong> negócios.</h3>
  <form id="active-filters" autocomplete="off" class="form">
    <span style="display: none;">
      <label>Nº Série</label>
      <input type="text" class="serial gte" name="controlevenda.numero_serie" value="" alt="serial"> até <input type="text" class="serial lte" name="controlevenda.numero_serie" value="" alt="serial">
      <span class="kill-filter"></span>
    </span>

    <span style="display: none;">
      <label>Nº Negócio</label>
      <input type="text" class="serial" name="codigo" value="" alt="serial">
      <span class="kill-filter"></span>
    </span>

    <span style="display: none;">
      <label>Cliente</label>
      <input type="text" class="autocomplete empresa ui-autocomplete-input" value="" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
      <input type="hidden" class="object-id" name="cliente.id" value="">
      <span class="kill-filter"></span>
      <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-4" tabindex="0" style="z-index: 1; display: none;"></ul></span>
        <span style="display: none;">
          <label>Negócio</label>
          <input type="text" class="regex" name="normalized.nome_do_estabelecimento" value="">
          <span class="kill-filter"></span>
        </span>

      <span style="display: none;">
          <label>Linha</label>
          <select class="multibox" name="linha" multiple="multiple" style="display: none;">
              
                  <option value="pl200">PL-200</option>
              
                  <option value="elevador">Elevador</option>
              
                  <option value="predial">Predial</option>
              
                  <option value="mc230">MC-230</option>
              
                  <option value="mc250">MC-250</option>
              
                  <option value="mc1000">MC-1000</option>
              
                  <option value="cargueiro">Cargueiro</option>
              
                  <option value="hidraulico">Hidráulico</option>
              
                  <option value="especial">Especial</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Segmento</label>
          <select class="multibox" name="segmento" multiple="multiple" style="display: none;">
              
                  <option value="Não identificado">Não identificado</option>
              
                  <option value="Comercial">Comercial</option>
              
                  <option value="Educacional">Educacional</option>
              
                  <option value="Hospitalar">Hospitalar</option>
              
                  <option value="Industrial/Logístico">Industrial/Logístico</option>
              
                  <option value="Bancário">Bancário</option>
              
                  <option value="Residencial multifamiliar">Residencial multifamiliar</option>
              
                  <option value="Residencial unifamiliar">Residencial unifamiliar</option>
              
                  <option value="Órgãos públicos">Órgãos públicos</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Perfil comercial</label>
          <select class="multibox" name="perfil_comercial" multiple="multiple" style="display: none;">
              
                  <option value="Não informado">Não informado</option>
              
                  <option value="Particular">Particular</option>
              
                  <option value="Órgão Público">Órgão Público</option>
              
                  <option value="Rede">Rede</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Cidade</label>
          <input type="text" class="autocomplete cidade ui-autocomplete-input" value="" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input type="hidden" class="object-id" name="localinstalacao.cidade.id" value="">
          <span class="kill-filter"></span>
      <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-2" tabindex="0" style="z-index: 1; display: none;"></ul></span>

      <span style="display: none;">
          <label>UF</label>
          <select class="multibox" name="localinstalacao.cidade.uf" multiple="multiple" style="display: none;">
              
                  <option value="AC">Acre</option>
              
                  <option value="AL">Alagoas</option>
              
                  <option value="AP">Amapá</option>
              
                  <option value="AM">Amazonas</option>
              
                  <option value="BA">Bahia</option>
              
                  <option value="CE">Ceará</option>
              
                  <option value="DF">Distrito Federal</option>
              
                  <option value="ES">Espírito Santo</option>
              
                  <option value="GO">Goiás</option>
              
                  <option value="MA">Maranhão</option>
              
                  <option value="MT">Mato Grosso</option>
              
                  <option value="MS">Mato Grosso do Sul</option>
              
                  <option value="MG">Minas Gerais</option>
              
                  <option value="PA">Pará</option>
              
                  <option value="PB">Paraíba</option>
              
                  <option value="PR">Paraná</option>
              
                  <option value="PE">Pernambuco</option>
              
                  <option value="PI">Piauí</option>
              
                  <option value="RJ">Rio de Janeiro</option>
              
                  <option value="RN">Rio Grande do Norte</option>
              
                  <option value="RS">Rio Grande do Sul</option>
              
                  <option value="RO">Rondônia</option>
              
                  <option value="RR">Roraima</option>
              
                  <option value="SC">Santa Catarina</option>
              
                  <option value="SP">São Paulo</option>
              
                  <option value="SE">Sergipe</option>
              
                  <option value="TO">Tocantins</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Logradouro</label>
          <input type="text" class="regex" name="normalized.localinstalacao_logradouro" value="">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Número</label>
          <input type="text" class="regex" name="normalized.localinstalacao_numero" value="">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Bairro</label>
          <input type="text" class="regex" name="normalized.localinstalacao_bairro" value="">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Complemento</label>
          <input type="text" class="regex" name="normalized.localinstalacao_complemento" value="">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Dist. da filial ou capital (km)</label>
          <input type="text" class="integral gte" name="localinstalacao.distancia_da_filial" value="" alt="integer"> até <input type="text" class="integral lt" name="localinstalacao.distancia_da_filial" value="" alt="integer">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Vendedor</label>
          <select class="multibox" name="vendedor.username" multiple="multiple" style="display: none;">
              
                  <option value="direto">A-Central Montele</option>
              
                  <option value="abrelevadores">ABR Elevadores</option>
              
                  <option value="acessplus">Acessplus Representante</option>
              
                  <option value="adaptare">Adaptare Representante</option>
              
                  <option value="adriano.alves">Adriano Reis Alves</option>
              
                  <option value="ajem">AJ &amp; EM Servicos</option>
              
                  <option value="alexandre.silva">Alexandre Francisco da Silva</option>
              
                  <option value="alexandre.peyon">Alexandre Peyon</option>
              
                  <option value="almag">Almag Representacoes</option>
              
                  <option value="alpha">Alpha Elevadores</option>
              
                  <option value="amgelevadores">AMG Elevadores</option>
              
                  <option value="ana.goncalves">Ana Flavia Gonçalves</option>
              
                  <option value="anderson.almeida">Anderson Almeida</option>
              
                  <option value="andrea.uhlig">Andrea Uhlig</option>
              
                  <option value="angelo">Angelo Ferreira</option>
              
                  <option value="aristides.barbosa">Aristides Barbosa</option>
              
                  <option value="armando.neto">Armando Neto</option>
              
                  <option value="armoursp">Armour SP</option>
              
                  <option value="remoto">Atendimento Remoto</option>
              
                  <option value="barbara.juliani">Barbara Juliani</option>
              
                  <option value="bruno.falcao">Bruno Falcao</option>
              
                  <option value="bruno.simoes">Bruno Simoes</option>
              
                  <option value="carlos.vendas">Carlos Costa</option>
              
                  <option value="carolina">Carolina Abdo - Vendas</option>
              
                  <option value="caroline.moro">Caroline Moro</option>
              
                  <option value="cesarcarvalho">Cesar Carvalho</option>
              
                  <option value="cmel">CMEL Elevadores</option>
              
                  <option value="comercial.brasilia">Comercial Brasilia</option>
              
                  <option value="comercial.fabrica">Comercial Fábrica</option>
              
                  <option value="comercial.minasgerais">Comercial Minas Gerais</option>
              
                  <option value="comercial.bahia">Comercial Nordeste</option>
              
                  <option value="comercial.riodejaneiro">Comercial Rio de Janeiro</option>
              
                  <option value="comercial.saopaulo">Comercial São Paulo</option>
              
                  <option value="jackson.vendas">Comercial Sul</option>
              
                  <option value="conec">Conec Representante</option>
              
                  <option value="conserp">Conserp Representante</option>
              
                  <option value="corporativo.montele">Corporativo Montele</option>
              
                  <option value="cristiano.vendas">Cristiano Vendas</option>
              
                  <option value="csm">CSM Elevadores</option>
              
                  <option value="csmsjc">CSM SJC</option>
              
                  <option value="daniel.prado">Daniel Prado</option>
              
                  <option value="pattivendas">Eduardo Patti - Vendas</option>
              
                  <option value="eduardo.rabelo">Eduardo Rabelo</option>
              
                  <option value="yamashita.vendas">Eduardo Vendas</option>
              
                  <option value="eduardo.almeida">Eduardo de Almeida</option>
              
                  <option value="elaine.oliveira">Elaine Oliveira</option>
              
                  <option value="elemasste">Elemasste Representante</option>
              
                  <option value="elerib">Elerib Representante</option>
              
                  <option value="uniao">Elevadores Uniao</option>
              
                  <option value="elta.souza">Elta Souza</option>
              
                  <option value="emerson.pinho">Emerson Pinho</option>
              
                  <option value="erich.josefy">Erich Josefy</option>
              
                  <option value="flecha.vendas">Felipe Flecha</option>
              
                  <option value="felipe.raguer">Felipe Raguer</option>
              
                  <option value="fernando.arias">Fernando Arias</option>
              
                  <option value="fernando.soares">Fernando Soares</option>
              
                  <option value="flavia.pavan">Flavia Helena Pavan</option>
              
                  <option value="gabriel.canhetti">Gabriel Canhetti</option>
              
                  <option value="globalltec">Globalltec Representante</option>
              
                  <option value="greco.fernandes">Greco Fernandes</option>
              
                  <option value="gustavo.ramos">Gustavo Ramos</option>
              
                  <option value="helenildo.silva">Helenildo Silva</option>
              
                  <option value="henrique.paladino">Henrique Paladino</option>
              
                  <option value="ilie.poenaru">Ilie Poenaru</option>
              
                  <option value="ivo.menezes">Ivo Menezes</option>
              
                  <option value="jadir.fonseca">Jadir Fonseca</option>
              
                  <option value="janio">Janio Junior</option>
              
                  <option value="jessica.rodrigues">Jéssica Rodrigues</option>
              
                  <option value="jessica.samagaia">Jessica Samagaia</option>
              
                  <option value="joaofreitas">Joao Freitas</option>
              
                  <option value="joaoroberto">João Roberto Lima</option>
              
                  <option value="joel.amoras">Joel Amoras - Representante</option>
              
                  <option value="jogner.bayer">Jogner Belmont Bayer</option>
              
                  <option value="jordano.fernandes">Jordano Fernandes</option>
              
                  <option value="josival.filho">Josival Carlos Filho</option>
              
                  <option value="josival.melo">Josival Carlos Melo</option>
              
                  <option value="juliana.moretti">Juliana Moretti</option>
              
                  <option value="julio.zide2">Julio Zide - Vendas</option>
              
                  <option value="karla">Karla Cunha</option>
              
                  <option value="leandro.marques">Leandro Jorge Marques</option>
              
                  <option value="leonardo.souza">Leonardo Souza Luz</option>
              
                  <option value="licitacoes">Licitações Públicas</option>
              
                  <option value="liftservice">Lift Service</option>
              
                  <option value="lucas.lorenzi">Lucas Lorenzi</option>
              
                  <option value="luciene">Luciene Teixeira</option>
              
                  <option value="luiz.mourao">Luiz Mourao</option>
              
                  <option value="ayabe">Luiz Paulo Ayabe</option>
              
                  <option value="mantiqueira">Mantiqueira Elevadores</option>
              
                  <option value="maqvel">Maqvel Representante</option>
              
                  <option value="marc.primorac">Marc Primorac</option>
              
                  <option value="redes">Marcela Sales</option>
              
                  <option value="marcelo.amorim">Marcelo Amorim</option>
              
                  <option value="brum">Marcelo Brum</option>
              
                  <option value="gomes">Marcelo Gomes</option>
              
                  <option value="marcelo.luciano">Marcelo Luciano</option>
              
                  <option value="marcelo.costa">Marcelo de Souza Costa</option>
              
                  <option value="marcia.velloso">Marcia Velloso</option>
              
                  <option value="marcio.barbosa">Marcio Barbosa</option>
              
                  <option value="marcio.hozawa">Marcio Hozawa</option>
              
                  <option value="marcoantonio">Marco Antonio</option>
              
                  <option value="marcoaurelio">Marco Aurelio Garanhani</option>
              
                  <option value="marcos.bomfim">Marcos Bomfim</option>
              
                  <option value="marcosrj">Marcos Ferreira</option>
              
                  <option value="marcos.candido">Marcos Oliveira Candido</option>
              
                  <option value="mariana.machado">Mariana Machado</option>
              
                  <option value="mauricio.borges">Mauricio Borges</option>
              
                  <option value="mikeschaar">Mike Schaar</option>
              
                  <option value="nastrini">Nastrini - Representante</option>
              
                  <option value="alexander.wagner">Nikolaus Wagner</option>
              
                  <option value="norman.coelho">Norman Coelho</option>
              
                  <option value="oduvaldo">Oduvaldo Baptestini</option>
              
                  <option value="pamela.bonfim">Pamela Bonfim</option>
              
                  <option value="pamela.cantuaria">Pamela Cantuaria</option>
              
                  <option value="paulo.machado">Paulo Machado</option>
              
                  <option value="rafael.farias">Rafael Farias</option>
              
                  <option value="rafael.goncalves">Rafael Gonçalves</option>
              
                  <option value="rafael.moura">Rafael Moura</option>
              
                  <option value="renata.vendas">Renata Vendas</option>
              
                  <option value="ortega.vendas">Renato Ortega</option>
              
                  <option value="ricardo">Ricardo Ramos</option>
              
                  <option value="werneck">Roberto Werneck</option>
              
                  <option value="rocha">Rocha Elevadores</option>
              
                  <option value="rodrigo.cesar">Rodrigo Cesar</option>
              
                  <option value="rodrigo.patricio">Rodrigo Patricio</option>
              
                  <option value="rodrigo.pinheiro">Rodrigo Pinheiro</option>
              
                  <option value="rodrigo.silva">Rodrigo Silva</option>
              
                  <option value="rodrigo.torres2">Rodrigo Torres</option>
              
                  <option value="servtec">Serv Tec Elevadores</option>
              
                  <option value="silmar.vendas">Silmar Vendas</option>
              
                  <option value="tarso.terra">Tarso Terra</option>
              
                  <option value="teclifts">Teclifts Elevadores</option>
              
                  <option value="tecma">Tecma Elevadores</option>
              
                  <option value="thais.gomes">Thais Gomes</option>
              
                  <option value="thiago.carvalho">Thiago Carvalho</option>
              
                  <option value="triangulo">Triangulo Elevadores - Romero</option>
              
                  <option value="vinicius.silva">Vinicius Silva</option>
              
                  <option value="yara.arruda">Yara Fernandes Arruda</option>
              
                  <option value="exvendedor">Z-Ex Vendedor</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Fase</label>
          <select class="multibox" name="fase" multiple="multiple" style="display: none;">
              
                  <option value="Lixeira">Lixeira</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Validação Técnica</label>
          <input type="text" class="date gte hasDatepicker" name="validacao_tecnica" value="" id="dp1730983654303"> até <input type="text" class="date lte hasDatepicker" name="validacao_tecnica" value="" id="dp1730983654304">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Previsão de fechamento</label>
          <input type="text" class="date gte hasDatepicker" name="previsao_de_fechamento" value="" id="dp1730983654305"> até <input type="text" class="date lte hasDatepicker" name="previsao_de_fechamento" value="" id="dp1730983654306">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label title="Equipamento funcionando">Equipamento funcionando</label>
          <input type="text" class="date gte hasDatepicker" name="equipamento_funcionando" value="" id="dp1730983654307"> até <input type="text" class="date lte hasDatepicker" name="equipamento_funcionando" value="" id="dp1730983654308">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Pipeline (Perspectiva cliente)</label>
          <select class="multibox" name="pipeline_cliente" multiple="multiple" style="display: none;">
              
                  <option value="Sem informação">Sem informação</option>
              
                  <option value="Estudo">Estudo</option>
              
                  <option value="Planejamento">Planejamento</option>
              
                  <option value="Definição">Definição</option>
              
                  <option value="Fechamento">Fechamento</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Faturamento - Crédito</label>
          <select class="multibox" name="faturamento_credito" multiple="multiple" style="display: none;">
              
                  <option value="N/A">N/A</option>
              
                  <option value="Faturamento reprovado">Faturamento reprovado</option>
              
                  <option value="Pendende - Matriz / Filial">Pendende - Matriz / Filial</option>
              
                  <option value="Pendente - Triangulação de notas">Pendente - Triangulação de notas</option>
              
                  <option value="Aprovado - Aguardando">Aprovado - Aguardando</option>
              
                  <option value="Aprovado - Normal">Aprovado - Normal</option>
              
                  <option value="Aprovado - Cautela">Aprovado - Cautela</option>
              
                  <option value="Aprovado - Restrição">Aprovado - Restrição</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>ICMS</label>
          <select class="multibox" name="especificacao.icms" multiple="multiple" style="display: none;">
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>UF de faturamento</label>
          <select class="multibox" name="especificacao.uf_de_faturamento" multiple="multiple" style="display: none;">
              
                  <option value="AC">Acre</option>
              
                  <option value="AL">Alagoas</option>
              
                  <option value="AP">Amapá</option>
              
                  <option value="AM">Amazonas</option>
              
                  <option value="BA">Bahia</option>
              
                  <option value="CE">Ceará</option>
              
                  <option value="DF">Distrito Federal</option>
              
                  <option value="ES">Espírito Santo</option>
              
                  <option value="GO">Goiás</option>
              
                  <option value="MA">Maranhão</option>
              
                  <option value="MT">Mato Grosso</option>
              
                  <option value="MS">Mato Grosso do Sul</option>
              
                  <option value="MG">Minas Gerais</option>
              
                  <option value="PA">Pará</option>
              
                  <option value="PB">Paraíba</option>
              
                  <option value="PR">Paraná</option>
              
                  <option value="PE">Pernambuco</option>
              
                  <option value="PI">Piauí</option>
              
                  <option value="RJ">Rio de Janeiro</option>
              
                  <option value="RN">Rio Grande do Norte</option>
              
                  <option value="RS">Rio Grande do Sul</option>
              
                  <option value="RO">Rondônia</option>
              
                  <option value="RR">Roraima</option>
              
                  <option value="SC">Santa Catarina</option>
              
                  <option value="SP">São Paulo</option>
              
                  <option value="SE">Sergipe</option>
              
                  <option value="TO">Tocantins</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Preço de tabela</label>
          <input type="text" class="decimal reactive gte" name="aplicacao.preco_tabela" value="" alt="decimal"> até <input type="text" class="decimal reactive lte" name="aplicacao.preco_tabela" value="" alt="decimal">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Preço final</label>
          <input type="text" class="decimal reactive gte" name="aceite.preco_final" value="" alt="decimal"> até <input type="text" class="decimal reactive lte" name="aceite.preco_final" value="" alt="decimal">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Status Operante</label>
          <select class="multibox" name="status_operante" multiple="multiple" style="display: none;">
              
                  <option value="Funcionando">Funcionando</option>
              
                  <option value="Paralisado">Paralisado</option>
              
                  <option value="Desligado">Desligado</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Desde</label>
          <input type="text" class="datetime gte hasDatepicker" name="criacao" value="" id="dp1730983654309"> até <input type="text" class="datetime lt hasDatepicker" name="criacao" value="" id="dp1730983654310">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Alteração</label>
          <input type="text" class="datetime gte hasDatepicker" name="modificacao" value="" id="dp1730983654311"> até <input type="text" class="datetime lt hasDatepicker" name="modificacao" value="" id="dp1730983654312">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Presença de empresa</label>
          <input type="text" class="autocomplete empresa ui-autocomplete-input" value="" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input type="hidden" class="object-id" name="empresas.id" value="">
          <span class="kill-filter"></span>
      <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-5" tabindex="0" style="z-index: 1; display: none;"></ul></span>

      <span style="display: none;">
          <label>Presença de contato</label>
          <input type="text" class="autocomplete contato ui-autocomplete-input" value="" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input type="hidden" class="object-id" name="contatos.id" value="">
          <span class="kill-filter"></span>
      <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-10" tabindex="0" style="z-index: 1; display: none;"></ul></span>


      <span style="display: none;">
          <label>Origem</label>
          <select class="multibox" name="origem" multiple="multiple" style="display: none;">
              
                  <option value="Telefone">Telefone</option>
              
                  <option value="Internet (ND)">Internet (ND)</option>
              
                  <option value="Presencial">Presencial</option>
              
                  <option value="Email">Email</option>
              
                  <option value="Site">Site</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Taxas e despacho prefeitura</label>
          <select class="multibox modal" name="especificacao.taxas_prefeitura" multiple="multiple" style="display: none;">
              
                  <option value="Não incluído">Não incluído</option>
              
                  <option value="GEM (Município do Rio de Janeiro)">GEM (Município do Rio de Janeiro)</option>
              
                  <option value="CONTRU-DINS (Município de São Paulo)">CONTRU-DINS (Município de São Paulo)</option>
              
                  <option value="Prefeituras Grande São Paulo">Prefeituras Grande São Paulo</option>
              
                  <option value="Prefeituras com alta complexidade">Prefeituras com alta complexidade</option>
              
                  <option value="CREA – Consultoria">CREA – Consultoria</option>
              
                  <option value="CREA – Remoto">CREA – Remoto</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all modal" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Prazo de funcionamento</label>
          <input type="text" class="integral gte" name="aceite.funcionamento" value="" alt="integer"> até <input type="text" class="integral lte" name="aceite.funcionamento" value="" alt="integer">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>SLA - Entrega e SESMT</label>
          <select class="multibox" name="especificacao.sla_prazo" multiple="multiple" style="display: none;">
              
                  <option value="Encomenda / Normal">Encomenda / Normal</option>
              
                  <option value="Expresso / Corporativo">Expresso / Corporativo</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Última proposta</label>
          <input type="text" class="datetime gte hasDatepicker" name="aceite.proposta.criacao" value="" id="dp1730983654313"> até <input type="text" class="datetime lt hasDatepicker" name="aceite.proposta.criacao" value="" id="dp1730983654314">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Obra</label>
          <select class="multibox" name="obra" multiple="multiple" style="display: none;">
              
                  <option value="Sem informação">Sem informação</option>
              
                  <option value="Nova, não iniciada">Nova, não iniciada</option>
              
                  <option value="Nova, em andamento">Nova, em andamento</option>
              
                  <option value="Nova, paralisada">Nova, paralisada</option>
              
                  <option value="Nova, concluída">Nova, concluída</option>
              
                  <option value="Reforma, não iniciada">Reforma, não iniciada</option>
              
                  <option value="Reforma, em andamento">Reforma, em andamento</option>
              
                  <option value="Reforma, paralisada">Reforma, paralisada</option>
              
                  <option value="Reforma, concluída">Reforma, concluída</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Ass. termo de entrega</label>
          <input type="text" class="date gte hasDatepicker" name="servicos.assinatura_do_termo" value="" id="dp1730983654315"> até <input type="text" class="date lte hasDatepicker" name="servicos.assinatura_do_termo" value="" id="dp1730983654316">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Configuração</label>
          <select class="multibox" name="aplicacao.configuracao" multiple="multiple" style="display: none;">
              
                  <option value="Aguardando">Aguardando</option>
              
                  <option value="Indefinição técnica">Indefinição técnica</option>
              
                  <option value="Revisão">Revisão</option>
              
                  <option value="Configurado">Configurado</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>MBI</label>
          <input type="text" class="decimal reactive gte" name="aplicacao.mbi" value="" alt="decimal"> até <input type="text" class="decimal reactive lte" name="aplicacao.mbi" value="" alt="decimal">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Material bruto</label>
          <input type="text" class="decimal reactive gte" name="aplicacao.material_bruto" value="" alt="decimal"> até <input type="text" class="decimal reactive lte" name="aplicacao.material_bruto" value="" alt="decimal">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Data da Venda</label>
          <input type="text" class="date gte hasDatepicker" name="controlevenda.data_da_venda" value="" id="dp1730983654317"> até <input type="text" class="date lte hasDatepicker" name="controlevenda.data_da_venda" value="" id="dp1730983654318">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Expedido</label>
          <input type="text" class="date gte hasDatepicker" name="servicos.expedido" value="" id="dp1730983654319"> até <input type="text" class="date lte hasDatepicker" name="servicos.expedido" value="" id="dp1730983654320">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Funcionamento</label>
          <input type="text" class="date gte hasDatepicker" name="controlevenda.funcionamento" value="" id="dp1730983654321"> até <input type="text" class="date lte hasDatepicker" name="controlevenda.funcionamento" value="" id="dp1730983654322">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Maturação</label>
          <input type="text" class="integral gte" name="controlevenda.maturacao" value="" alt="integer"> até <input type="text" class="integral lte" name="controlevenda.maturacao" value="" alt="integer">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Processo de legalização</label>
          <select class="multibox" name="servicos.processo_de_legalizacao" multiple="multiple" style="display: none;">
              
                  <option value="N/A">N/A</option>
              
                  <option value="Documentação">Documentação</option>
              
                  <option value="Despachado">Despachado</option>
              
                  <option value="Deferido">Deferido</option>
              
                  <option value="Legalizado">Legalizado</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Parcela de Risco</label>
          <input type="text" class="decimal reactive gte" name="controlevenda.parcela_de_risco" value="" alt="decimal"> até <input type="text" class="decimal reactive lte" name="controlevenda.parcela_de_risco" value="" alt="decimal">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Concorrente vencedor</label>
          <input type="text" class="autocomplete concorrente ui-autocomplete-input" value="" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input type="hidden" class="object-id" name="analiselixeira.concorrente_vencedor.id" value="">
          <span class="kill-filter"></span>
      <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-8" tabindex="0" style="z-index: 1; display: none;"></ul></span>

      <span>
          <label>Data de descarte</label>
          <input type="text" class="datetime gte hasDatepicker" name="data_descarte" value="01/09/2024" id="dp1730983654323"> até <input type="text" class="datetime lt hasDatepicker" name="data_descarte" value="01/10/2024" id="dp1730983654324">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Data de retorno</label>
          <input type="text" class="datetime gte hasDatepicker" name="data_retorno" value="" id="dp1730983654325"> até <input type="text" class="datetime lt hasDatepicker" name="data_retorno" value="" id="dp1730983654326">
          <span class="kill-filter"></span>
      </span>

      <span>
          <label>Motivo do Descarte</label>
          <select class="multibox" name="motivo_do_descarte" multiple="multiple" style="display: none;">
              
                  <option value="Não informado">Não informado</option>
              
                  <option value="Cancelado">Cancelado</option>
              
                  <option value="Perda / Desistência Montele" selected="selected">Perda / Desistência Montele</option>
              
                  <option value="Erro / duplicidade">Erro / duplicidade</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>1 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Qtd. de pendências fin.</label>
          <input type="text" class="integral gte" name="pendencia_financeira.quantidade" value="" alt="integer"> até <input type="text" class="integral lte" name="pendencia_financeira.quantidade" value="" alt="integer">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Valor total devido</label>
          <input type="text" class="decimal reactive gte" name="pendencia_financeira.valor_total" value="" alt="decimal"> até <input type="text" class="decimal reactive lte" name="pendencia_financeira.valor_total" value="" alt="decimal">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Contrato assinado</label>
          <span class="radioset">
              <input type="radio" id="contrato_assinado_sim" name="aceite.aceite_assinado" value="true"><label for="contrato_assinado_sim">Sim</label><input type="radio" id="contrato_assinado_nao" name="aceite.aceite_assinado" value="false"><label for="contrato_assinado_nao">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Legalização Municipal</label>
          <span class="radioset">
              <input type="radio" id="legalizacao_municipal_sim" name="servicos.legalizacao_municipal" value="true"><label for="legalizacao_municipal_sim">Sim</label><input type="radio" id="legalizacao_municipal_nao" name="servicos.legalizacao_municipal" value="false"><label for="legalizacao_municipal_nao">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Com anexo</label>
          <select class="multibox all" name="com_anexo" multiple="multiple" style="display: none;">
              
                  <option value="planta_do_cliente">Planta do cliente</option>
              
                  <option value="ordem_de_fornecimento">Ordem de fornecimento</option>
              
                  <option value="orientacao_civil">Orientação civil</option>
              
                  <option value="contrato_de_compra_e_venda">Contrato de compra e venda</option>
              
                  <option value="termo_de_entrega">Termo de entrega</option>
              
                  <option value="copia_do_contrato_vigente">Contrato de manutenção vigente</option>
              
                  <option value="projeto_pref_montele">Projeto de prefeitura Montele</option>
              
                  <option value="licenca_inst">Licença de instalação</option>
              
                  <option value="licenca_func">Licença de funcionamento</option>
              
                  <option value="art_de_instalacao">ART de instalação</option>
              
                  <option value="art_de_manutencao">ART de manutenção</option>
              
                  <option value="relatorio_de_inspecao_anual">Relatório de inspeção anual</option>
              
                  <option value="localizacao_disjuntor">Localização disjuntor</option>
              
                  <option value="montele_audio_test">MAT</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Sem anexo</label>
          <select class="multibox all" name="sem_anexo" multiple="multiple" style="display: none;">
              
                  <option value="planta_do_cliente">Planta do cliente</option>
              
                  <option value="ordem_de_fornecimento">Ordem de fornecimento</option>
              
                  <option value="orientacao_civil">Orientação civil</option>
              
                  <option value="contrato_de_compra_e_venda">Contrato de compra e venda</option>
              
                  <option value="termo_de_entrega">Termo de entrega</option>
              
                  <option value="copia_do_contrato_vigente">Contrato de manutenção vigente</option>
              
                  <option value="projeto_pref_montele">Projeto de prefeitura Montele</option>
              
                  <option value="licenca_inst">Licença de instalação</option>
              
                  <option value="licenca_func">Licença de funcionamento</option>
              
                  <option value="art_de_instalacao">ART de instalação</option>
              
                  <option value="art_de_manutencao">ART de manutenção</option>
              
                  <option value="relatorio_de_inspecao_anual">Relatório de inspeção anual</option>
              
                  <option value="localizacao_disjuntor">Localização disjuntor</option>
              
                  <option value="montele_audio_test">MAT</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Construtora definida</label>
          <span class="radioset">
              <input id="construtora-definida1" type="radio" name="cliente.nome" class="exists" value="true"><label for="construtora-definida1">Sim</label><input id="sem-construtora1" type="radio" name="cliente.nome" class="exists" value="false"><label for="sem-construtora1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>OC automática anexada</label>
          <span class="radioset">
              <input id="oc-automatica-anexada1" type="radio" name="aplicacao.oc.criacao" class="exists" value="true"><label for="oc-automatica-anexada1">Sim</label><input id="oc-automatica-nao-anexada1" type="radio" name="aplicacao.oc.criacao" class="exists" value="false"><label for="oc-automatica-nao-anexada1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span>
          <label>Visitado</label>
          <span class="radioset">
              <input id="visitado1" type="radio" name="primeira_visita" class="check-null" value="date"><label for="visitado1">Sim</label><input id="nao-visitado1" type="radio" name="primeira_visita" class="check-null" value="null" checked="checked"><label for="nao-visitado1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Primeira visita</label>
          <input type="text" class="datetime gte hasDatepicker" name="primeira_visita" value="" id="dp1730983654327"> até <input type="text" class="datetime lt hasDatepicker" name="primeira_visita" value="" id="dp1730983654328">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Última visita</label>
          <input type="text" class="datetime gte hasDatepicker" name="ultima_visita" value="" id="dp1730983654329"> até <input type="text" class="datetime lt hasDatepicker" name="ultima_visita" value="" id="dp1730983654330">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Indicação do equipamento no projeto</label>
          <select class="multibox" name="indicacao_no_projeto" multiple="multiple" style="display: none;">
              
                  <option value="Sim">Sim</option>
              
                  <option value="Não">Não</option>
              
                  <option value="Não sei">Não sei</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Qualificação inicial</label>
          <select class="multibox" name="qualificacao_inicial" multiple="multiple" style="display: none;">
              
                  <option value="Não avaliado">Não avaliado</option>
              
                  <option value="1">1</option>
              
                  <option value="2">2</option>
              
                  <option value="3">3</option>
              
                  <option value="4">4</option>
              
                  <option value="5">5</option>
              
                  <option value="6">6</option>
              
                  <option value="7">7</option>
              
                  <option value="8">8</option>
              
                  <option value="9">9</option>
              
                  <option value="10">10</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Qualificação visitado</label>
          <select class="multibox" name="qualificacao_visitado" multiple="multiple" style="display: none;">
              
                  <option value="Não avaliado">Não avaliado</option>
              
                  <option value="1">1</option>
              
                  <option value="2">2</option>
              
                  <option value="3">3</option>
              
                  <option value="4">4</option>
              
                  <option value="5">5</option>
              
                  <option value="6">6</option>
              
                  <option value="7">7</option>
              
                  <option value="8">8</option>
              
                  <option value="9">9</option>
              
                  <option value="10">10</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Qualificação unificada</label>
          <select class="multibox" name="qualificacao_unificada" multiple="multiple" style="display: none;">
              
                  <option value="Não avaliado">Não avaliado</option>
              
                  <option value="1">1</option>
              
                  <option value="2">2</option>
              
                  <option value="3">3</option>
              
                  <option value="4">4</option>
              
                  <option value="5">5</option>
              
                  <option value="6">6</option>
              
                  <option value="7">7</option>
              
                  <option value="8">8</option>
              
                  <option value="9">9</option>
              
                  <option value="10">10</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Delta qualificação</label>
          <select class="multibox" name="qualificacao_delta" multiple="multiple" style="display: none;">
              
                  <option value="Não avaliado">Não avaliado</option>
              
                  <option value="Menor ou igual a -2">Menor ou igual a -2</option>
              
                  <option value="-1">-1</option>
              
                  <option value="0">0</option>
              
                  <option value="1">1</option>
              
                  <option value="Maior ou igual a 2">Maior ou igual a 2</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Proposta</label>
          <span class="radioset">
              <input id="proposta1" type="radio" name="aceite.validade_da_proposta" class="check-null" value="date"><label for="proposta1">Sim</label><input id="nao-proposta1" type="radio" name="aceite.validade_da_proposta" class="check-null" value="null"><label for="nao-proposta1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Validade proposta</label>
          <input type="text" class="date gte hasDatepicker" name="aceite.validade_da_proposta" value="" id="dp1730983654331"> até <input type="text" class="date lte hasDatepicker" name="aceite.validade_da_proposta" value="" id="dp1730983654332">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Primeiro pagamento manutenção</label>
          <input type="text" class="datetime gte hasDatepicker" name="manutencao.primeiro_pagamento" value="" id="dp1730983654333"> até <input type="text" class="datetime lt hasDatepicker" name="manutencao.primeiro_pagamento" value="" id="dp1730983654334">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Outros</label>
          <select class="multibox outros_filtros" name="outros_filtros" multiple="multiple" style="display: none;">
              <option value="aceite.aceite_assinado">Contrato assinado pelo cliente</option>
              <option value="equipamento_funcionando">Sem data para funcionamento</option>
              <option value="nf_expirada">Data para funcionamento expirada</option>
              <option value="aceite.parcelas.data">Sinal vencido</option>
              <option value="previsao_de_fechamento">Sem previsão de fechamento</option>
              <option value="previsao_expirada">Previsão de fechamento expirada</option>
              <option value="sem_follow_up">Sem follow-up (novo)</option>
              <option value="sem_check_in">Sem check-in</option>
              <option value="anexos_especificos.planta_do_cliente">Planta não anexada</option>
              <option value="cliente">Cliente não informado</option>
              <option value="concorrente_desconhecido">Concorrente não identificado</option>
              <option value="sem_mbi">Sem MBI</option>
              <option value="sem_material_bruto">Sem material bruto</option>
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Chat</label>
          <input type="text" class="norm-regex" name="anotacoes.texto" value="">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Assistente GPT</label>
          <span class="radioset">
              <input id="assistencia-gpt1" type="radio" name="assistencia_gpt" value="true"><label for="assistencia-gpt1">Sim</label><input id="assistencia-gpt-nao1" type="radio" name="assistencia_gpt" value="false"><label for="assistencia-gpt-nao1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Comunicação</label>
          <select class="multibox" name="comunicacao" multiple="multiple" style="display: none;">
              
                  <option value="N/A">N/A</option>
              
                  <option value="Ativa">Ativa</option>
              
                  <option value="Sem contato">Sem contato</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Possibilidade GPT</label>
          <select class="multibox" name="possibilidade_gpt" multiple="multiple" style="display: none;">
              
                  <option value="N/A">N/A</option>
              
                  <option value="Alta">Alta</option>
              
                  <option value="Baixa">Baixa</option>
              
                  <option value="Incerta">Incerta</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Mapeamento GPT </label>
          <select class="multibox" name="mapeamento_gpt" multiple="multiple" style="display: none;">
              
                  <option value="N/A">N/A</option>
              
                  <option value="Satisfatório">Satisfatório</option>
              
                  <option value="Pendente">Pendente</option>
              
          </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 231px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>0 ✓</span></button>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Checkpoint GPT</label>
              <span class="radioset">
                  <input id="checkpoint-gpt1" type="radio" name="checkpoint_gpt.sumario" class="exists" value="true"><label for="checkpoint-gpt1">Sim</label><input id="checkpoint-gpt-nao1" type="radio" name="checkpoint_gpt.sumario" class="exists" value="false"><label for="checkpoint-gpt-nao1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Atualização checkpoint GPT</label>
          <input type="text" class="datetime gte hasDatepicker" name="checkpoint_gpt.atualizacao" value="" id="dp1730983654335"> até <input type="text" class="datetime lt hasDatepicker" name="checkpoint_gpt.atualizacao" value="" id="dp1730983654336">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Revisão visita GPT</label>
              <span class="radioset">
                  <input id="revisao-gpt1" type="radio" name="revisao_visita_gpt.analise_inicial" class="exists" value="true"><label for="revisao-gpt1">Sim</label><input id="revisao-gpt-nao1" type="radio" name="revisao_visita_gpt.analise_inicial" class="exists" value="false"><label for="revisao-gpt-nao1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Atualização revisão visita GPT</label>
          <input type="text" class="datetime gte hasDatepicker" name="revisao_visita_gpt.atualizacao" value="" id="dp1730983654337"> até <input type="text" class="datetime lt hasDatepicker" name="revisao_visita_gpt.atualizacao" value="" id="dp1730983654338">
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Entendimento revisao GPT</label>
          <span class="radioset">
              <input id="entendimento-gpt1" type="radio" name="revisao_visita_gpt.entendimento" value="non-empty-str"><label for="entendimento-gpt1">Sim</label><input id="entendimento-gpt-nao1" type="radio" name="revisao_visita_gpt.entendimento" value="empty-str"><label for="entendimento-gpt-nao1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Perguntas revisao GPT</label>
              <span class="radioset">
                  <input id="pergunta-gpt1" type="radio" name="revisao_visita_gpt.perguntas" value="non-empty-list"><label for="pergunta-gpt1">Sim</label><input id="pergunta-gpt-nao1" type="radio" name="revisao_visita_gpt.perguntas" value="empty-list"><label for="pergunta-gpt-nao1">Não</label>
              </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Resposta revisao GPT</label>
          <span class="radioset">
              <input id="resposta-gpt1" type="radio" name="revisao_visita_gpt.resposta" value="non-empty-str"><label for="resposta-gpt1">Sim</label><input id="resposta-gpt-nao1" type="radio" name="revisao_visita_gpt.resposta" value="empty-str"><label for="resposta-gpt-nao1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span style="display: none;">
          <label>Conclusão revisao GPT</label>
          <span class="radioset">
              <input id="conclusao-gpt1" type="radio" name="revisao_visita_gpt.conclusao" value="non-empty-str"><label for="conclusao-gpt1">Sim</label><input id="conclusao-gpt-nao1" type="radio" name="revisao_visita_gpt.conclusao" value="empty-str"><label for="conclusao-gpt-nao1">Não</label>
          </span>
          <span class="kill-filter"></span>
      </span>

      <span id="active-filters-tools">
          <button type="submit">Atualizar</button>
          <a href="/perdas/" class="button delete">&nbsp;</a>
      </span>
  </form>
