<nav id="gems-menu" class="gems">
  <div class="breadcrumbs-icon | gems__item">{% include "src/_includes/logo.njk" %}</div>
  
  <a href="/search" class="gems__item gems--split-bottom | icon ">search</a>
  <a href="/dashboard" class="gems__item | icon">dashboard</a>
  <a href="/calendario" class="gems__item | icon">today</a>
  <a href="/manutencao" class="gems__item | icon">bolt</a>
  <a href="/equipamentos" class="gems__item | icon">elevator</a>
  <a href="/dashboards-tv" class="gems__item | icon">tv</a>
  <a href="/chamados" class="gems__item | icon">checklist</a>
  <a href="/" class="gems__item | icon">lists</a>
  <a href="/usuario" class="gems__item gems--split-top | icon">account_circle</a>
</nav>
