<nav id="gems-menu" class="gems">
  <button gem-trigger-for="gems-sidebar-search" class="gems__item gems--split-bottom | icon ">search</button>
  <button gem-trigger-for="gems-sidebar-dashboard" class="gems__item | icon">dashboard</button>
  <button gem-trigger-for="gems-sidebar-manutencao" class="gems__item | icon" open>construction</button>
  <button gem-trigger-for="gems-sidebar-chamados" class="gems__item | icon">checklist</button>
  <button gem-trigger-for="gems-sidebar-feed" class="gems__item | icon">lists</button>
  <button gem-trigger-for="gems-sidebar-account" class="gems__item gems--split-top | icon">account_circle</button>
</nav>
