<nav id="gems-menu" class="gems">
  <button popovertarget="dock-sidebar-left-search" class="gems__item gems--split-bottom | icon ">search</button>
  <button popovertarget="dock-sidebar-left-dashboard" class="gems__item | icon">dashboard</button>
  <button popovertarget="dock-sidebar-left-today" class="gems__item | icon">today</button>
  <button popovertarget="dock-sidebar-left-bolt" class="gems__item | icon" open>bolt</button>
  <button popovertarget="dock-sidebar-left-elevator" class="gems__item | icon">elevator</button>
  <button popovertarget="dock-sidebar-left-tv" class="gems__item | icon">tv</button>
  <button popovertarget="dock-sidebar-left-checklist" class="gems__item | icon">checklist</button>
  <button popovertarget="dock-sidebar-left-lists" class="gems__item | icon">lists</button>
  <button popovertarget="dock-sidebar-left-account" class="gems__item gems--split-top | icon">account_circle</button>
</nav>
