<nav id="gems-menu" class="gems">
  <a href="/m/search" class="gems__item | icon ">search</a>
  <a href="/m/" class="gems__item | icon">checklist</a>
  <a href="/m/calendario" class="gems__item | icon">today</a>
  <a href="/m/equipamentos" class="gems__item | icon">elevator</a>
  <a href="/m/rotas" class="gems__item | icon">route</a>
</nav>
