<nav class="main-nav">
  <div class="main-nav__left">
    {# @TODO - Isso é um breadcrumb #}
    <h3>Manutenção > 11781</h3> 
  </div>
  <div class="main-nav__center">
    <a class="button" unstyled href="/">Feed</a>
    <a class="button" unstyled href="/listagem">Listagem</a>
    <a class="button" unstyled href="/form-base">Form</a>
    <a class="button" unstyled href="/dev">Testing</a>
    <a class="button" data-icon="bolt" unstyled href="/dev"></a>
  </div>
  <div class="main-nav__right">
    <button class="button" unstyled><span class="icon" trigger-target="sidebar-right">arrow_menu_close</span></button>
  </div>
</nav>


