<dialog id="janela-modal-check-in" class="modal-window">
  
  <h1>Check-in</h1>

  <form class="form">
    <div class="stack">
      <div class="field | stack">
        <label for="id_checkin__visitante" class="required">Visitante</label>
        <select id="id_checkin__visitante" class="required" name="visitante">
          <option value="">----------</option>
        </select>
      </div>

      <div class="split-50-50">
        <div class="field | stack">
          <label for="id_checkin__entrada_0" class="required">Entrada</label>
          <input id="id_checkin__entrada" type="date" class="date" name="entrada" value="" />
          <input id="id_checkin__hora_entrada" type="time" class="time" name="hora_entrada" value="" />
        </div>
        <div class="field | stack">
          <label for="id_checkin__saida_0">Saída</label>
          <input id="id_checkin__saida" type="date" class="date" name="saida" value="" />
          <input id="id_checkin__hora_saida" type="time" class="time" name="hora_saida" value=""/>
        </div>
      </div>

      <div class="field | stack">
        <label for="id_checkin__relato">Relato</label>
        <textarea id="id_checkin__relato" name="relato" rows="10" cols="40"></textarea>
      </div>

      <div id="checkin-submission-status">
        <!-- Aparece enquanto a requisição assíncrona de submissão de checkin estiver rodando. -->
        <p>Aguarde, realizando check-in…</p>
      </div>

      <footer class="modal-footer | repel">
        <button class="button" modal-close>Cancelar</button>
        <button class="button" visual="primary" title="Clique para realizar o Check-in." modal-close>Check-in</button>
        {# <button class="button" visual="primary" type="submit" title="Clique para realizar o Check-in.">Check-in</button> #}
        
      </footer>
    </div>
    
    
  </form>
</dialog>
