<div id="modal-change-password" class="modal-window" style="display: none;">
    <h1>Alterar senha</h1>

    <form action="/altera_senha/" method="post" autocomplete="off">
      <input type="hidden" name="csrfmiddlewaretoken" value="GEs0BWuJlaC6RYNtqk103wENfmtPkYogbMGUZwm2dU0782lPkTTZqEBzqfWQoZlC">
      <p>A senha deve conter, no mínimo, 8 caracteres, compostos de letras maiúsculas e minúsculas, números e símbolos, e ambos devem formar uma sequência aleatória, ou seja, não pode haver nenhum sentido lógico.</p>
      <br />
      <input type="password" style="display: none"/>
      <label for="id_senha" class="required">Nova senha</label>
      <input type="password" id="id_senha" name="senha"/>
      <br/>
      <label for="id_confirmacao_senha" class="required">Confirmação</label>
      <input type="password" id="id_confirmacao_senha" name="confirmacao_senha"/>
      <div class="modal-footer">
        <button type="submit">Salvar</button>
        <button class="cancel">Cancelar</button>
      </div>
    </form>
  </div>
