<dialog id="modal-change-anexos" class="modal-window" style="display: none;">
    <div class="modal-window__header">
        <h2>Anexos</h2>
    </div>

    <div class="modal-window__main">
      <img src="https://placehold.co/600x400" alt="Anexo">
    </div>
  </div>

  <div class="modal-window__footer">
    <button class="button" modal-close>Fechar</button>
  </div>
</dialog>
