{# A modal é controlada pela API nativa do Popover
   https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/popover
   Vale dar uma lida nela, pois é muito simples e a implementação é bem simples também.
 #}

<dialog id="modal-table-filter" class="modal-window" popover>
  <header class="modal-window__header">
    <h1>Filtrar Negócio</h1>
  </header>

  <section class="modal-window__main" >
    <!-- Essa seção só aparece se tivermos algum filtro ativo-->
      <form id="active-filters" class="form | stack">
        <fieldset class="form-panel | stack">
          <header class="form-panel__header">
            <h2 class="form-panel__title">Filtros Ativos</h2>
          </header>

          <section class="form-panel__main | columns" data-columns="2">
            {% include "_form-fields/text-based-inputs.njk" %}
          </section>
        </fieldset>

        <fieldset class="form-panel | stack">
          <header class="form-panel__header">
            <h2 class="form-panel__title">Todos os Filtros</h2>
          </header>

          <section class="form-panel__main | columns" data-columns="3">
            {% include "_form-fields/text-based-inputs.njk" %}
            {% include "_form-fields/multiselect.njk" %}
            {% include "_form-fields/date-based-inputs.njk" %}
            {% include "_form-fields/select.njk" %}
          </section>
        </fieldset>

        <fieldset class="form-panel | stack">
          <header class="form-panel__header">
            <h2 class="form-panel__title">Todos os Filtros</h2>
          </header>

          <section class="form-panel__main | columns" data-columns="4">
            {% include "_form-fields/radio-button.njk" %}
            {% include "_form-fields/checkbox-button.njk" %}
            {% include "_form-fields/checkbox-button-fancy.njk" %}
            {% include "_form-fields/radio-button-fancy.njk" %}
            {% include "_form-fields/select.njk" %}
          </section>
        </fieldset>
      </form>
  </section>
  <footer class="modal-window__footer | cluster">
    <button popovertarget="modal-table-filter" popovertargetaction="hide" class="button" type="submit" data-split>Confirmar</button>
    <button popovertarget="modal-table-filter" popovertargetaction="hide" class="button cancel" type="reset">Cancelar</button>
  </footer>
</dialog>
