<span id="paginator" class="form-group" data-split>
  <span class="button" visual="unstyled" disabled data-icon="arrow_back">&nbsp;</span>
  <span class="page-viewer">1 de 3</span>
  <a class="button" visual="unstyled"  href="#" title="Ir para a próxima página" data-icon="arrow_forward">&nbsp;</a>
</span>