{# Exemplo de Menu Popover ativado por um botão (Listagem Header) #}
<div id="menu-ferramentas" class="popover-menu" popover >
  <button class="popover-menu__item">Ver no mapa</button>
  <button class="popover-menu__item">Assinar Lista</button>
  <button class="popover-menu__item">Exportar Contatos</button>
</div>

{# Modal Table Filters #}
{% include "./modal-table-filters.njk" %}
