<form class="sidebar-form | form">
  <textarea class="sidebar-form__textarea | note-text" placeholder="Mensagem" id="dock-textarea" name="texto" data-autocomplete-source="/usuario_selecao_citacao/"></textarea>
  {# TODO: Acho que devemos fazer o botão de gravar acionar a funcão de "trancrever" automaticamente logo depois que o usuário terminar a gravação.   #}
  <button class="sidebar-form__mic button | gravar" data-icon="mic" data-color="base" data-visual="" id="dock-gravar" title="Clique para gravar"></button>
  <button class="sidebar-form__transcribe button | gravar" data-icon="transcribe" data-color="base" data-visual="" id="dock-transcribe" title="Clique para gravar"></button>
  <button data-color="primary" data-visual="primary" class="button | sidebar-form__submit" type="submit" title="Grava a nova mensagem no chat.">Enviar</button>
</form>
