<div popover id="dock-sidebar-left-search" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-search" class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>Search Sidebar</h1>
      <input type="search" placeholder="Search">
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-dashboard" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div class="gems-sidebar-menu__content" gems-sidebar-content>
      <div class="stack">
        <h2>dashboard Sidebar</h2>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <h3>Divider</h3>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
        <h3>Divider</h3>
        <a href="#" close-gems-sidebar>Menu item</a>
        <a href="#" close-gems-sidebar>Menu item</a>
      </div>
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-today" class="po-sidebar-left">
  <div class="dock-sidebar__content">
  <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
    <h1>manutencao Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-chamados"  class="gems-sidebar-menu__content" gems-sidebar-content>
    <h1>chamados Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-feed"  class="gems-sidebar-menu__content" gems-sidebar-content>
    <h1>feed Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-account"  class="gems-sidebar-menu__content" gems-sidebar-content>
    <h1>account Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  </div>
</div>

<div popover id="dock-sidebar-left-bolt" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>manutencao Sidebar</h1>
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-elevator" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>manutencao elevador Sidebar</h1>
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-tv" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>manutencao Sidebar</h1>
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-checklist" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>Chamados</h1>
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-lists" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>manutencao 2 Sidebar</h1>
    </div>
  </div>
</div>

<div popover id="dock-sidebar-left-account" class="po-sidebar-left">
  <div class="dock-sidebar__content">
    <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" gems-sidebar-content>
      <h1>account sidebar</h1>
    </div>
  </div>
</div>
