<div id="side-panel" class="sidebar-left">
  
  <section>
    <details class="filtros collapse menu" data-mode="dark">
      <summary>
        <h4 class="">Relatos nos Check-ins</h4>
      </summary>
      <ul role="menu">
        <li><a class="" href="?relatos_pipeline">Relatos Pipeline</a></li>
        <li><a class="" href="?relatos_delivery">Relatos Delivery</a></li>
        <li><a class="" href="?relatos_service">Relatos Service</a></li>
      </ul>
      
    </details>

    <details class="filtros collapse menu" data-mode="dark">
      <summary>
        <h4>Assuntos Pipeline</h4>
      </summary>
      <ul role="menu">
        <li><a href="?pipeline_cliente">Cliente</a></li>
        <li><a href="?pipeline_equipamento">Equipamento</a></li>
        <li><a href="?pipeline_atividades">Atividades</a></li>
      </ul>
    </details>

    <details class="filtros collapse menu" data-mode="dark">
      <summary>
        <h4>Assuntos Service</h4>
      </summary>
      <ul role="menu">
        <li><a href="?service_cliente">Cliente</a></li>
        <li><a href="?service_equipamento">Equipamento</a></li>
        <li><a href="?service_atividades">Atividades</a></li>
      </ul>
    </details>
    
    <details class="filtros collapse menu" data-mode="dark">
      <summary>
        <h4>Registros gerados GPT</h4>
      </summary>
      <ul role="menu">
        <li><a href="?revisao_gpt">Revisão visita</a></li>
        <li><a href="?checkpoint_gpt">Checkpoint</a></li>
        <li><a href="?lixeira_gpt">Lixeira</a></li>
      </ul>
    </details>
  </section>

  <div id="user" class="user-info" data-mode="dark">
    <img class="user-info__image" src="https://cdn.montele.ficrm.com/default-picture.png" alt="Claudio Mendonca" class="user-pic"/>
    <div class="user-info__name" id="username">Claudio Mendonca</div>
    <a href="?inbox" class="user-info__inbox" id="inbox">
      <span>Inbox</span>
      <span class="user-info__notification" id="notification-inbox-sidebar">0</span>
    </a>
    <div class="user-info__tools" id="user-tools">
      <a class="icon" id="logout" href="/logout/" title="Encerrar sessão.">logout</a>
      <a class="icon" id="change-password" href="#" title="Alterar senha.">password</a>
      <a class="icon" id="admin" href="/usuarios/" title="Listar usuários.">account_circle</a>
    </div>
  </div>

  <div id="system-version" class="system-version" data-mode="dark">Ficrm v10.9.32 &copy; 2012</div>
  </div>
