<div id="gems-sidebar-menu" class="gems-sidebar-menu | sidebar-left">
  <div id="gems-sidebar-search" class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content>
    <h1>Search Sidebar</h1>
    <input type="search" placeholder="Search">
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-dashboard"  class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content>
    <div class="stack">
      <h2>dashboard Sidebar</h2>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <h3>Divider</h3>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
      <h3>Divider</h3>
      <a href="#" close-gems-sidebar>Menu item</a>
      <a href="#" close-gems-sidebar>Menu item</a>
    </div>
  </div>
  <div id="gems-sidebar-manutencao"  class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content>
    <h1>manutencao Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-chamados"  class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content>
    <h1>chamados Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-feed"  class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content>
    <h1>feed Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
  <div id="gems-sidebar-account"  class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content>
    <h1>account Sidebar</h1>
    <button close-gems-sidebar>Close Sidebar</button>
  </div>
</div>
