<form class="sidebar-form | form">
  <textarea class="sidebar-form__textarea | note-text" placeholder="Mensagem" id="dock-textarea" name="texto" data-autocomplete-source="/usuario_selecao_citacao/"></textarea>
  <button class="button | sidebar-form__checkin" data-color="base" data-visual="primary" id="dock-check-in-button" title="Clique para fazer check-in." data-linha="Elevador">Check-in</button>
  <button data-color="primary" data-visual="primary" class="button | sidebar-form__submit" type="submit" title="Grava a nova mensagem no chat.">Enviar</button>
</form>
