.gems {
  view-transition-name: --persist-gems;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebar-left-color);
  
  @media (max-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100svw;
    overflow-x: auto;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    height: 100%;
  }
  
  .icon[aria-active="true"] {
    background-color: color-mix(in srgb, var(--sidebar-left-color) 80%, white);
    color: hsla(var(--white-hsl), 1);
  }
}

.gems__item {
  background-color: transparent;
  border: 0;
  color: hsla(var(--white-hsl), 0.6);
  font-size: 2.2rem;
  line-height: 1;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  
  @media (max-width: 1024px) { min-width: 70px; }
  @media (min-width: 1024px) { width: 100%; }
}

.gems__item:hover {
  background-color: color-mix(in srgb, var(--sidebar-left-color) 90%, white);
}

a.gems__item:hover {
  background-color: var(--accent-color);
}

.gems__item {
  overflow: visible;
}

/* .gems__submenu {
  position: absolute;
  width: max-content;
  height: 100dvh;
  top: 0;
  left: 100%;
} */

.gems--split-bottom {
  margin-bottom: auto !important;
}

.gems--split-top {
  margin-top: auto !important;
}

.montele-logo {
  @media (max-width: 1024px) {
    display: none;
  }
}