.listagem {

  .table-wrapper {
    padding-top: var(--space-xl);
  }

  a { color: var(--base-color);}
}

.listagem__header {
  .h4 {
    font-weight: 200;
  }

  .h4 strong {
    font-weight: 400;
    color: var(--accent-color);
  }

  
}

.listagem__summary {
  border-block: 1px solid var(--primary-color);
  padding-block: var(--space-s);

  /* Stacks the summary on mobile */
  @container (max-width: 400px) { display: block; }
}

.listagem td > *,
.listagem th > * {
  display: block;
}

.page-viewer {
  padding-inline: var(--space-2xs);
}

.listagem {
  .id-negocio {
    text-align: right;
    padding-right: var(--space-m);
    width: 100px;
    
    * {
      font-weight: 400;
    }
  }
}


.listagem .chat-icon .icon {
  opacity: 0.3;
  cursor: pointer;
  width: fit-content;
  margin-inline: auto;

  &:hover {
    opacity: 1;
  }
}

.listagem td.id-negocio a { 
    text-decoration: none;
    color: var(--primary-color);
}