/* Atualiza a td quando temos um .semaforo ou um .profile-pic dentro */
td:has(.semaforo),
td:has(.profile-pic) {
  position: relative;
  padding: 0;
}

/* Diminui o tamanho do ícone quando ele não é o único elemento da td ou th */
table th .icon:not(:only-child),
table td .icon:not(:only-child){ 
  font-size: 1.35rem;
  font-weight: 800;
}

table {
  [data-column="serie-desde"] { 
    .data-venda { font-weight: 200; }
  }
  [data-column="cliente-negocio"] { width: 100%;}
  [data-column="linha-segmento"] { 
    .linha { text-transform: uppercase; }
  }
}
