.logs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.log-entry {
  margin: 0;
  padding-block: var(--base-padding-block);
  border-bottom: var(--base-separator);
}

.log-entry__ai-badge {
  padding-block: 0;  
  padding-inline: 0;
  width: min-content;
  text-align: center;

  img {
    height: 2rem;
    opacity: .5;
  }
}

.log-entry__change .icon {
  font-size: 1.8rem;
  font-weight: 800;
}

.log-entry__field,
.log-entry__old-value,
.log-entry__new-value {
  display: inline-block;
  padding: var(--space-3xs) var(--space-xs);
  border-radius: var(--border-radius-s);
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-entry__field {
  background-color: var(--base-color-10-tint);
  color: var(--base-color);
}

.log-entry__old-value:empty {
  display: none;
}

.log-entry__old-value {
  color: var(--fail-color);
  background-color: var(--fail-color-10-tint);
}

.log-entry__new-value {
  color: var(--green-color);
  background-color: var(--green-color-10-tint);
}

.log-entry__date {
  width: min-content;
  text-align: right;

  time {
    color: var(--base-color-50-tint);
  }
}

.log-entry__action {
  padding: 0 var(--space-xs);
  
  .button {
    --_button-font-size: var(--size-2) !important;
  }
}