.semaforo {
  --_semaforo-background-color: color-mix(in srgb, var(--base-color) 20%, white);
  --_semaforo-border-color: var(--_semaforo-background-color);
  --_semaforo-color: var(--_semaforo-background-color);
  
  display: block;
  width: var(--size-2);
  aspect-ratio: 1;
  background-color: var(--_semaforo-background-color);
  border-radius: 100px;
  border: 1px solid var(--_semaforo-border-color);
  margin-inline: auto;

  &[data-status="concluido"]:before,
  &[data-status="atrasado"]:before,
  &[data-status="urgente"]:before {
    font-family: var(--icon-font);
    font-weight: 400;
    font-size: calc(var(--size-1));
    position: absolute;
    padding: 0;
    text-align: center;
    line-height: 1;
    aspect-ratio: 1;
    color: var(--_semaforo-color);
    transform: translate(3px, 3px); /* Fix for alignment */
  }

  &[data-status="bom"] {
    --_semaforo-background-color: var(--green-color);
  }
  &[data-status="medio"] {
    --_semaforo-background-color: var(--yellow-color);
  }
  &[data-status="ruim"] {
    --_semaforo-background-color: var(--red-color);
  }
  &[data-status="concluido"] {
    --_semaforo-background-color: var(--green-color-30-tint);
    --_semaforo-border-color: transparent;
    --_semaforo-color: var(--green-color);

    &:before { content: "check"; }
  }
  &[data-status="atrasado"] {
    --_semaforo-background-color: var(--fail-color-30-tint);
    --_semaforo-border-color: var(--fail-color-60-tint);
    --_semaforo-color: var(--fail-color);
    
    &:before {
      content: "priority_high";
    }
  }
  &[data-status="urgente"] {
    --_semaforo-background-color: var(--warning-color-30-tint);
    --_semaforo-border-color: var(--warning-color-60-tint);
    --_semaforo-color: var(--warning-color);

    &:before { content: "schedule"; }
  }
}
