<div class="custom-chart-bar">
  <a class="custom-chart-bar__data" data-color="good" style="flex:24">
    <span class="custom-chart-bar__percentage | h5">24%</span>
    <span class="custom-chart-bar__number | h3">12</span>
    <div class="custom-chart-bar__bar"></div>
    <span class="custom-chart-bar__label | h5">Vendas</span>
  </a>
  <a class="custom-chart-bar__data" data-color="warning" style="flex:41">
    <span class="custom-chart-bar__percentage | h5">41%</span>
    <span class="custom-chart-bar__number | h3">21</span>
    <div class="custom-chart-bar__bar"></div>
    <span class="custom-chart-bar__label | h5">Perdas - Não Visitado</span>
  </a>
  <a class="custom-chart-bar__data" data-color="bad" style="flex:35">
    <span class="custom-chart-bar__percentage | h5">35%</span>
    <span class="custom-chart-bar__number | h3" >18</span>
    <div class="custom-chart-bar__bar"></div>
    <span class="custom-chart-bar__label | h5">Perdas - Visitado</span>
  </a>
</div>