<header>
  <h2 class="dash-card__title | h4">Vendas <span class="color:base-50-tint">Novembro</span></h2>
  <span class="dash-card__summary-quantity | h4">12</span>
  <strong class="dash-card__summary-amount | h4">R$ 1.273.529,08</strong>
  
  <h4 class="h5">Plataformas</h4>
  <span class="h5">8</span>
  <span class="h5">R$ 678.903,27</span>
  
  <h4 class="">Elevadores</h4>
  <span class="">4</span>
  <span class="">R$ 594.625,81</span>
</header>