.callout {
  /* exposing variables to be used in the component */
  --_callout-color: var(--primary-color);

  --_callout-padding-block: var(--space-m-l);
  --_callout-padding-inline: var(--base-padding-inline);

  --_callout-border-radius: var(--border-radius-m);
  --_callout-box-shadow: 0;

  --_callout-border-width: 1px;
  --_callout-border-style: solid;



  --_callout-border-color: color-mix(in srgb, var(--_callout-color) 30%, white);
  --_callout-background-color: color-mix(in srgb, var(--_callout-color) 10%, white);
}

.callout {
  /* applying the variables to the component */
  padding: var(--_callout-padding-block) var(--_callout-padding-inline);
  border-radius: var(--_callout-border-radius);
  box-shadow: var(--_callout-box-shadow);
  border: var(--_callout-border-width) var(--_callout-border-style) var(--_callout-border-color);
  background-color: var(--_callout-background-color);
  color: var(--_callout-color);

  *:only-child { text-align: center; }
}

.callout[data-color="primary"] {
  --_callout-color: var(--primary-color);
}

.callout[data-color="secondary"] {
  --_callout-color: var(--secondary-color);
}

.callout[data-color="accent"] {
  --_callout-color: var(--accent-color);
}

.callout[data-color="green"]
.callout[data-color="success"] {
  --_callout-color: var(--success-color);
}

.callout[data-color="warning"],
.callout[data-color="yellow"] {
  --_callout-color: var(--warning-color);
}

.callout[data-color="error"]
.callout[data-color="red"] {
  --_callout-color: var(--red-color);
} 

.callout[data-color="info"],
.callout[data-color="blue"] {
  --_callout-color: var(--info-color);
}
