<div
    id="gems-sidebar-calendario"
    class="gems-sidebar-menu__content"
    aria-hidden="true"
    gems-sidebar-content="gems-sidebar-calendario">
    <h1>Calendar Sidebar</h1>
    <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
  </div>
