<div
      id="gems-sidebar-command-center"
      class="gems-sidebar-menu__content"
      aria-hidden="true"
      gems-sidebar-content="gems-sidebar-command-center">
      <h1>Command Center Sidebar</h1>
      <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
    </div>
