<div
      id="gems-sidebar-dashboard"
      class="gems-sidebar-menu__content"
      aria-hidden="true"
      gems-sidebar-content="gems-sidebar-content">
      <div class="stack">
        <h2>dashboard Sidebar</h2>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <h3>Divider</h3>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <h3>Divider</h3>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
        <a href="#" close-gems-sidebar="close-gems-sidebar">Menu item</a>
      </div>
      <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
    </div>
