<div
  id="gems-sidebar-equipamentos"
  class="gems-sidebar-menu__content"
  aria-hidden="true"
  gems-sidebar-content="gems-sidebar-equipamentos">
  <h1>Equipamentos Sidebar</h1>
  <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
</div>
