<div
      id="gems-sidebar-manutencao"
      class="gems-sidebar-menu__content"
      aria-hidden="true"
      gems-sidebar-content="gems-sidebar-content">
      <h1>manutencao Sidebar</h1>
      <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
    </div>
