<div id="gems-sidebar-search" class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content="gems-sidebar-content">
  <h1>Search Sidebar</h1>
  <div class="form-group">
    <input class="form-field__input" type="search" id="id14" name="" value="" placeholder="Busca">
    <input class="button" type="submit">
  </div>
  <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
</div>
