<div id="gems-sidebar-search" class="gems-sidebar-menu__content" aria-hidden="true" gems-sidebar-content="gems-sidebar-content">
  <h1>Search Sidebar</h1>
  <input type="search" placeholder="Search">
  <button class="button" close-gems-sidebar="close-gems-sidebar">Close Sidebar</button>
</div>
