/* Variables */
.form-field {
  --_form-field-message-hsl: var(--base-hsl);
}

.form-field * {
  transition: all 0.2s ease;
}

.form-field + .form-field {
  margin-block-start: var(--_form-field-margin-inline);
}

/* .form-field > * {
  background-color: hsla(var(--base-hsl), 0.05);
} */

/* Sets the grid for the base form-field layout */
.form-field {
  display: grid;
  /* o 36ch controla a largura máxima dos labels do .form-field */
  grid-template-columns: minmax(20ch, 1fr) 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "label input"
    ". message";
  align-items: center;
  break-inside: avoid;
}

/* Responsive changes for the form-field grid */
@container form (max-width: 500px) {
  .form-field {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    gap: var(--space-xs);
    grid-template-areas:
      "label label"
      "input input"
      "message message";

    & + & {
      margin-block-start: var(--space-m);
    }
  }

  /* Responsive changes for the form-field label */
  .form-field__label {
    text-align: left;
    padding-inline: var(--_form-field-padding-inline);
  }
}

.form-field__label {
  grid-area: label;
}

.form-field__input,
.form-field__options {
  grid-area: input;
}

.form-field__message {
  grid-area: message;
}

/* Sets the grid for the form-fields with the stack modifier  */
.form-field[stacked] {
  grid-template-columns: auto;
  grid-template-areas:
    "label"
    "input"
    "message";

  label {
    text-align: left;
  }

  textarea {
    resize: vertical;
  }
}

/* Form Field Elements */
.form-field__label {
  /* margin-left: calc(1rem + var(--space-2xs)); Magic number */
  text-align: left;

  .icon {
    line-height: 100%;
    vertical-align: middle;
  }
}

.form-field__message {
  display: none; /* Hidden by default */
  font-size: var(--size--1);
  padding: var(--space-xs) var(--space-s);
  margin-top: var(--space-xs);
  background-color: hsla(var(--_form-field-message-hsl), 0.05);
  border-left: 2px solid hsla(var(--_form-field-message-hsl), 1);
}

/* Esse seletor mostra utiliza 2 condições para mostrar a mensagem de erro:
    - o usuário tira o focus do input
    - o input tem o atributo user-invalid */
.form-field:not(:has(:focus)):has(*:user-invalid) {
  --_form-field-message-hsl: var(--red-hsl);

  .form-field__message {
    display: block; /* Show the message based on the condition above */
  }
}

.form-field__input:has(input[type="text"] ~ input[type="text"]) {
  display: flex;
  align-items: center;
  gap: var(--_input-padding-block);

  input[type="text"] {
    flex: 1;
  }
}
