<div class="form-field">
  <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
  <label class="form-field__label" for="">
    Button Group - Checkbox
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <div class="form-field__options form-group">
    <label class="button" data-color="secondary"><input type="checkbox" name="" value="">Checkbox Label</label>
    <label class="button" data-color="tertiary"><input type="checkbox" name="" value="">Checkbox Label</label>
  </div>
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
