<div class="form-field" stacked>
  <!-- Exemplo de form field com checkbox base -->
  <label class="form-field__label" for="">
    Base Checkbox
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  
  <div class="form-field__options">
    <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
    <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
    <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
    <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
  </div>
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
