<div class="form-field">
  <label class="form-field__label" for="id7">Data</label>
  <input class="form-field__input" type="date" id="id7" name="" value="">
  
</div>
<div class="form-field">
  <label class="form-field__label" for="id8">Mês</label>
  <input class="form-field__input" type="month" id="id8" name="" value="">
</div>
<div class="form-field">
  <label class="form-field__label" for="id9">Hora</label>
  <input class="form-field__input" type="time" id="id9" name="" value="">
</div>
<div class="form-field">
  <label class="form-field__label" for="id10">Data e Hora</label>
  <input class="form-field__input" type="datetime" id="id10" name="" value="">
</div>
<div class="form-field">
  <label class="form-field__label" for="id11">Data e Hora Local</label>
  <input class="form-field__input" type="datetime-local" id="id11" name="" value="">
</div>
<div class="form-field">
  <label class="form-field__label" for="id12">Semana</label>
  <input class="form-field__input" type="week" id="id12" name="" value="">
</div>
