<div class="table-wrapper">
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Nº</th>
      <th>Criação</th>
      <th>Modificação</th>
      <th>Tipo</th>
      <th>Origem</th>
      <th>Responsável</th>
      <th>Valor</th>
      <th>Fechamento</th>
    </tr>
  </thead>
  <tbody>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status=""></span>
      </td>
      <td>
        <a href="https://montele.pipedrive.com/deal/17259" target="_blank" class="strong target-url">17259</a>
      </td>
      <td title="5 de Novembro de 2020 às 16:31">05/11/2020</td>
      <td title="14 de Dezembro de 2020 às 11:04">14/12/2020</td>
      <td>Recuperação</td>
      <td><span class="chip">Solicitação do cliente</span></td>
      <td>Letícia Martins</td>
      <td>R$ 449,00</td>
      <td title="26 de Novembro de 2020 às 17:05">26/11/2020</td>
    </tr>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status="bom"></span>
      </td>
      <td>
        <a href="https://montele.pipedrive.com/deal/22379" target="_blank" class="strong target-url">22379</a>
      </td>
      <td title="17 de Fevereiro de 2022 às 14:44">17/02/2022</td>
      <td title="23 de Fevereiro de 2022 às 09:34">23/02/2022</td>
      <td>Financeiro</td>
      <td>
        <span class="chip">Base</span>
        <span class="chip" data-color="primary">Primary</span>
        <span class="chip" data-color="secondary">Secondary</span>
        <span class="chip" data-color="accent">Accent</span>
        <span class="chip" data-color="red">Red</span>
        <span class="chip" data-color="green">Green</span>
        <span class="chip" data-color="blue">Blue</span>
        <span class="chip" data-color="yellow">Yellow</span>
      </td>
      <td>Nathalia Moura</td>
      <td></td>
      <td title="23 de Fevereiro de 2022 às 09:34">23/02/2022</td>
    </tr>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status="medio"></span>
      </td>
      <td><a href="https://montele.pipedrive.com/deal/24989" target="_blank" class="strong target-url">24989</a></td>
      <td title="14 de Setembro de 2022 às 11:27">14/09/2022</td>
      <td title="30 de Setembro de 2022 às 10:10">30/09/2022</td>
      <td>Financeiro</td>
      <td>Cobrança</td>
      <td>Nathalia Moura</td>
      <td>R$ 504,69</td>
      <td title="30 de Setembro de 2022 às 10:10">30/09/2022</td>
    </tr>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status="ruim"></span>
      </td>
      <td><a href="https://montele.pipedrive.com/deal/27091" target="_blank" class="strong target-url">27091</a></td>
      <td title="16 de Março de 2023 às 09:34">16/03/2023</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
      <td>Financeiro</td>
      <td>Cobrança</td>
      <td>Carina Cunha</td>
      <td>R$ 1.089,80</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
    </tr>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status="concluido"></span>
      </td>
      <td><a href="https://montele.pipedrive.com/deal/27091" target="_blank" class="strong target-url">27091</a></td>
      <td title="16 de Março de 2023 às 09:34">16/03/2023</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
      <td>Financeiro</td>
      <td>Cobrança</td>
      <td>Carina Cunha</td>
      <td>R$ 1.089,80</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
    </tr>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status="atrasado"></span>
      </td>
      <td><a href="https://montele.pipedrive.com/deal/27091" target="_blank" class="strong target-url">27091</a></td>
      <td title="16 de Março de 2023 às 09:34">16/03/2023</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
      <td>Financeiro</td>
      <td>Cobrança</td>
      <td>Carina Cunha</td>
      <td>R$ 1.089,80</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
    </tr>
    <tr class="goto">
      <td>
        <span class="semaforo" data-status="urgente"></span>
      </td>
      <td><a href="https://montele.pipedrive.com/deal/27091" target="_blank" class="strong target-url">27091</a></td>
      <td title="16 de Março de 2023 às 09:34">16/03/2023</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
      <td>Financeiro</td>
      <td>Cobrança</td>
      <td>Carina Cunha</td>
      <td>R$ 1.089,80</td>
      <td title="21 de Março de 2023 às 10:25">21/03/2023</td>
    </tr>
  </tbody>
</table>
</div>
