<div class="form-field" stacked>
  <!-- Exemplo de form field com os elementos internos em outra ordem. Repare que isso não afeta a interface -->
  <label class="form-field__label" for="">
    Base Radio
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <div class="form-field__options">
    <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
    <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
    <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
    <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
  </div>
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
