<div class="form-field">
  <label class="form-field__label" for="id17">Seleção</label>
    <select class="form-field__select" id="id17" name="">
      <option value="option1">Opção 1</option>
      <option value="option2">Opção 2</option>
    </select>
</div>
