<div class="form-field">
  <label class="form-field__label" for="id1">
    Text 
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <input class="form-field__input" type="text" id="id1" name="" value="RESIDENCIA HERCULES JUNIOR" required>
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<div class="form-field">
  <label class="form-field__label" for="id2">
    Text Invalid
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  
  <input class="form-field__input" type="text" id="id2" name="" value="RESIDENCIA HERCULES JUNIOR" autocomplete="on" list="suggestions">
  
  {# Essa é a implementação nativa de um autocomplete #}
  <datalist id="suggestions">
    <option value="RESIDENCIA HERCULES JUNIOR">
    <option value="RESIDENCIA PAULA LAMBERT">
    <option value="RESIDENCIA CLAUDIO MENDONCA">
  </datalist>
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<div class="form-field">
  <label class="form-field__label" for="id3">
    Text Disabled
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <input class="form-field__input" type="text" id="id3" name="" value="RESIDENCIA HERCULES JUNIOR" disabled>
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<div class="form-field">
  <label class="form-field__label" for="id3">
    Text Read-only
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  
  <input class="form-field__input" type="text" id="id3" name="" value="RESIDENCIA HERCULES JUNIOR" readonly>
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<div class="form-field">
  <label class="form-field__label" class="form-field__label" for="id4">
    Senha
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <input class="form-field__input" type="password" id="id4" name="" value="" placeholder="Senha">
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
<div class="form-field">
  <label class="form-field__label" for="id5">
    Email
    <span class="form-field__info | icon">info</span>
  </label>
  <input class="form-field__input" type="email" id="id5" name="" value="" placeholder="nome@montele.ind.br">
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
<div class="form-field">
  <label class="form-field__label" for="id6">
    URL
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <input class="form-field__input" type="url" id="id6" name="" value="" placeholder="montele.ind.br">
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<div class="form-field">
  <label class="form-field__label" for="id14">
    Busca
    <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
  </label>
  <div class="form-group">
    <input class="form-field__input" type="search" id="id14" name="" value="" placeholder="Busca">
    <input class="button" type="submit">
  </div>
  
  <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
