{# Exemplo de Menu Popover ativado por um botão (Listagem Header) #}
<div id="menu-colunas" class="popover-menu" popover >
  {# <button class="popover-menu__item" onClick="toggleVisibility('serie-desde')">Serie | Desde</button> #}
  {# <button class="popover-menu__item" onClick="toggleColumnVisibility('cliente-negocio')">Cliente | Negocio</button> #}
  <button class="popover-menu__item" onClick="toggleColumnVisibility('linha-segmento')">Linha | Segmento</button>
  <button class="popover-menu__item" onClick="toggleColumnVisibility('cidade-uf')">Cidade | UF</button>
  <button class="popover-menu__item" onClick="toggleColumnVisibility('fase-alteracao')">Fase | Alteração</button>
  <button class="popover-menu__item" onClick="toggleColumnVisibility('garantia-assinatura')">Garantia</button>
  <button class="popover-menu__item" onClick="toggleColumnVisibility('te-tgf')">TE/TGF</button>
  <button class="popover-menu__item" onClick="toggleColumnVisibility('manutencao-valor-mensal')">Manutenção | Valor Mensal</button>
</div>