/* Color Values */
:root {
  --white-hsl: 255, 100%, 100%;
  --black-hsl: 0, 0%, 0%;

  --base-hsl: 0, 0%, 0%;
  --primary-hsl: 13, 78%, 61%;
  --secondary-hsl: 213, 30%, 32%;
  --tertiary-hsl: 60, 25%, 88%;
  --accent-hsl: 34, 76%, 67%;

  /* We might need to normalize this - convert to hsla */
  --green-hsl: 120, 100%, 25%;
  --red-hsl: 0, 100%, 25%;
  /* ToDO */
  --orange-hsl: 39, 100%, 50%;
  --yellow-hsl: 300, 100%, 24%;
  --blue-hsl: 240, 100%, 24%;
  --teal-hsl: 180, 100%, 24%;

  --success-hsl: var(--blue-hsl);
  --fail-hsl: var(--red-hsl);
  --warning-hsl: var(--yellow-hsl);
  --info-hsl: var(--teal-hsl);
}

/* Solid Colors */
:root {
  --white-color: hsl(var(--white-hsl));
  --black-color: hsl(var(--black-hsl));

  --base-color: hsl(var(--base-hsl));
  --primary-color: hsl(var(--primary-hsl));
  --secondary-color: hsl(var(--secondary-hsl));
  --tertiary-color: hsl(var(--tertiary-hsl));
  --accent-color: hsl(var(--accent-hsl));

  /* We might need to normalize this - convert to hsla */
  --green-color: hsl(var(--green-hsl));
  --red-color: hsl(var(--red-hsl));
  --yellow-color: hsl(var(--yellow-hsl));
  --blue-color: hsl(var(--blue-hsl));
  --teal-color: hsl(var(--teal-hsl));
}

/* Color Aliases  */

:root {
  --dark-color: var(--base-color);
  --light-color: var(--base-color-02);

  --text-color: var(--base-color);
  --link-color: var(--primary-color);

  --success-color: var(--blue-color);
  --fail-color: var(--red-color);
  --warning-color: var(--yellow-color);
  --info-color: var(--teal-color);
}

/* Color Mix | Tints */
:root {
  --base-color-90-tint: color-mix(in srgb, var(--base-color) 90%, white 10%);
  --base-color-80-tint: color-mix(in srgb, var(--base-color) 80%, white 20%);
  --base-color-70-tint: color-mix(in srgb, var(--base-color) 70%, white 30%);
  --base-color-60-tint: color-mix(in srgb, var(--base-color) 60%, white 40%);
  --base-color-50-tint: color-mix(in srgb, var(--base-color) 50%, white 50%);
  --base-color-40-tint: color-mix(in srgb, var(--base-color) 40%, white 60%);
  --base-color-30-tint: color-mix(in srgb, var(--base-color) 30%, white 70%);
  --base-color-20-tint: color-mix(in srgb, var(--base-color) 20%, white 80%);
  --base-color-10-tint: color-mix(in srgb, var(--base-color) 10%, white 90%);
  --base-color-05-tint: color-mix(in srgb, var(--base-color) 5%, white 95%);
  --base-color-02-tint: color-mix(in srgb, var(--base-color) 2%, white 98%);

  --primary-color-90-tint: color-mix(
    in srgb,
    var(--primary-color) 90%,
    white 10%
  );
  --primary-color-80-tint: color-mix(
    in srgb,
    var(--primary-color) 80%,
    white 20%
  );
  --primary-color-70-tint: color-mix(
    in srgb,
    var(--primary-color) 70%,
    white 30%
  );
  --primary-color-60-tint: color-mix(
    in srgb,
    var(--primary-color) 60%,
    white 40%
  );
  --primary-color-30-tint: color-mix(
    in srgb,
    var(--primary-color) 30%,
    white 70%
  );
  --primary-color-20-tint: color-mix(
    in srgb,
    var(--primary-color) 20%,
    white 80%
  );
  --primary-color-10-tint: color-mix(
    in srgb,
    var(--primary-color) 10%,
    white 90%
  );
  --primary-color-05-tint: color-mix(
    in srgb,
    var(--primary-color) 5%,
    white 95%
  );
  --primary-color-02-tint: color-mix(
    in srgb,
    var(--primary-color) 2%,
    white 98%
  );

  --secondary-color-90-tint: color-mix(
    in srgb,
    var(--secondary-color) 90%,
    white 10%
  );
  --secondary-color-80-tint: color-mix(
    in srgb,
    var(--secondary-color) 80%,
    white 20%
  );
  --secondary-color-70-tint: color-mix(
    in srgb,
    var(--secondary-color) 70%,
    white 30%
  );
  --secondary-color-60-tint: color-mix(
    in srgb,
    var(--secondary-color) 60%,
    white 40%
  );
  --secondary-color-30-tint: color-mix(
    in srgb,
    var(--secondary-color) 30%,
    white 70%
  );
  --secondary-color-20-tint: color-mix(
    in srgb,
    var(--secondary-color) 20%,
    white 80%
  );
  --secondary-color-10-tint: color-mix(
    in srgb,
    var(--secondary-color) 10%,
    white 90%
  );
  --secondary-color-05-tint: color-mix(
    in srgb,
    var(--secondary-color) 5%,
    white 95%
  );
  --secondary-color-02-tint: color-mix(
    in srgb,
    var(--secondary-color) 2%,
    white 98%
  );

  --tertiary-color-90-tint: color-mix(
    in srgb,
    var(--tertiary-color) 90%,
    white 10%
  );
  --tertiary-color-80-tint: color-mix(
    in srgb,
    var(--tertiary-color) 80%,
    white 20%
  );
  --tertiary-color-70-tint: color-mix(
    in srgb,
    var(--tertiary-color) 70%,
    white 30%
  );
  --tertiary-color-60-tint: color-mix(
    in srgb,
    var(--tertiary-color) 60%,
    white 40%
  );
  --tertiary-color-30-tint: color-mix(
    in srgb,
    var(--tertiary-color) 30%,
    white 70%
  );
  --tertiary-color-20-tint: color-mix(
    in srgb,
    var(--tertiary-color) 20%,
    white 80%
  );
  --tertiary-color-10-tint: color-mix(
    in srgb,
    var(--tertiary-color) 10%,
    white 90%
  );
  --tertiary-color-05-tint: color-mix(
    in srgb,
    var(--tertiary-color) 5%,
    white 95%
  );
  --tertiary-color-02-tint: color-mix(
    in srgb,
    var(--tertiary-color) 2%,
    white 98%
  );

  --accent-color-90-tint: color-mix(
    in srgb,
    var(--accent-color) 90%,
    white 10%
  );
  --accent-color-80-tint: color-mix(
    in srgb,
    var(--accent-color) 80%,
    white 20%
  );
  --accent-color-70-tint: color-mix(
    in srgb,
    var(--accent-color) 70%,
    white 30%
  );
  --accent-color-60-tint: color-mix(
    in srgb,
    var(--accent-color) 60%,
    white 40%
  );
  --accent-color-30-tint: color-mix(
    in srgb,
    var(--accent-color) 30%,
    white 70%
  );
  --accent-color-20-tint: color-mix(
    in srgb,
    var(--accent-color) 20%,
    white 80%
  );
  --accent-color-10-tint: color-mix(
    in srgb,
    var(--accent-color) 10%,
    white 90%
  );
  --accent-color-05-tint: color-mix(in srgb, var(--accent-color) 5%, white 95%);
  --accent-color-02-tint: color-mix(in srgb, var(--accent-color) 2%, white 98%);

  --black-color-90-tint: color-mix(in srgb, var(--black-color) 90%, white 10%);
  --black-color-80-tint: color-mix(in srgb, var(--black-color) 80%, white 20%);
  --black-color-70-tint: color-mix(in srgb, var(--black-color) 70%, white 30%);
  --black-color-60-tint: color-mix(in srgb, var(--black-color) 60%, white 40%);
  --black-color-30-tint: color-mix(in srgb, var(--black-color) 30%, white 70%);
  --black-color-20-tint: color-mix(in srgb, var(--black-color) 20%, white 80%);
  --black-color-10-tint: color-mix(in srgb, var(--black-color) 10%, white 90%);
  --black-color-05-tint: color-mix(in srgb, var(--black-color) 5%, white 95%);
  --black-color-02-tint: color-mix(in srgb, var(--black-color) 2%, white 98%);

  --green-color-90-tint: color-mix(in srgb, var(--green-color) 90%, white 10%);
  --green-color-80-tint: color-mix(in srgb, var(--green-color) 80%, white 20%);
  --green-color-70-tint: color-mix(in srgb, var(--green-color) 70%, white 30%);
  --green-color-60-tint: color-mix(in srgb, var(--green-color) 60%, white 40%);
  --green-color-30-tint: color-mix(in srgb, var(--green-color) 30%, white 70%);
  --green-color-20-tint: color-mix(in srgb, var(--green-color) 20%, white 80%);
  --green-color-10-tint: color-mix(in srgb, var(--green-color) 10%, white 90%);
  --green-color-05-tint: color-mix(in srgb, var(--green-color) 5%, white 95%);
  --green-color-02-tint: color-mix(in srgb, var(--green-color) 2%, white 98%);

  --red-color-90-tint: color-mix(in srgb, var(--red-color) 90%, white 10%);
  --red-color-80-tint: color-mix(in srgb, var(--red-color) 80%, white 20%);
  --red-color-70-tint: color-mix(in srgb, var(--red-color) 70%, white 30%);
  --red-color-60-tint: color-mix(in srgb, var(--red-color) 60%, white 40%);
  --red-color-30-tint: color-mix(in srgb, var(--red-color) 30%, white 70%);
  --red-color-20-tint: color-mix(in srgb, var(--red-color) 20%, white 80%);
  --red-color-10-tint: color-mix(in srgb, var(--red-color) 10%, white 90%);
  --red-color-05-tint: color-mix(in srgb, var(--red-color) 5%, white 95%);
  --red-color-02-tint: color-mix(in srgb, var(--red-color) 2%, white 98%);

  --blue-color-90-tint: color-mix(in srgb, var(--blue-color) 90%, white 10%);
  --blue-color-80-tint: color-mix(in srgb, var(--blue-color) 80%, white 20%);
  --blue-color-70-tint: color-mix(in srgb, var(--blue-color) 70%, white 30%);
  --blue-color-60-tint: color-mix(in srgb, var(--blue-color) 60%, white 40%);
  --blue-color-30-tint: color-mix(in srgb, var(--blue-color) 30%, white 70%);
  --blue-color-20-tint: color-mix(in srgb, var(--blue-color) 20%, white 80%);
  --blue-color-10-tint: color-mix(in srgb, var(--blue-color) 10%, white 90%);
  --blue-color-05-tint: color-mix(in srgb, var(--blue-color) 5%, white 95%);
  --blue-color-02-tint: color-mix(in srgb, var(--blue-color) 2%, white 98%);

  --yellow-color-90-tint: color-mix(
    in srgb,
    var(--yellow-color) 90%,
    white 10%
  );
  --yellow-color-80-tint: color-mix(
    in srgb,
    var(--yellow-color) 80%,
    white 20%
  );
  --yellow-color-70-tint: color-mix(
    in srgb,
    var(--yellow-color) 70%,
    white 30%
  );
  --yellow-color-60-tint: color-mix(
    in srgb,
    var(--yellow-color) 60%,
    white 40%
  );
  --yellow-color-30-tint: color-mix(
    in srgb,
    var(--yellow-color) 30%,
    white 70%
  );
  --yellow-color-20-tint: color-mix(
    in srgb,
    var(--yellow-color) 20%,
    white 80%
  );
  --yellow-color-10-tint: color-mix(
    in srgb,
    var(--yellow-color) 10%,
    white 90%
  );
  --yellow-color-05-tint: color-mix(in srgb, var(--yellow-color) 5%, white 95%);
  --yellow-color-02-tint: color-mix(in srgb, var(--yellow-color) 2%, white 98%);

  --success-color-90-tint: color-mix(
    in srgb,
    var(--success-color) 90%,
    white 10%
  );
  --success-color-80-tint: color-mix(
    in srgb,
    var(--success-color) 80%,
    white 20%
  );
  --success-color-70-tint: color-mix(
    in srgb,
    var(--success-color) 70%,
    white 30%
  );
  --success-color-60-tint: color-mix(
    in srgb,
    var(--success-color) 60%,
    white 40%
  );
  --success-color-30-tint: color-mix(
    in srgb,
    var(--success-color) 30%,
    white 70%
  );
  --success-color-20-tint: color-mix(
    in srgb,
    var(--success-color) 20%,
    white 80%
  );
  --success-color-10-tint: color-mix(
    in srgb,
    var(--success-color) 10%,
    white 90%
  );
  --success-color-05-tint: color-mix(
    in srgb,
    var(--success-color) 5%,
    white 95%
  );
  --success-color-02-tint: color-mix(
    in srgb,
    var(--success-color) 2%,
    white 98%
  );

  --fail-color-90-tint: color-mix(in srgb, var(--fail-color) 90%, white 10%);
  --fail-color-80-tint: color-mix(in srgb, var(--fail-color) 80%, white 20%);
  --fail-color-70-tint: color-mix(in srgb, var(--fail-color) 70%, white 30%);
  --fail-color-60-tint: color-mix(in srgb, var(--fail-color) 60%, white 40%);
  --fail-color-30-tint: color-mix(in srgb, var(--fail-color) 30%, white 70%);
  --fail-color-20-tint: color-mix(in srgb, var(--fail-color) 20%, white 80%);
  --fail-color-10-tint: color-mix(in srgb, var(--fail-color) 10%, white 90%);
  --fail-color-05-tint: color-mix(in srgb, var(--fail-color) 5%, white 95%);
  --fail-color-02-tint: color-mix(in srgb, var(--fail-color) 2%, white 98%);

  --warning-color-90-tint: color-mix(
    in srgb,
    var(--warning-color) 90%,
    white 10%
  );
  --warning-color-80-tint: color-mix(
    in srgb,
    var(--warning-color) 80%,
    white 20%
  );
  --warning-color-70-tint: color-mix(
    in srgb,
    var(--warning-color) 70%,
    white 30%
  );
  --warning-color-60-tint: color-mix(
    in srgb,
    var(--warning-color) 60%,
    white 40%
  );
  --warning-color-30-tint: color-mix(
    in srgb,
    var(--warning-color) 30%,
    white 70%
  );
  --warning-color-20-tint: color-mix(
    in srgb,
    var(--warning-color) 20%,
    white 80%
  );
  --warning-color-10-tint: color-mix(
    in srgb,
    var(--warning-color) 10%,
    white 90%
  );
  --warning-color-05-tint: color-mix(
    in srgb,
    var(--warning-color) 5%,
    white 95%
  );
  --warning-color-02-tint: color-mix(
    in srgb,
    var(--warning-color) 2%,
    white 98%
  );

  --info-color-90-tint: color-mix(in srgb, var(--info-color) 90%, white 10%);
  --info-color-80-tint: color-mix(in srgb, var(--info-color) 80%, white 20%);
  --info-color-70-tint: color-mix(in srgb, var(--info-color) 70%, white 30%);
  --info-color-60-tint: color-mix(in srgb, var(--info-color) 60%, white 40%);
  --info-color-30-tint: color-mix(in srgb, var(--info-color) 30%, white 70%);
  --info-color-20-tint: color-mix(in srgb, var(--info-color) 20%, white 80%);
  --info-color-10-tint: color-mix(in srgb, var(--info-color) 10%, white 90%);
  --info-color-05-tint: color-mix(in srgb, var(--info-color) 5%, white 95%);
  --info-color-02-tint: color-mix(in srgb, var(--info-color) 2%, white 98%);
}

/* Color Mix | Shade */
:root {
  --base-color-90-shade: color-mix(in srgb, var(--base-color) 90%, black 10%);
  --base-color-80-shade: color-mix(in srgb, var(--base-color) 80%, black 20%);
  --base-color-70-shade: color-mix(in srgb, var(--base-color) 70%, black 30%);
  --base-color-60-shade: color-mix(in srgb, var(--base-color) 60%, black 40%);
  --base-color-30-shade: color-mix(in srgb, var(--base-color) 30%, black 70%);
  --base-color-20-shade: color-mix(in srgb, var(--base-color) 20%, black 80%);
  --base-color-10-shade: color-mix(in srgb, var(--base-color) 10%, black 90%);
  --base-color-05-shade: color-mix(in srgb, var(--base-color) 5%, black 95%);
  --base-color-02-shade: color-mix(in srgb, var(--base-color) 2%, black 98%);

  --primary-color-90-shade: color-mix(
    in srgb,
    var(--primary-color) 90%,
    black 10%
  );
  --primary-color-80-shade: color-mix(
    in srgb,
    var(--primary-color) 80%,
    black 20%
  );
  --primary-color-70-shade: color-mix(
    in srgb,
    var(--primary-color) 70%,
    black 30%
  );
  --primary-color-60-shade: color-mix(
    in srgb,
    var(--primary-color) 60%,
    black 40%
  );
  --primary-color-30-shade: color-mix(
    in srgb,
    var(--primary-color) 30%,
    black 70%
  );
  --primary-color-20-shade: color-mix(
    in srgb,
    var(--primary-color) 20%,
    black 80%
  );
  --primary-color-10-shade: color-mix(
    in srgb,
    var(--primary-color) 10%,
    black 90%
  );
  --primary-color-05-shade: color-mix(
    in srgb,
    var(--primary-color) 5%,
    black 95%
  );
  --primary-color-02-shade: color-mix(
    in srgb,
    var(--primary-color) 2%,
    black 98%
  );

  --secondary-color-90-shade: color-mix(
    in srgb,
    var(--secondary-color) 90%,
    black 10%
  );
  --secondary-color-80-shade: color-mix(
    in srgb,
    var(--secondary-color) 80%,
    black 20%
  );
  --secondary-color-70-shade: color-mix(
    in srgb,
    var(--secondary-color) 70%,
    black 30%
  );
  --secondary-color-60-shade: color-mix(
    in srgb,
    var(--secondary-color) 60%,
    black 40%
  );
  --secondary-color-30-shade: color-mix(
    in srgb,
    var(--secondary-color) 30%,
    black 70%
  );
  --secondary-color-20-shade: color-mix(
    in srgb,
    var(--secondary-color) 20%,
    black 80%
  );
  --secondary-color-10-shade: color-mix(
    in srgb,
    var(--secondary-color) 10%,
    black 90%
  );
  --secondary-color-05-shade: color-mix(
    in srgb,
    var(--secondary-color) 5%,
    black 95%
  );
  --secondary-color-02-shade: color-mix(
    in srgb,
    var(--secondary-color) 2%,
    black 98%
  );

  --tertiary-color-90-shade: color-mix(
    in srgb,
    var(--tertiary-color) 90%,
    black 10%
  );
  --tertiary-color-80-shade: color-mix(
    in srgb,
    var(--tertiary-color) 80%,
    black 20%
  );
  --tertiary-color-70-shade: color-mix(
    in srgb,
    var(--tertiary-color) 70%,
    black 30%
  );
  --tertiary-color-60-shade: color-mix(
    in srgb,
    var(--tertiary-color) 60%,
    black 40%
  );
  --tertiary-color-30-shade: color-mix(
    in srgb,
    var(--tertiary-color) 30%,
    black 70%
  );
  --tertiary-color-20-shade: color-mix(
    in srgb,
    var(--tertiary-color) 20%,
    black 80%
  );
  --tertiary-color-10-shade: color-mix(
    in srgb,
    var(--tertiary-color) 10%,
    black 90%
  );
  --tertiary-color-05-shade: color-mix(
    in srgb,
    var(--tertiary-color) 5%,
    black 95%
  );
  --tertiary-color-02-shade: color-mix(
    in srgb,
    var(--tertiary-color) 2%,
    black 98%
  );

  --accent-color-90-shade: color-mix(
    in srgb,
    var(--accent-color) 90%,
    black 10%
  );
  --accent-color-80-shade: color-mix(
    in srgb,
    var(--accent-color) 80%,
    black 20%
  );
  --accent-color-70-shade: color-mix(
    in srgb,
    var(--accent-color) 70%,
    black 30%
  );
  --accent-color-60-shade: color-mix(
    in srgb,
    var(--accent-color) 60%,
    black 40%
  );
  --accent-color-30-shade: color-mix(
    in srgb,
    var(--accent-color) 30%,
    black 70%
  );
  --accent-color-20-shade: color-mix(
    in srgb,
    var(--accent-color) 20%,
    black 80%
  );
  --accent-color-10-shade: color-mix(
    in srgb,
    var(--accent-color) 10%,
    black 90%
  );
  --accent-color-05-shade: color-mix(
    in srgb,
    var(--accent-color) 5%,
    black 95%
  );
  --accent-color-02-shade: color-mix(
    in srgb,
    var(--accent-color) 2%,
    black 98%
  );

  --white-color-90-shade: color-mix(in srgb, var(--white-color) 90%, black 10%);
  --white-color-80-shade: color-mix(in srgb, var(--white-color) 80%, black 20%);
  --white-color-70-shade: color-mix(in srgb, var(--white-color) 70%, black 30%);
  --white-color-60-shade: color-mix(in srgb, var(--white-color) 60%, black 40%);
  --white-color-30-shade: color-mix(in srgb, var(--white-color) 30%, black 70%);
  --white-color-20-shade: color-mix(in srgb, var(--white-color) 20%, black 80%);
  --white-color-10-shade: color-mix(in srgb, var(--white-color) 10%, black 90%);
  --white-color-05-shade: color-mix(in srgb, var(--white-color) 5%, black 95%);
  --white-color-02-shade: color-mix(in srgb, var(--white-color) 2%, black 98%);

  --green-color-90-shade: color-mix(in srgb, var(--green-color) 90%, black 10%);
  --green-color-80-shade: color-mix(in srgb, var(--green-color) 80%, black 20%);
  --green-color-70-shade: color-mix(in srgb, var(--green-color) 70%, black 30%);
  --green-color-60-shade: color-mix(in srgb, var(--green-color) 60%, black 40%);
  --green-color-30-shade: color-mix(in srgb, var(--green-color) 30%, black 70%);
  --green-color-20-shade: color-mix(in srgb, var(--green-color) 20%, black 80%);
  --green-color-10-shade: color-mix(in srgb, var(--green-color) 10%, black 90%);
  --green-color-05-shade: color-mix(in srgb, var(--green-color) 5%, black 95%);
  --green-color-02-shade: color-mix(in srgb, var(--green-color) 2%, black 98%);

  --red-color-90-shade: color-mix(in srgb, var(--red-color) 90%, black 10%);
  --red-color-80-shade: color-mix(in srgb, var(--red-color) 80%, black 20%);
  --red-color-70-shade: color-mix(in srgb, var(--red-color) 70%, black 30%);
  --red-color-60-shade: color-mix(in srgb, var(--red-color) 60%, black 40%);
  --red-color-30-shade: color-mix(in srgb, var(--red-color) 30%, black 70%);
  --red-color-20-shade: color-mix(in srgb, var(--red-color) 20%, black 80%);
  --red-color-10-shade: color-mix(in srgb, var(--red-color) 10%, black 90%);
  --red-color-05-shade: color-mix(in srgb, var(--red-color) 5%, black 95%);
  --red-color-02-shade: color-mix(in srgb, var(--red-color) 2%, black 98%);

  --blue-color-90-shade: color-mix(in srgb, var(--blue-color) 90%, black 10%);
  --blue-color-80-shade: color-mix(in srgb, var(--blue-color) 80%, black 20%);
  --blue-color-70-shade: color-mix(in srgb, var(--blue-color) 70%, black 30%);
  --blue-color-60-shade: color-mix(in srgb, var(--blue-color) 60%, black 40%);
  --blue-color-30-shade: color-mix(in srgb, var(--blue-color) 30%, black 70%);
  --blue-color-20-shade: color-mix(in srgb, var(--blue-color) 20%, black 80%);
  --blue-color-10-shade: color-mix(in srgb, var(--blue-color) 10%, black 90%);
  --blue-color-05-shade: color-mix(in srgb, var(--blue-color) 5%, black 95%);
  --blue-color-02-shade: color-mix(in srgb, var(--blue-color) 2%, black 98%);

  --yellow-color-90-shade: color-mix(
    in srgb,
    var(--yellow-color) 90%,
    black 10%
  );
  --yellow-color-80-shade: color-mix(
    in srgb,
    var(--yellow-color) 80%,
    black 20%
  );
  --yellow-color-70-shade: color-mix(
    in srgb,
    var(--yellow-color) 70%,
    black 30%
  );
  --yellow-color-60-shade: color-mix(
    in srgb,
    var(--yellow-color) 60%,
    black 40%
  );
  --yellow-color-30-shade: color-mix(
    in srgb,
    var(--yellow-color) 30%,
    black 70%
  );
  --yellow-color-20-shade: color-mix(
    in srgb,
    var(--yellow-color) 20%,
    black 80%
  );
  --yellow-color-10-shade: color-mix(
    in srgb,
    var(--yellow-color) 10%,
    black 90%
  );
  --yellow-color-05-shade: color-mix(
    in srgb,
    var(--yellow-color) 5%,
    black 95%
  );
  --yellow-color-02-shade: color-mix(
    in srgb,
    var(--yellow-color) 2%,
    black 98%
  );

  --success-color-90-shade: color-mix(
    in srgb,
    var(--success-color) 90%,
    black 10%
  );
  --success-color-80-shade: color-mix(
    in srgb,
    var(--success-color) 80%,
    black 20%
  );
  --success-color-70-shade: color-mix(
    in srgb,
    var(--success-color) 70%,
    black 30%
  );
  --success-color-60-shade: color-mix(
    in srgb,
    var(--success-color) 60%,
    black 40%
  );
  --success-color-30-shade: color-mix(
    in srgb,
    var(--success-color) 30%,
    black 70%
  );
  --success-color-20-shade: color-mix(
    in srgb,
    var(--success-color) 20%,
    black 80%
  );
  --success-color-10-shade: color-mix(
    in srgb,
    var(--success-color) 10%,
    black 90%
  );
  --success-color-05-shade: color-mix(
    in srgb,
    var(--success-color) 5%,
    black 95%
  );
  --success-color-02-shade: color-mix(
    in srgb,
    var(--success-color) 2%,
    black 98%
  );

  --fail-color-90-shade: color-mix(in srgb, var(--fail-color) 90%, black 10%);
  --fail-color-80-shade: color-mix(in srgb, var(--fail-color) 80%, black 20%);
  --fail-color-70-shade: color-mix(in srgb, var(--fail-color) 70%, black 30%);
  --fail-color-60-shade: color-mix(in srgb, var(--fail-color) 60%, black 40%);
  --fail-color-30-shade: color-mix(in srgb, var(--fail-color) 30%, black 70%);
  --fail-color-20-shade: color-mix(in srgb, var(--fail-color) 20%, black 80%);
  --fail-color-10-shade: color-mix(in srgb, var(--fail-color) 10%, black 90%);
  --fail-color-05-shade: color-mix(in srgb, var(--fail-color) 5%, black 95%);
  --fail-color-02-shade: color-mix(in srgb, var(--fail-color) 2%, black 98%);

  --info-color-90-shade: color-mix(in srgb, var(--info-color) 90%, black 10%);
  --info-color-80-shade: color-mix(in srgb, var(--info-color) 80%, black 20%);
  --info-color-70-shade: color-mix(in srgb, var(--info-color) 70%, black 30%);
  --info-color-60-shade: color-mix(in srgb, var(--info-color) 60%, black 40%);
  --info-color-30-shade: color-mix(in srgb, var(--info-color) 30%, black 70%);
  --info-color-20-shade: color-mix(in srgb, var(--info-color) 20%, black 80%);
  --info-color-10-shade: color-mix(in srgb, var(--info-color) 10%, black 90%);
  --info-color-05-shade: color-mix(in srgb, var(--info-color) 5%, black 95%);
  --info-color-02-shade: color-mix(in srgb, var(--info-color) 2%, black 98%);

  --wraning-color-90-shade: color-mix(
    in srgb,
    var(--wraning-color) 90%,
    black 10%
  );
  --wraning-color-80-shade: color-mix(
    in srgb,
    var(--wraning-color) 80%,
    black 20%
  );
  --wraning-color-70-shade: color-mix(
    in srgb,
    var(--wraning-color) 70%,
    black 30%
  );
  --wraning-color-60-shade: color-mix(
    in srgb,
    var(--wraning-color) 60%,
    black 40%
  );
  --wraning-color-30-shade: color-mix(
    in srgb,
    var(--wraning-color) 30%,
    black 70%
  );
  --wraning-color-20-shade: color-mix(
    in srgb,
    var(--wraning-color) 20%,
    black 80%
  );
  --wraning-color-10-shade: color-mix(
    in srgb,
    var(--wraning-color) 10%,
    black 90%
  );
  --wraning-color-05-shade: color-mix(
    in srgb,
    var(--wraning-color) 5%,
    black 95%
  );
  --wraning-color-02-shade: color-mix(
    in srgb,
    var(--wraning-color) 2%,
    black 98%
  );
}

/* Color Variables - Alpha */
:root {
  --black-color-05-alpha: hsla(var(--black-hsl), 0.05);
  --black-color-10-alpha: hsla(var(--black-hsl), 0.1);
  --black-color-15-alpha: hsla(var(--black-hsl), 0.15);
  --black-color-20-alpha: hsla(var(--black-hsl), 0.2);
  --black-color-25-alpha: hsla(var(--black-hsl), 0.25);
  --black-color-30-alpha: hsla(var(--black-hsl), 0.3);
  --black-color-35-alpha: hsla(var(--black-hsl), 0.35);
  --black-color-40-alpha: hsla(var(--black-hsl), 0.4);
  --black-color-45-alpha: hsla(var(--black-hsl), 0.45);
  --black-color-50-alpha: hsla(var(--black-hsl), 0.5);
  --black-color-55-alpha: hsla(var(--black-hsl), 0.55);
  --black-color-60-alpha: hsla(var(--black-hsl), 0.6);
  --black-color-65-alpha: hsla(var(--black-hsl), 0.65);
  --black-color-70-alpha: hsla(var(--black-hsl), 0.7);
  --black-color-75-alpha: hsla(var(--black-hsl), 0.75);
  --black-color-80-alpha: hsla(var(--black-hsl), 0.8);
  --black-color-85-alpha: hsla(var(--black-hsl), 0.85);
  --black-color-90-alpha: hsla(var(--black-hsl), 0.9);
  --black-color-95-alpha: hsla(var(--black-hsl), 0.95);

  --white-color-05-alpha: hsla(var(--white-hsl), 05);
  --white-color-10-alpha: hsla(var(--white-hsl), 10);
  --white-color-15-alpha: hsla(var(--white-hsl), 15);
  --white-color-20-alpha: hsla(var(--white-hsl), 20);
  --white-color-25-alpha: hsla(var(--white-hsl), 25);
  --white-color-30-alpha: hsla(var(--white-hsl), 30);
  --white-color-35-alpha: hsla(var(--white-hsl), 35);
  --white-color-40-alpha: hsla(var(--white-hsl), 40);
  --white-color-45-alpha: hsla(var(--white-hsl), 45);
  --white-color-50-alpha: hsla(var(--white-hsl), 50);
  --white-color-55-alpha: hsla(var(--white-hsl), 55);
  --white-color-60-alpha: hsla(var(--white-hsl), 60);
  --white-color-65-alpha: hsla(var(--white-hsl), 65);
  --white-color-70-alpha: hsla(var(--white-hsl), 70);
  --white-color-75-alpha: hsla(var(--white-hsl), 75);
  --white-color-80-alpha: hsla(var(--white-hsl), 80);
  --white-color-85-alpha: hsla(var(--white-hsl), 85);
  --white-color-90-alpha: hsla(var(--white-hsl), 90);
  --white-color-95-alpha: hsla(var(--white-hsl), 95);

  --base-color-05-alpha: hsla(var(--base-hsl), 0.05);
  --base-color-10-alpha: hsla(var(--base-hsl), 0.1);
  --base-color-15-alpha: hsla(var(--base-hsl), 0.15);
  --base-color-20-alpha: hsla(var(--base-hsl), 0.2);
  --base-color-25-alpha: hsla(var(--base-hsl), 0.25);
  --base-color-30-alpha: hsla(var(--base-hsl), 0.3);
  --base-color-35-alpha: hsla(var(--base-hsl), 0.35);
  --base-color-40-alpha: hsla(var(--base-hsl), 0.4);
  --base-color-45-alpha: hsla(var(--base-hsl), 0.45);
  --base-color-50-alpha: hsla(var(--base-hsl), 0.5);
  --base-color-55-alpha: hsla(var(--base-hsl), 0.55);
  --base-color-60-alpha: hsla(var(--base-hsl), 0.6);
  --base-color-65-alpha: hsla(var(--base-hsl), 0.65);
  --base-color-70-alpha: hsla(var(--base-hsl), 0.7);
  --base-color-75-alpha: hsla(var(--base-hsl), 0.75);
  --base-color-80-alpha: hsla(var(--base-hsl), 0.8);
  --base-color-85-alpha: hsla(var(--base-hsl), 0.85);
  --base-color-90-alpha: hsla(var(--base-hsl), 0.9);
  --base-color-95-alpha: hsla(var(--base-hsl), 0.95);

  --primary-color-05-alpha: hsla(var(--primary-hsl), 0.05);
  --primary-color-10-alpha: hsla(var(--primary-hsl), 0.1);
  --primary-color-15-alpha: hsla(var(--primary-hsl), 0.15);
  --primary-color-20-alpha: hsla(var(--primary-hsl), 0.2);
  --primary-color-25-alpha: hsla(var(--primary-hsl), 0.25);
  --primary-color-30-alpha: hsla(var(--primary-hsl), 0.3);
  --primary-color-35-alpha: hsla(var(--primary-hsl), 0.35);
  --primary-color-40-alpha: hsla(var(--primary-hsl), 0.4);
  --primary-color-45-alpha: hsla(var(--primary-hsl), 0.45);
  --primary-color-50-alpha: hsla(var(--primary-hsl), 0.5);
  --primary-color-55-alpha: hsla(var(--primary-hsl), 0.55);
  --primary-color-60-alpha: hsla(var(--primary-hsl), 0.6);
  --primary-color-65-alpha: hsla(var(--primary-hsl), 0.65);
  --primary-color-70-alpha: hsla(var(--primary-hsl), 0.7);
  --primary-color-75-alpha: hsla(var(--primary-hsl), 0.75);
  --primary-color-80-alpha: hsla(var(--primary-hsl), 0.8);
  --primary-color-85-alpha: hsla(var(--primary-hsl), 0.85);
  --primary-color-90-alpha: hsla(var(--primary-hsl), 0.9);
  --primary-color-95-alpha: hsla(var(--primary-hsl), 0.95);

  --secondary-color-05-alpha: hsla(var(--secondary-hsl), 0.05);
  --secondary-color-10-alpha: hsla(var(--secondary-hsl), 0.1);
  --secondary-color-15-alpha: hsla(var(--secondary-hsl), 0.15);
  --secondary-color-20-alpha: hsla(var(--secondary-hsl), 0.2);
  --secondary-color-25-alpha: hsla(var(--secondary-hsl), 0.25);
  --secondary-color-30-alpha: hsla(var(--secondary-hsl), 0.3);
  --secondary-color-35-alpha: hsla(var(--secondary-hsl), 0.35);
  --secondary-color-40-alpha: hsla(var(--secondary-hsl), 0.4);
  --secondary-color-45-alpha: hsla(var(--secondary-hsl), 0.45);
  --secondary-color-50-alpha: hsla(var(--secondary-hsl), 0.5);
  --secondary-color-55-alpha: hsla(var(--secondary-hsl), 0.55);
  --secondary-color-60-alpha: hsla(var(--secondary-hsl), 0.6);
  --secondary-color-65-alpha: hsla(var(--secondary-hsl), 0.65);
  --secondary-color-70-alpha: hsla(var(--secondary-hsl), 0.7);
  --secondary-color-75-alpha: hsla(var(--secondary-hsl), 0.75);
  --secondary-color-80-alpha: hsla(var(--secondary-hsl), 0.8);
  --secondary-color-85-alpha: hsla(var(--secondary-hsl), 0.85);
  --secondary-color-90-alpha: hsla(var(--secondary-hsl), 0.9);
  --secondary-color-95-alpha: hsla(var(--secondary-hsl), 0.95);

  --tertiary-color-05-alpha: hsla(var(--tertiary-hsl), 0.05);
  --tertiary-color-10-alpha: hsla(var(--tertiary-hsl), 0.1);
  --tertiary-color-15-alpha: hsla(var(--tertiary-hsl), 0.15);
  --tertiary-color-20-alpha: hsla(var(--tertiary-hsl), 0.2);
  --tertiary-color-25-alpha: hsla(var(--tertiary-hsl), 0.25);
  --tertiary-color-30-alpha: hsla(var(--tertiary-hsl), 0.3);
  --tertiary-color-35-alpha: hsla(var(--tertiary-hsl), 0.35);
  --tertiary-color-40-alpha: hsla(var(--tertiary-hsl), 0.4);
  --tertiary-color-45-alpha: hsla(var(--tertiary-hsl), 0.45);
  --tertiary-color-50-alpha: hsla(var(--tertiary-hsl), 0.5);
  --tertiary-color-55-alpha: hsla(var(--tertiary-hsl), 0.55);
  --tertiary-color-60-alpha: hsla(var(--tertiary-hsl), 0.6);
  --tertiary-color-65-alpha: hsla(var(--tertiary-hsl), 0.65);
  --tertiary-color-70-alpha: hsla(var(--tertiary-hsl), 0.7);
  --tertiary-color-75-alpha: hsla(var(--tertiary-hsl), 0.75);
  --tertiary-color-80-alpha: hsla(var(--tertiary-hsl), 0.8);
  --tertiary-color-85-alpha: hsla(var(--tertiary-hsl), 0.85);
  --tertiary-color-90-alpha: hsla(var(--tertiary-hsl), 0.9);
  --tertiary-color-95-alpha: hsla(var(--tertiary-hsl), 0.95);

  --accent-color-05-alpha: hsla(var(--accent-hsl), 0.05);
  --accent-color-10-alpha: hsla(var(--accent-hsl), 0.1);
  --accent-color-15-alpha: hsla(var(--accent-hsl), 0.15);
  --accent-color-20-alpha: hsla(var(--accent-hsl), 0.2);
  --accent-color-25-alpha: hsla(var(--accent-hsl), 0.25);
  --accent-color-30-alpha: hsla(var(--accent-hsl), 0.3);
  --accent-color-35-alpha: hsla(var(--accent-hsl), 0.35);
  --accent-color-40-alpha: hsla(var(--accent-hsl), 0.4);
  --accent-color-45-alpha: hsla(var(--accent-hsl), 0.45);
  --accent-color-50-alpha: hsla(var(--accent-hsl), 0.5);
  --accent-color-55-alpha: hsla(var(--accent-hsl), 0.55);
  --accent-color-60-alpha: hsla(var(--accent-hsl), 0.6);
  --accent-color-65-alpha: hsla(var(--accent-hsl), 0.65);
  --accent-color-70-alpha: hsla(var(--accent-hsl), 0.7);
  --accent-color-75-alpha: hsla(var(--accent-hsl), 0.75);
  --accent-color-80-alpha: hsla(var(--accent-hsl), 0.8);
  --accent-color-85-alpha: hsla(var(--accent-hsl), 0.85);
  --accent-color-90-alpha: hsla(var(--accent-hsl), 0.9);
  --accent-color-95-alpha: hsla(var(--accent-hsl), 0.95);

  --green-color-05-alpha: hsla(var(--green-hsl), 0.05);
  --green-color-10-alpha: hsla(var(--green-hsl), 0.1);
  --green-color-15-alpha: hsla(var(--green-hsl), 0.15);
  --green-color-20-alpha: hsla(var(--green-hsl), 0.2);
  --green-color-25-alpha: hsla(var(--green-hsl), 0.25);
  --green-color-30-alpha: hsla(var(--green-hsl), 0.3);
  --green-color-35-alpha: hsla(var(--green-hsl), 0.35);
  --green-color-40-alpha: hsla(var(--green-hsl), 0.4);
  --green-color-45-alpha: hsla(var(--green-hsl), 0.45);
  --green-color-50-alpha: hsla(var(--green-hsl), 0.5);
  --green-color-55-alpha: hsla(var(--green-hsl), 0.55);
  --green-color-60-alpha: hsla(var(--green-hsl), 0.6);
  --green-color-65-alpha: hsla(var(--green-hsl), 0.65);
  --green-color-70-alpha: hsla(var(--green-hsl), 0.7);
  --green-color-75-alpha: hsla(var(--green-hsl), 0.75);
  --green-color-80-alpha: hsla(var(--green-hsl), 0.8);
  --green-color-85-alpha: hsla(var(--green-hsl), 0.85);
  --green-color-90-alpha: hsla(var(--green-hsl), 0.9);
  --green-color-95-alpha: hsla(var(--green-hsl), 0.95);

  --red-color-05-alpha: hsla(var(--red-hsl), 0.05);
  --red-color-10-alpha: hsla(var(--red-hsl), 0.1);
  --red-color-15-alpha: hsla(var(--red-hsl), 0.15);
  --red-color-20-alpha: hsla(var(--red-hsl), 0.2);
  --red-color-25-alpha: hsla(var(--red-hsl), 0.25);
  --red-color-30-alpha: hsla(var(--red-hsl), 0.3);
  --red-color-35-alpha: hsla(var(--red-hsl), 0.35);
  --red-color-40-alpha: hsla(var(--red-hsl), 0.4);
  --red-color-45-alpha: hsla(var(--red-hsl), 0.45);
  --red-color-50-alpha: hsla(var(--red-hsl), 0.5);
  --red-color-55-alpha: hsla(var(--red-hsl), 0.55);
  --red-color-60-alpha: hsla(var(--red-hsl), 0.6);
  --red-color-65-alpha: hsla(var(--red-hsl), 0.65);
  --red-color-70-alpha: hsla(var(--red-hsl), 0.7);
  --red-color-75-alpha: hsla(var(--red-hsl), 0.75);
  --red-color-80-alpha: hsla(var(--red-hsl), 0.8);
  --red-color-85-alpha: hsla(var(--red-hsl), 0.85);
  --red-color-90-alpha: hsla(var(--red-hsl), 0.9);
  --red-color-95-alpha: hsla(var(--red-hsl), 0.95);

  --yellow-color-05-alpha: hsla(var(--yellow-hsl), 0.05);
  --yellow-color-10-alpha: hsla(var(--yellow-hsl), 0.1);
  --yellow-color-15-alpha: hsla(var(--yellow-hsl), 0.15);
  --yellow-color-20-alpha: hsla(var(--yellow-hsl), 0.2);
  --yellow-color-25-alpha: hsla(var(--yellow-hsl), 0.25);
  --yellow-color-30-alpha: hsla(var(--yellow-hsl), 0.3);
  --yellow-color-35-alpha: hsla(var(--yellow-hsl), 0.35);
  --yellow-color-40-alpha: hsla(var(--yellow-hsl), 0.4);
  --yellow-color-45-alpha: hsla(var(--yellow-hsl), 0.45);
  --yellow-color-50-alpha: hsla(var(--yellow-hsl), 0.5);
  --yellow-color-55-alpha: hsla(var(--yellow-hsl), 0.55);
  --yellow-color-60-alpha: hsla(var(--yellow-hsl), 0.6);
  --yellow-color-65-alpha: hsla(var(--yellow-hsl), 0.65);
  --yellow-color-70-alpha: hsla(var(--yellow-hsl), 0.7);
  --yellow-color-75-alpha: hsla(var(--yellow-hsl), 0.75);
  --yellow-color-80-alpha: hsla(var(--yellow-hsl), 0.8);
  --yellow-color-85-alpha: hsla(var(--yellow-hsl), 0.85);
  --yellow-color-90-alpha: hsla(var(--yellow-hsl), 0.9);
  --yellow-color-95-alpha: hsla(var(--yellow-hsl), 0.95);

  --blue-color-05-alpha: hsla(var(--blue-hsl), 0.05);
  --blue-color-10-alpha: hsla(var(--blue-hsl), 0.1);
  --blue-color-15-alpha: hsla(var(--blue-hsl), 0.15);
  --blue-color-20-alpha: hsla(var(--blue-hsl), 0.2);
  --blue-color-25-alpha: hsla(var(--blue-hsl), 0.25);
  --blue-color-30-alpha: hsla(var(--blue-hsl), 0.3);
  --blue-color-35-alpha: hsla(var(--blue-hsl), 0.35);
  --blue-color-40-alpha: hsla(var(--blue-hsl), 0.4);
  --blue-color-45-alpha: hsla(var(--blue-hsl), 0.45);
  --blue-color-50-alpha: hsla(var(--blue-hsl), 0.5);
  --blue-color-55-alpha: hsla(var(--blue-hsl), 0.55);
  --blue-color-60-alpha: hsla(var(--blue-hsl), 0.6);
  --blue-color-65-alpha: hsla(var(--blue-hsl), 0.65);
  --blue-color-70-alpha: hsla(var(--blue-hsl), 0.7);
  --blue-color-75-alpha: hsla(var(--blue-hsl), 0.75);
  --blue-color-80-alpha: hsla(var(--blue-hsl), 0.8);
  --blue-color-85-alpha: hsla(var(--blue-hsl), 0.85);
  --blue-color-90-alpha: hsla(var(--blue-hsl), 0.9);
  --blue-color-95-alpha: hsla(var(--blue-hsl), 0.95);
}
