.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    font-size: var(--size-2);
    font-weight: 200;
  }
}

.feed-page {
  background-color: hsla(var(--tertiary-hsl), 1);
}
