.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    font-size: var(--size-2);
    font-weight: 200;
  }
}

.active-filters,
.all-filters {
  padding-block: var(--space-l);

  h3 {
    text-align: center;
    padding-bottom: var(--space-m);
  }
}

.active-filters {
  border-bottom: var(--base-separator);
}

.all-filters {
}

.color-grid {
  display: flex;
  flex-direction: column;
  padding: var(--space-l);
}

.color-grid__row {
  display: flex;

  * {
    width: 50px;
    height: 50px;
    background-color: red;
  }
}
