.feed {
  max-width: 150ch;
  
}

.feed-message.card {
  padding-top: var(--space-s);
}

.feed-message {
  /* adicionei esse calc aqui pois o size-2 estava ficando grande demais. */
  font-size: calc(var(--size-1) * 1.1); 

  h2 { 
    font-size: inherit; 
    color: var(--base-color-40-tint);
    font-weight: normal;
  }

  h3 { 
    font-size: var(--size-2); 
    color: var(--primary-color);
  }

  .automation-logo { 
    max-width: 16px; 
    opacity: .5;
    filter: grayscale();
  }
  
  img[src=""] { display: none; }
  
  .profile-pic {
    max-width: 24px; 
    opacity: 1;
  }
}


.feed-message__by-line {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  font-size: var(--size-0);
  border-bottom: 1px solid var(--base-color-10-tint);
  padding-bottom: var(--space-xs);
}

.feed-message__date {
  color: var(--base-color-60-tint);
  margin-left: auto;
}


