.feed-message h2 { 
  font-size: inherit; 
  color: var(--base-color-40-tint);
  font-weight: normal;
}

.feed-message h3 { 
  font-size: var(--size-0); 
  color: var(--primary-color);
}
.feed-message img { max-width: 20px; }

.feed-message__by-line {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  font-size: var(--size--1);

  img[src=""] { display: none; }
}
