@layer form-base {
  /* @ToDo: Testar isso
     textarea, select, input { field-sizing: content; }
  */

  input[type="hidden"],
  .ui-helper-hidden-accessible {
    /* Provavelmente posso deletar isso */
    display: none;
  }

  label,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"]
  select,
  .multiselect__button,
  textarea {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: var(--_input-border-width) var(--_input-border-style) var(--_input-border-color);
    padding-block: var(--_input-padding-block);
    padding-inline: var(--_input-padding-inline);
    border-radius: var(--_input-border-radius);
    background-color: var(--_input-background-color);
    color: var(--_input-color);
    outline: none;
    transition: all 0.2s ease;
    font-weight: 100;
    line-height: 1;
    font-size: var(--_input-font-size);
  }

  label {
    border: var(--_input-border-width) var(--_input-border-style) var(--_input-border-color);
    position: relative;
    border-color: transparent;
    background-color: transparent;
  }

  label .icon {
    position: absolute;
    line-height: 1;
    top: 0;
    height: 100%;
    padding-block: calc(var(--_input-padding-block) / 2);
    padding-inline: calc(var(--_input-padding-inline) / 2);
  }

  textarea {
    line-height: 1.4;
    field-sizing: content;
  }

  input:user-invalid,
  input:invalid,
  select:invalid,
  .multiselect__button:invalid,
  textarea:invalid {
    --_input-border-color: var(--fail-color);
  }

  select:user-valid,
  .multiselect__button:user-valid,
  input:user-valid,
  textarea:user-valid {
    --_input-border-color: var(--success-color);
  }

  .multiselect__button:focus,
  select:focus,
  input:focus,
  textarea:focus {
    --_input-border-color: var(--base-color-60-tint);
  }

  input:disabled,
  textarea:disabled {
    pointer-events: none;
    cursor: not-allowed;
    --_input-color: var(--base-color-40-tint);
    --_input-background-color: transparent;
  }

  .multiselect__button[readonly],
  select[readonly],
  input[readonly],
  textarea[readonly] {
    background-color: transparent;
    --_input-border-color: transparent;

    &:focus {
      --_input-border-color: transparent;
    }
  }

  input[list],
  select,
  .multiselect__button {
    appearance: none; /* Remove default styling */
    cursor: pointer; /* Set cursor to pointer */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNWY2MzY4Ij48cGF0aCBkPSJNNDgwLTM0NCAyNDAtNTg0bDU2LTU2IDE4NCAxODQgMTg0LTE4NCA1NiA1Ni0yNDAgMjQwWiIvPjwvc3ZnPg=="); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 1.8rem;
  }

  /* @ToDo: Talvez pensar em adicionar um ícone tipo 3 pontinhos para indicar o autocomplete */
  input[list]:hover::-webkit-calendar-picker-indicator,
  input[list]:focus::-webkit-calendar-picker-indicator,
  input[list]:active::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  .multiselect__button:not(:focus),
  select:not(:focus) {
    border-color: transparent;
  }

  input[list]:disabled,
  .multiselect__button:disabled,
  select:disabled {
    background-color: var(--base-color-40-tint); /* Set background color for disabled state */
    color: var(--base-color-20-tint); /* Set text color for disabled state */
    cursor: not-allowed; /* Set cursor to not-allowed */
  }
}

/* This form component is also set by the .button styles. Look at _button.css file for the full styles */
input[type="file"] {
  background-color: var(--_input-background-color);
  border-radius: var(--_input-border-radius);
  width: 100%;
}

input::file-selector-button {
  margin-inline-end: var(--space-xs);
  background-color: var(--white-color) !important;
}
