@layer form-custom {
  .form {
    --_input-border-width: 2px;
    --_input-border-style: solid;
    --_input-border-color: transparent;
    --_input-color: var(--base-color);
    --_input-background-color: var(--base-color-05-tint);
    --_input-padding-block: var(--space-xs);
    --_input-padding-inline: var(--space-s);
    /* --_input-padding-inline: 0; */
    --_input-border-radius: var(--border-radius-s);
  }

  .form-tab {
  }

  .form-panel {
    --_stack-space: var(--space-m-l);
    padding-bottom: var(--space-m-l);
    border: 0;
    border-bottom: 1px solid #000;
  }

  .form-panel > * + * {
    --_stack-space: var(--space-s-m);
  }

  .form__field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: var(--space-m);
    align-items: center;

    label {
      text-align: right;
    }

    & > * {
      flex: 1;
    }

    & + & {
      margin-block-start: var(--space-s);
    }
  }

  input[type="hidden"],
  .ui-helper-hidden-accessible {
    display: none;
  }

  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"],
  .form input[type="url"],
  .form input[type="date"],
  .form input[type="month"],
  .form input[type="time"],
  .form input[type="datetime"],
  .form input[type="datetime-local"],
  .form input[type="week"],
  .form input[type="number"],
  .form input[type="search"],
  .form input[type="tel"],
  .form select,
  .form textarea {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: var(--_input-border-width) var(--_input-border-style)
      var(--_input-border-color);
    padding-block: var(--_input-padding-block);
    padding-inline: var(--_input-padding-inline);
    border-radius: var(--_input-border-radius);
    background-color: var(--_input-background-color);
    color: var(--_input-color);
    outline: none;
    transition: all 0.2s ease;
  }

  .form input:user-invalid,
  .form input:invalid,
  .form select:invalid {
    --_input-border-color: var(--red-color);
  }

  .form select:user-valid,
  .form input:user-valid {
    --_input-border-color: var(--green-color);
  }

  .form select:focus,
  .form input:focus {
    --_input-border-color: var(--base-color-60-tint);
  }

  .form input:disabled {
    pointer-events: none;
    cursor: not-allowed;
    --_input-color: var(--base-color-40-tint);
    --_input-background-color: transparent;
  }

  .form input[readonly] {
    background-color: transparent;

    &:focus {
      --_input-border-color: transparent;
    }
  }

  .form .group {
    display: inline-flex;
    position: relative;
    gap: 0;

    & > * {
      flex: 1;
    }
  }

  .form .group input[type="submit"],
  .form .group button {
    flex: 0;
  }

  .form .group :first-child {
    border-radius: var(--_input-border-radius) 0 0 var(--_input-border-radius) !important;
  }
  .form .group :last-child {
    border-radius: 0 var(--_input-border-radius) var(--_input-border-radius) 0 !important;
  }

  select {
    appearance: none; /* Remove default styling */
    cursor: pointer; /* Set cursor to pointer */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjNWY2MzY4Ij48cGF0aCBkPSJNNDgwLTM0NCAyNDAtNTg0bDU2LTU2IDE4NCAxODQgMTg0LTE4NCA1NiA1Ni0yNDAgMjQwWiIvPjwvc3ZnPg=="); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 1.8rem;
  }

  select:disabled {
    background-color: var(
      --base-color-40-tint
    ); /* Set background color for disabled state */
    color: var(--base-color-20-tint); /* Set text color for disabled state */
    cursor: not-allowed; /* Set cursor to not-allowed */
  }
}

/* Container Query for the Form width */
.form {
  container-type: inline-size;
  container-name: form;
}

@container form (min-width: 800px) {
  .columns {
    columns: 2;
    column-gap: var(--space-xl);

    > * + * {
      margin-block-start: var(--space-xs);
    }
  }
}

@container form (max-width: 500px) {
  .form__field {
    grid-template-columns: 1fr;
    gap: var(--space-xs);

    label {
      text-align: left;
      padding-inline: var(--_input-padding-inline);
    }

    & + & {
      margin-block-start: var(--space-m);
    }
  }
}
