.gems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .icon {
    background-color: transparent;
    border: 0;
    color: hsla(var(--white-hsl), 0.6);
    padding-inline: 22px;
    padding-block: 21px;
    font-size: var(--size-4);
    line-height: 1;
  }

  .icon[aria-active="true"] {
    background-color: color-mix(in srgb, var(--sidebar-left-color) 80%, white);
    color: hsla(var(--white-hsl), 1);
  }
}

.gems__item {
  padding: var(--space-m);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.gems__item:hover {
  background-color: color-mix(in srgb, var(--sidebar-left-color) 90%, white);
}

a.gems__item:hover {
  background-color: var(--accent-color);
}

.gems__item {
  overflow: visible;
}

.gems__submenu {
  position: absolute;
  width: max-content;
  height: 100dvh;
  top: 0;
  left: 100%;
}

.gems--split-bottom {
  margin-bottom: auto;
}

.gems--split-top {
  margin-top: auto;
}
