.listagem {
  .table-wrapper {
    padding-top: var(--space-xl);
  }
}

.listagem__header {
  .h4 {
    font-weight: 200;
  }

  .h4 strong {
    font-weight: 400;
    color: var(--accent-color);
  }
}

.listagem__summary {
  border-block: 1px solid var(--primary-color);
  padding-block: var(--space-s);
}

.page-viewer {
  padding-inline: var(--space-2xs);
}

.listagem .chat-icon .icon {
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
