.planilha {
  th, td { white-space: nowrap; }

  
  [data-column][aria-visible] {
    opacity: 1;
    display: table-cell;
    transition: all 0.3s;
  }
  
  [data-column]:not([aria-visible]) { 
    opacity: 0;
    display: none;
    transition: all 0.3s;
  }

  .botao-colunas {
    font-size: 2rem;
    font-weight: 500 !important;
  }
}