.main-nav {
  background-color: var(--white-color);
  border-bottom: var(--base-separator);
  /* box-shadow: var(--base-box-shadow); */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-gutter);
  padding-block: var(--space-2xs);
}

.main-nav__left * {
  display: none;
}

/* This hides the logo on the smaller screens */
@media screen and (min-width: 960px) {
  .main-nav__left * {
    display: block;
    padding-inline: var(--space-m-l);
    padding-block: 0;
  }
}

.main-nav a {
  color: var(--text-color);
}
