.main-nav {
  background-color: var(--white-color);
  border-bottom: var(--base-separator);
}

.main-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: var(--base-gutter);
}

.main-nav > * {
  padding-inline: var(--space-s-m);
}

.main-nav__left {
  align-self: stretch;
  display: flex;
  padding-inline-end: 0;
  
  &::after {
    content: "";
    border-left: 36px solid var(--primary-color-20-tint);
    border-block: 36px solid transparent;
    transform: translate(36px);
  }

}

.main-nav a {
  color: var(--text-color);
}

.main-nav__center [popovertarget]:after {
  content: "keyboard_arrow_down";
  font-family: var(--icon-font);
  margin-inline-start: var(--space-3xs);
  vertical-align: text-bottom;
}
