.main-nav {
  background-color: var(--white-color);
  border-bottom: var(--base-separator);
  /* box-shadow: var(--base-box-shadow); */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: var(--base-gutter);
  padding-block: var(--space-2xs);
}

@media screen and (min-width: 1600px) {
  .main-nav__left *,
  .main-nav__right * {
    display: none;
  }
  
}


.main-nav a {
  color: var(--text-color);
}
