.modal-window {
  --_modal-box-shadow: var(--box-shadow-l);
  --_modal-border-radius: var(--border-radius-m);

  /* border-radius: var(--base-border-radius); */
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
  padding: var(--space-m-l) var(--base-padding-inline);
  --_stack-space: var(--space-s);
  border: 1px solid #ddd;
  box-shadow: var(--_modal-box-shadow);
  border-radius: var(--_modal-border-radius);
  background-color: var(--white-color);
  min-width: 800px;
}
