/* Main Nav - Not working */
[popovertarget="submenu-example"] {
  anchor-name: --submenu-example;
}

#submenu-example {
  position-anchor: --submenu-example;
}

/* Listagem */
[popovertarget="menu-ferramentas"] {
  anchor-name: --menu-ferramentas;
}

#menu-ferramentas {
  position-anchor: --menu-ferramentas;
}

[popovertarget="modal-table-filter"] {
  anchor-name: --modal-table-filter;
}

#modal-table-filter {
  position-anchor: --modal-table-filter;
}
