.sidebar-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "textarea textarea" "checkin submit";
  gap: var(--space-s);
}

.sidebar-form__textarea {
  grid-area: textarea;
}
.sidebar-form__checkin {
  grid-area: checkin;
}

.sidebar-form__checkin,
.sidebar-form__submit {
  width: 100%;
}

.sidebar-form__submit {
  grid-area: submit;
}

.sidebar-form__textarea textarea {
  min-height: 200px;
  resize: vertical;
}
