.sidebar {
  padding-top: var(--base-padding-block);
  padding-inline: var(--sidebar-padding-inline);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: var(--space-m);
  max-height: 100dvh;
  width: var(--sidebar-right-width); /* This is the  */
}

.sidebar__header {
  h1 {
    font-size: var(--size--1);
  }
  h2 {
    font-size: var(--size-0);
  }
  h3 {
    font-size: var(--size--1);
  }
  h4 {
    font-size: var(--size--1);
  }

  * {
    --_stack-space: var(--space-2xs);
  }
}
.sidebar__form {
}

.sidebar__messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-top: var(--base-separator);
  /* padding-top: var(--space-m); */
  padding-top: 0;
}

.tags {
  --_cluster-space: var(--space-3xs);
}

.chip {
  padding: var(--space-3xs) var(--space-s);
  background-color: var(--base-color-05-tint);
  font-size: var(--size--1);
  border-radius: 100px;
}

.sidebar-header {
}

.sidebar-header {
  --_stack-space: var(--space-2xs);

  hgroup * {
  }

  h1,
  h2,
  h3,
  h4 {
  }

  h1 {
    font-size: 1.25rem;
  }
}

.sidebar-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "textarea textarea textarea" "mic transcribe submit";
  gap: var(--space-s);
}

.sidebar-form__textarea {
  grid-area: textarea;
}
.sidebar-form__mic {
  grid-area: mic;
}
.sidebar-form__transcribe {
  grid-area: transcribe;
}

.sidebar-form__mic,
.sidebar-form__transcribe,
.sidebar-form__submit {
  width: 100%;
}

.sidebar-form__submit {
  grid-area: submit;
}

.sidebar-form__textarea textarea {
  min-height: 200px;
  resize: vertical;
}

.sidebar-right__trigger {
  position: absolute;
  left: 0;
  background: red;
  z-index: 1000000;
  outline: 2px solid red;
  color: red;
  top: 100px;
}
