/* TODO: Need to find a way to vertically center align the submenu with the gem  */

.sidebar-left {
  padding-block: var(--space-l);
  background-color: color-mix(in srgb, var(--sidebar-left-color) 20%, white 80%);
  padding-inline: var(--base-padding-inline);
  height: fill-available;
  justify-content: center;

  h4 {
    font-size: var(--size-0);
  }
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-xs);
}

.gems-sidebar-menu {
  div[aria-hidden="true"] {
    display: none;
  }

  div[aria-hidden="false"] {
    display: block !important;
  }
}

.po-sidebar-left {
  height: auto;
  margin: 0;
  left: 5rem;
  background-color: color-mix(in srgb, var(--sidebar-left-color) 20%, white 80%);
  box-shadow: var(--box-shadow-l);
  border: none;
}
