table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 0;
  width: 100%;

  th,
  td {
    text-align: left;
    border-bottom: 1px solid var(--base-color-20-tint);
    font-size: var(--size-0);
    padding-inline: var(--space-3xs-2xs);
  }

  td {
    padding-block: var(--space-3xs-2xs);
    color: var(--_row-color, var(--base-color));
  }

  th * { font-weight: 400; }
  a { color: var(--_row-color, var(--primary-color)); }

  a:empty ~ br,
  a:empty { display: none; }
}
   
.table-wrapper { container-type: inline-size; }


.table {
  tr[data-status] {
    --_row-color: var(--_row-background-color);
    --_row-background-color: var(--base-color);
    background-color: color-mix(in srgb, var(--_row-background-color, var(--_row-color)) 10%, var(--white-color));
  }


  tr[data-status="bom"] {
    --_row-background-color: var(--green-color);
  }
  
  tr[data-status="ruim"] {
    * {font-weight: 400;}
    --_row-background-color: var(--red-color);
  }
  tr[data-status="atencao"] {
    --_row-background-color: var(--yellow-color);
    --_row-color: var(--yellow-color-70-shade);
  }
}

