.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--_stack-space, 1.5rem);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--_cluster-space, 1rem);
  justify-content: flex-start;
  align-items: center;

  /* data-split - isso é um modifier do cluster, que empurra os elementos para o lado oposto do parent */
  [data-split] {
    margin-left: auto;
  }
}

.split-50-50 {
  display: flex;
  gap: var(--base-gutter);
}

.repel {
  display: flex;
  justify-content: space-between;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--_center-measure);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--base-gutter);
}

[data-icon]:before,
.icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

.icon,
[data-icon]:before {
  content: attr(data-icon);
  font-size: var(--size-3);
}

@container form (min-width: 800px) {
  .columns {
    columns: 2;
    column-gap: var(--space-xl);
    max-width: 98%; /* @ToDo: Magic Number - Precisamos resolver esse problema do columns. Acho que a solução vai acabar sendo uma versão do .grid para os campos do form */
  }

  .columns {
    --_column-gap: var(--space-xs);

    column-width: 24ch;
    column-gap: var(--_column-gap);
  }

  .columns[data-columns="2"] {
    columns: 2;
    column-width: auto;
    --_column-gap: var(--space-xl);
  }
  .columns[data-columns="3"] {
    columns: 3;
  }
  .columns[data-columns="4"] {
    columns: 4;
  }
}

.combo-mutiple-custom {
  display: flex;
  min-width: 250px;

  & :first-child {
    width: 100%;
  }

  & :last-child {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.po-sidebar-left {
  height: auto;
  margin: 0;
  left: 5rem;
  background-color: color-mix(in srgb, var(--sidebar-left-color) 20%, white 80%);
  box-shadow: var(--box-shadow-l);
  border: none;
}

.dock-sidebar__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
}