---
layout: "_layouts/m.njk"
title: "Agendamentos"
---

<div class="stack | padding-block:l">
  <h2 class="h3 text-align:center">Março</h2>
  {% for i in range(1, 10) %}
    <div class="card">
      <h2 class="h4">{{ (i + 10) + " Março" }}</h2>
      <p>Agendamento {{i}} - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse error doloribus quam dolorum dolore deleniti culpa?</p>
    </div>
  {% endfor %}
</div>

<div class="stack | padding-block:l">
  <h2 class="h3 text-align:center">Abril</h2>
  {% for i in range(1, 10) %}
    <div class="card">
      <h2 class="h4">{{ (i + 10) + " Abril" }}</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse error doloribus quam dolorum dolore deleniti culpa?</p>
    </div>
  {% endfor %}
</div>
