---
layout: "_layouts/m.njk"
doca_hidden: true
title: "Chamados Abertos"
---

<div class="stack padding-block:l">
{% for i in garantia.items %}
  <a class="card" href="/m/equipamento/">
    <header class="repel">
      <hgroup class="stack" style="--_stack-space: var(--space-2xs);">
        <h2 class="h5"><strong>{{i.controlevenda.numero_serie | cleanId}}</strong></h2>
        <p>{% if i.cliente.nome %}<br>{{i.cliente.nome}}{% endif %}</p>
        <p class="h5 font-weight:300">{{i.localinstalacao.logradouro}} {{i.localinstalacao.numero}}{% if i.localinstalacao.complemento %} | {{i.localinstalacao.complemento}}{% endif %}
          <br>{{i.localinstalacao.bairro}}</p>
        <p class="h5 text-transform:uppercase">{{i.linha}}</p>
      </hgroup>
      <div>
        <span class="chip" data-color="{% if i.status_operante == 'Funcionando' %}green{% else %}red{% endif %}">{{i.status_operante}}</span>
      </div>
    </header>
  </a>
{% endfor %}
</div>