---
layout: _layouts/base.njk
---
<div class="app-layout">  
  <div class="app-layout__cdm">
    {% include "src/_includes/main-nav.njk" %}
  </div>

  <main class="app-layout__main">
    <article class="main-panel">
      {{ content | safe }}
    </article>
  </main>

  {# <aside id="sidebar-left" class="app-layout__sidebar-left">
    {% include "sidebar-left.njk" %}
  </aside> #}

  <aside class="app-layout__sidebar-right" id="sidebar-right" aria-hidden="{{doca_hidden}}">
    {% include "src/_includes/sidebar-right.njk" %}
  </aside>
  <aside class="app-layout__gems" id="gems">
    {% include "src/_includes/gems.njk" %}
  </aside>

</div>

{% include "src/_includes/popovers-and-modals.njk" %}

