---
layout: _layouts/base.njk
---
<div class="app-layout">  
  <div class="app-layout__cdm">
    {% include "src/_includes/main-nav.njk" %}
  </div>

  <main class="app-layout__main">
    {{ content | safe }}
  </main>

  <aside id="sidebar-left" class="app-layout__sidebar-left">
    {% include "_gem-menus/_search.njk" %}
    {% include "_gem-menus/_dashboard.njk" %}
    {% include "_gem-menus/_calendar.njk" %}
    {% include "_gem-menus/_manutencao.njk" %}
    {% include "_gem-menus/_equipamentos.njk" %}
    {% include "_gem-menus/_command-center.njk" %}
    {% include "_gem-menus/_chamados.njk" %}
    {% include "_gem-menus/_feed.njk" %}
    {% include "_gem-menus/_usuario.njk" %}
  </aside>

  <aside class="app-layout__sidebar-right" id="sidebar-right">
    {% include "src/_includes/sidebar-right.njk" %}
  </aside>
  <aside class="app-layout__gems" id="gems">
    {% include "src/_includes/gems.njk" %}
  </aside>

</div>

{% include "src/_includes/popovers-and-modals.njk" %}

