---
layout: _layouts/base.njk
---

<div class="app-layout">
  <div class="app-layout__logo">
    {% include "src/_includes/logo.njk" %}
  </div>
  
  <div class="app-layout__nav">
    {% include "src/_includes/main-nav.njk" %}
  </div>
  
  <aside class="app-layout__sidebar-left">
    {% include "src/_includes/sidebar-left.njk" %}
    {# {% include "src/_includes/sidebar-left.njk" %} #}
  </aside>

  <main class="app-layout__main bg-secondary">
    {{ content | safe }}
  </main>

  <aside class="app-layout__sidebar-right ">
    {% include "src/_includes/sidebar-right.njk" %}
  </aside>
</div>
