---
layout: "_layouts/app.njk"
---

<div class="calendar-view">
  <div class="calendar-view__nav | repel center | padding-bottom:l">
    <button class="button" data-visual="unstyled" data-icon-before="arrow_back">Novembro</button>
    <h2>Dezembro</h2>
    <button class="button" data-visual="unstyled" data-icon-after="arrow_forward">Janeiro 2025</button>
  </div>

  <div class="calendar">
    <div class="calendar__header">Domingo</div>
    <div class="calendar__header">Segunda</div>
    <div class="calendar__header">Terça</div>
    <div class="calendar__header">Quarta</div>
    <div class="calendar__header">Quinta</div>
    <div class="calendar__header">Sexta</div>
    <div class="calendar__header">Sábado</div>
    <div class="calendar__day | calendar-day" data-month="past" data-day="28">
    </div>
    <div class="calendar__day | calendar-day" data-month="past" data-day="29">
    </div>
    <div class="calendar__day | calendar-day" data-month="past" data-day="30">
    </div>
    <div class="calendar__day | calendar-day" data-day="1">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="2">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="3">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="4">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="5">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="6">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="7">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="8">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="9">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="10">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="11">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="12">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="13" data-status="ruim">
      <h2 class="calendar-day__content">45</h2>

      <div class="calendar-day__actions">
        <span class="calendar-day__action-1">
          <span class="icon">done_all</span>12
        </span>
        <span class="calendar-day__action-2">
          <span class="icon">warning</span>3
        </span>
        <span class="calendar-day__action-3">
          <span class="icon">schedule</span>12</span>
      </div>

    </div>
    <div class="calendar__day | calendar-day" data-day="14">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="15" data-status="atencao">
      <h2 class="calendar-day__content">12</h2>

      <div class="calendar-day__actions">
        <span class="calendar-day__action-1">
          <span class="icon">done_all</span>12
        </span>
        <span class="calendar-day__action-2">
          <span class="icon">warning</span>3
        </span>
        <span class="calendar-day__action-3">
          <span class="icon">schedule</span>12</span>
      </div>

    </div>
    <div class="calendar__day | calendar-day" data-day="16">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="17" >
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="18">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="19">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="20">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="21">
      <h2 class="calendar-day__content">12</h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="22">
      <h2 class="calendar-day__content">12</h2>

      <div class="calendar-day__actions">
        <span class="calendar-day__action-1">
          <span class="icon">done_all</span>12
        </span>
        <span class="calendar-day__action-2">
          <span class="icon">warning</span>3
        </span>
        <span class="calendar-day__action-3">
          <span class="icon">schedule</span>12</span>
      </div>

    </div>
    <div class="calendar__day | calendar-day" data-day="23" data-status="bom">
      <h2 class="calendar-day__content">4</h2>

      <div class="calendar-day__actions">
        <span class="calendar-day__action-1">
          <span class="icon">done_all</span>12
        </span>
        <span class="calendar-day__action-2">
          <span class="icon">warning</span>3
        </span>
        <span class="calendar-day__action-3">
          <span class="icon">schedule</span>12</span>
      </div>

    </div>
    <div class="calendar__day | calendar-day" data-day="24">
      
    </div>
    <div class="calendar__day | calendar-day" data-day="25">
      
    </div>
    <div class="calendar__day | calendar-day" data-day="26">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="27">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="28">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="29">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="30">
      <h2 class="calendar-day__content"></h2>

    </div>
    <div class="calendar__day | calendar-day" data-day="1" data-month="next">
      <h2 class="calendar-day__content"></h2>
    </div>
    <div class="calendar__day | calendar-day" data-month="next" data-day="2">
    </div>
  </div>
</div>
