---
layout: "_layouts/app.njk"
doca_hidden: "true"
---

<div class="color-grid">
  <div class="color-grid__row">
    <div class="background-color:base-2-shade"></div>
    <div class="background-color:base-5-shade"></div>
    <div class="background-color:base-10-shade"></div>
    <div class="background-color:base-11-shade"></div>
    <div class="background-color:base-20-shade"></div>
    <div class="background-color:base-30-shade"></div>
    <div class="background-color:base-40-shade"></div>
    <div class="background-color:base-50-shade"></div>
    <div class="background-color:base-60-shade"></div>
    <div class="background-color:base-70-shade"></div>
    <div class="background-color:base-73-shade"></div>
    <div class="background-color:base-80-shade"></div>
    <div class="background-color:base-90-shade"></div>
    <div class="background-color:base-98-shade"></div>
    <div class="background-color:base-color"></div>
    <div class="background-color:base-98-tint"></div>
    <div class="background-color:base-90-tint"></div>
    <div class="background-color:base-80-tint"></div>
    <div class="background-color:base-73-tint"></div>
    <div class="background-color:base-70-tint"></div>
    <div class="background-color:base-60-tint"></div>
    <div class="background-color:base-50-tint"></div>
    <div class="background-color:base-40-tint"></div>
    <div class="background-color:base-30-tint"></div>
    <div class="background-color:base-20-tint"></div>
    <div class="background-color:base-11-tint"></div>
    <div class="background-color:base-10-tint"></div>
    <div class="background-color:base-5-tint"></div>
    <div class="background-color:base-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:primary-2-shade"></div>
    <div class="background-color:primary-5-shade"></div>
    <div class="background-color:primary-10-shade"></div>
    <div class="background-color:primary-11-shade"></div>
    <div class="background-color:primary-20-shade"></div>
    <div class="background-color:primary-30-shade"></div>
    <div class="background-color:primary-40-shade"></div>
    <div class="background-color:primary-50-shade"></div>
    <div class="background-color:primary-60-shade"></div>
    <div class="background-color:primary-70-shade"></div>
    <div class="background-color:primary-73-shade"></div>
    <div class="background-color:primary-80-shade"></div>
    <div class="background-color:primary-90-shade"></div>
    <div class="background-color:primary-98-shade"></div>
    <div class="background-color:primary-color"></div>
    <div class="background-color:primary-98-tint"></div>
    <div class="background-color:primary-90-tint"></div>
    <div class="background-color:primary-80-tint"></div>
    <div class="background-color:primary-73-tint"></div>
    <div class="background-color:primary-70-tint"></div>
    <div class="background-color:primary-60-tint"></div>
    <div class="background-color:primary-50-tint"></div>
    <div class="background-color:primary-40-tint"></div>
    <div class="background-color:primary-30-tint"></div>
    <div class="background-color:primary-20-tint"></div>
    <div class="background-color:primary-11-tint"></div>
    <div class="background-color:primary-10-tint"></div>
    <div class="background-color:primary-5-tint"></div>
    <div class="background-color:primary-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:secondary-2-shade"></div>
    <div class="background-color:secondary-5-shade"></div>
    <div class="background-color:secondary-10-shade"></div>
    <div class="background-color:secondary-11-shade"></div>
    <div class="background-color:secondary-20-shade"></div>
    <div class="background-color:secondary-30-shade"></div>
    <div class="background-color:secondary-40-shade"></div>
    <div class="background-color:secondary-50-shade"></div>
    <div class="background-color:secondary-60-shade"></div>
    <div class="background-color:secondary-70-shade"></div>
    <div class="background-color:secondary-73-shade"></div>
    <div class="background-color:secondary-80-shade"></div>
    <div class="background-color:secondary-90-shade"></div>
    <div class="background-color:secondary-98-shade"></div>
    <div class="background-color:secondary-color"></div>
    <div class="background-color:secondary-98-tint"></div>
    <div class="background-color:secondary-90-tint"></div>
    <div class="background-color:secondary-80-tint"></div>
    <div class="background-color:secondary-73-tint"></div>
    <div class="background-color:secondary-70-tint"></div>
    <div class="background-color:secondary-60-tint"></div>
    <div class="background-color:secondary-50-tint"></div>
    <div class="background-color:secondary-40-tint"></div>
    <div class="background-color:secondary-30-tint"></div>
    <div class="background-color:secondary-20-tint"></div>
    <div class="background-color:secondary-11-tint"></div>
    <div class="background-color:secondary-10-tint"></div>
    <div class="background-color:secondary-5-tint"></div>
    <div class="background-color:secondary-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:accent-2-shade"></div>
    <div class="background-color:accent-5-shade"></div>
    <div class="background-color:accent-10-shade"></div>
    <div class="background-color:accent-11-shade"></div>
    <div class="background-color:accent-20-shade"></div>
    <div class="background-color:accent-30-shade"></div>
    <div class="background-color:accent-40-shade"></div>
    <div class="background-color:accent-50-shade"></div>
    <div class="background-color:accent-60-shade"></div>
    <div class="background-color:accent-70-shade"></div>
    <div class="background-color:accent-73-shade"></div>
    <div class="background-color:accent-80-shade"></div>
    <div class="background-color:accent-90-shade"></div>
    <div class="background-color:accent-98-shade"></div>
    <div class="background-color:accent-color"></div>
    <div class="background-color:accent-98-tint"></div>
    <div class="background-color:accent-90-tint"></div>
    <div class="background-color:accent-80-tint"></div>
    <div class="background-color:accent-73-tint"></div>
    <div class="background-color:accent-70-tint"></div>
    <div class="background-color:accent-60-tint"></div>
    <div class="background-color:accent-50-tint"></div>
    <div class="background-color:accent-40-tint"></div>
    <div class="background-color:accent-30-tint"></div>
    <div class="background-color:accent-20-tint"></div>
    <div class="background-color:accent-11-tint"></div>
    <div class="background-color:accent-10-tint"></div>
    <div class="background-color:accent-5-tint"></div>
    <div class="background-color:accent-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:fail-2-shade"></div>
    <div class="background-color:fail-5-shade"></div>
    <div class="background-color:fail-10-shade"></div>
    <div class="background-color:fail-11-shade"></div>
    <div class="background-color:fail-20-shade"></div>
    <div class="background-color:fail-30-shade"></div>
    <div class="background-color:fail-40-shade"></div>
    <div class="background-color:fail-50-shade"></div>
    <div class="background-color:fail-60-shade"></div>
    <div class="background-color:fail-70-shade"></div>
    <div class="background-color:fail-73-shade"></div>
    <div class="background-color:fail-80-shade"></div>
    <div class="background-color:fail-90-shade"></div>
    <div class="background-color:fail-98-shade"></div>
    <div class="background-color:fail-color"></div>
    <div class="background-color:fail-98-tint"></div>
    <div class="background-color:fail-90-tint"></div>
    <div class="background-color:fail-80-tint"></div>
    <div class="background-color:fail-73-tint"></div>
    <div class="background-color:fail-70-tint"></div>
    <div class="background-color:fail-60-tint"></div>
    <div class="background-color:fail-50-tint"></div>
    <div class="background-color:fail-40-tint"></div>
    <div class="background-color:fail-30-tint"></div>
    <div class="background-color:fail-20-tint"></div>
    <div class="background-color:fail-11-tint"></div>
    <div class="background-color:fail-10-tint"></div>
    <div class="background-color:fail-5-tint"></div>
    <div class="background-color:fail-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:warning-2-shade"></div>
    <div class="background-color:warning-5-shade"></div>
    <div class="background-color:warning-10-shade"></div>
    <div class="background-color:warning-11-shade"></div>
    <div class="background-color:warning-20-shade"></div>
    <div class="background-color:warning-30-shade"></div>
    <div class="background-color:warning-40-shade"></div>
    <div class="background-color:warning-50-shade"></div>
    <div class="background-color:warning-60-shade"></div>
    <div class="background-color:warning-70-shade"></div>
    <div class="background-color:warning-73-shade"></div>
    <div class="background-color:warning-80-shade"></div>
    <div class="background-color:warning-90-shade"></div>
    <div class="background-color:warning-98-shade"></div>
    <div class="background-color:warning-color"></div>
    <div class="background-color:warning-98-tint"></div>
    <div class="background-color:warning-90-tint"></div>
    <div class="background-color:warning-80-tint"></div>
    <div class="background-color:warning-73-tint"></div>
    <div class="background-color:warning-70-tint"></div>
    <div class="background-color:warning-60-tint"></div>
    <div class="background-color:warning-50-tint"></div>
    <div class="background-color:warning-40-tint"></div>
    <div class="background-color:warning-30-tint"></div>
    <div class="background-color:warning-20-tint"></div>
    <div class="background-color:warning-11-tint"></div>
    <div class="background-color:warning-10-tint"></div>
    <div class="background-color:warning-5-tint"></div>
    <div class="background-color:warning-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:success-2-shade"></div>
    <div class="background-color:success-5-shade"></div>
    <div class="background-color:success-10-shade"></div>
    <div class="background-color:success-11-shade"></div>
    <div class="background-color:success-20-shade"></div>
    <div class="background-color:success-30-shade"></div>
    <div class="background-color:success-40-shade"></div>
    <div class="background-color:success-50-shade"></div>
    <div class="background-color:success-60-shade"></div>
    <div class="background-color:success-70-shade"></div>
    <div class="background-color:success-73-shade"></div>
    <div class="background-color:success-80-shade"></div>
    <div class="background-color:success-90-shade"></div>
    <div class="background-color:success-98-shade"></div>
    <div class="background-color:success-color"></div>
    <div class="background-color:success-98-tint"></div>
    <div class="background-color:success-90-tint"></div>
    <div class="background-color:success-80-tint"></div>
    <div class="background-color:success-73-tint"></div>
    <div class="background-color:success-70-tint"></div>
    <div class="background-color:success-60-tint"></div>
    <div class="background-color:success-50-tint"></div>
    <div class="background-color:success-40-tint"></div>
    <div class="background-color:success-30-tint"></div>
    <div class="background-color:success-20-tint"></div>
    <div class="background-color:success-11-tint"></div>
    <div class="background-color:success-10-tint"></div>
    <div class="background-color:success-5-tint"></div>
    <div class="background-color:success-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:info-2-shade"></div>
    <div class="background-color:info-5-shade"></div>
    <div class="background-color:info-10-shade"></div>
    <div class="background-color:info-11-shade"></div>
    <div class="background-color:info-20-shade"></div>
    <div class="background-color:info-30-shade"></div>
    <div class="background-color:info-40-shade"></div>
    <div class="background-color:info-50-shade"></div>
    <div class="background-color:info-60-shade"></div>
    <div class="background-color:info-70-shade"></div>
    <div class="background-color:info-73-shade"></div>
    <div class="background-color:info-80-shade"></div>
    <div class="background-color:info-90-shade"></div>
    <div class="background-color:info-98-shade"></div>
    <div class="background-color:info-color"></div>
    <div class="background-color:info-98-tint"></div>
    <div class="background-color:info-90-tint"></div>
    <div class="background-color:info-80-tint"></div>
    <div class="background-color:info-73-tint"></div>
    <div class="background-color:info-70-tint"></div>
    <div class="background-color:info-60-tint"></div>
    <div class="background-color:info-50-tint"></div>
    <div class="background-color:info-40-tint"></div>
    <div class="background-color:info-30-tint"></div>
    <div class="background-color:info-20-tint"></div>
    <div class="background-color:info-11-tint"></div>
    <div class="background-color:info-10-tint"></div>
    <div class="background-color:info-5-tint"></div>
    <div class="background-color:info-2-tint"></div>
  </div>
  <div class="color-grid__row">
    <div class="background-color:black-2-shade"></div>
    <div class="background-color:black-5-shade"></div>
    <div class="background-color:black-10-shade"></div>
    <div class="background-color:black-11-shade"></div>
    <div class="background-color:black-20-shade"></div>
    <div class="background-color:black-30-shade"></div>
    <div class="background-color:black-40-shade"></div>
    <div class="background-color:black-50-shade"></div>
    <div class="background-color:black-60-shade"></div>
    <div class="background-color:black-70-shade"></div>
    <div class="background-color:black-73-shade"></div>
    <div class="background-color:black-80-shade"></div>
    <div class="background-color:black-90-shade"></div>
    <div class="background-color:black-98-shade"></div>
    <div class="background-color:black-color"></div>
    <div class="background-color:black-98-tint"></div>
    <div class="background-color:black-90-tint"></div>
    <div class="background-color:black-80-tint"></div>
    <div class="background-color:black-73-tint"></div>
    <div class="background-color:black-70-tint"></div>
    <div class="background-color:black-60-tint"></div>
    <div class="background-color:black-50-tint"></div>
    <div class="background-color:black-40-tint"></div>
    <div class="background-color:black-30-tint"></div>
    <div class="background-color:black-20-tint"></div>
    <div class="background-color:black-11-tint"></div>
    <div class="background-color:black-10-tint"></div>
    <div class="background-color:black-5-tint"></div>
    <div class="background-color:black-2-tint"></div>
  </div>
</div>
