---
layout: "_layouts/app.njk"
doca_hidden: false
title: "Dashboard"
---

<div class="dashboard-grid">
  <div class="dashboard-grid__item | dashboard-card" data-size="third"><h2>Size One</h2></div>
  <div class="dashboard-grid__item | dashboard-card" data-size="third"><h2>Size One</h2></div>
  <div class="dashboard-grid__item | dashboard-card" data-size="third"><h2>Size One</h2></div>
  
  <div class="dashboard-grid__item | dashboard-card" data-size="half"><h2>Size One</h2></div>
  <div class="dashboard-grid__item | dashboard-card" data-size="half"><h2>Size One</h2></div>
  
  <div class="dashboard-grid__item | dashboard-card" data-size="third"><h2>Size One</h2></div>
  <div class="dashboard-grid__item | dashboard-card" data-size="two-thirds"><h2>Size One</h2></div>
</div>

