---
layout: "_layouts/app.njk"
doca_hidden: false
title: "Dashboard"
---

<div class="dashboard-grid">
  <div class="dashboard-grid__item | card" data-size="third"><h2>Size Third</h2></div>
  <div class="dashboard-grid__item | card" data-size="third"><h2>Size Third</h2></div>
  <div class="dashboard-grid__item | card" data-size="third"><h2>Size Third</h2></div>
  
  <div class="dashboard-grid__item | card" data-size="half"><h2>Half</h2></div>
  <div class="dashboard-grid__item | card" data-size="half"><h2>Half</h2></div>
  
  <div class="dashboard-grid__item | card" data-size="third"><h2>One Third</h2></div>
  <div class="dashboard-grid__item | card" data-size="two-thirds"><h2>Size Two-thirds</h2></div>
</div>

