---
layout: "_layouts/app.njk"
doca_hidden: "false"
---

<form class="form main-panel">
  <div class="form-tab | stack">
    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Multibox</h2>
      </header>

      <section class="form-panel__main | columns">
        <div class="form-field">
          <label class="form-field__label" for="id2">Text</label>
          <select class="form-field__input">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id1">Text</label>
          
          <div class="form-field__input form-group" multiselect >
            <input type="text">

            <div id="form-multiselect-001" class="form-field__options" data-visual="fancy" popover>
              <!-- We need to have this alternative implementation
                   with the .icon inside the label because 
                   a :before inside a label inside a popover doesn't work -->
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
              <label><span class="icon"></span><input type="checkbox" name="" value="">Checkbox Label</label>
            </div>
            
            <button popovertarget="form-multiselect-001" class="button" type="button">Select</button>
            
          </div>
          
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          
          
        </div>

        <div class="form-field" stacked>
          <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
          <label class="form-field__label" for="">Fancy Checkbox
            <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          </label>
          <div class="form-field__options" data-visual="fancy">
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        
      </section>
      
      <footer class="form-panel__footer | cluster">
        <button class="button" data-color="primary" type="submit">Primary</button>
        <button class="button" data-color="secondary" type="submit">Secondary</button>
        <button class="button" data-color="accent" type="submit">Accent</button>
        <!-- Exemplo de data-split - Veja _utils.css > cluster  -->
        <button class="button" data-color="base" type="submit" data-split>Base</button>
        <button class="button" data-color="base" type="submit" disabled>Base</button>
        
      </footer>
    </fieldset>
  </div>
</form>  


{# Uma ideia que o Copilot deu #}
{# <form class="form main-panel">
  <div class="form-tab | stack">
    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Multibox</h2>
      </header>

      <section class="form-panel__main | columns">
        <div class="form-field">
          <label class="form-field__label" for="checkboxes">Checkboxes</label>
          <div id="checkboxes" class="form-field__input" data-visual="fancy">
            <label><input type="checkbox" value="Option 1">Option 1</label>
            <label><input type="checkbox" value="Option 2">Option 2</label>
            <label><input type="checkbox" value="Option 3">Option 3</label>
            <label><input type="checkbox" value="Option 4">Option 4</label>
          </div>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="select">Select</label>
          <select id="select" class="form-field__input" multiple>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
          </select>
        </div>
      </section>
    </fieldset>
  </div>
</form>

<script>
  document.querySelectorAll('#checkboxes input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      const select = document.getElementById('select');
      const option = Array.from(select.options).find(opt => opt.value === this.value);
      if (this.checked) {
        option.selected = true;
      } else {
        option.selected = false;
      }
    });
  });
</script> #}
