---
layout: "_layouts/app.njk"
doca_hidden: "true"
---

<div class="test">
  <div class="color-grid">
    <div class="background-color:base-100"></div>
    <div class="background-color:base-98"></div>
    <div class="background-color:base-90"></div>
    <div class="background-color:base-80"></div>
    <div class="background-color:base-73"></div>
    <div class="background-color:base-70"></div>
    <div class="background-color:base-60"></div>
    <div class="background-color:base-50"></div>
    <div class="background-color:base-40"></div>
    <div class="background-color:base-30"></div>
    <div class="background-color:base-20"></div>
    <div class="background-color:base-11"></div>
    <div class="background-color:base-10"></div>
    <div class="background-color:base-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:primary-100"></div>
    <div class="background-color:primary-98"></div>
    <div class="background-color:primary-90"></div>
    <div class="background-color:primary-80"></div>
    <div class="background-color:primary-73"></div>
    <div class="background-color:primary-70"></div>
    <div class="background-color:primary-60"></div>
    <div class="background-color:primary-50"></div>
    <div class="background-color:primary-40"></div>
    <div class="background-color:primary-30"></div>
    <div class="background-color:primary-20"></div>
    <div class="background-color:primary-11"></div>
    <div class="background-color:primary-10"></div>
    <div class="background-color:primary-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:secondary-100"></div>
    <div class="background-color:secondary-98"></div>
    <div class="background-color:secondary-90"></div>
    <div class="background-color:secondary-80"></div>
    <div class="background-color:secondary-73"></div>
    <div class="background-color:secondary-70"></div>
    <div class="background-color:secondary-60"></div>
    <div class="background-color:secondary-50"></div>
    <div class="background-color:secondary-40"></div>
    <div class="background-color:secondary-30"></div>
    <div class="background-color:secondary-20"></div>
    <div class="background-color:secondary-11"></div>
    <div class="background-color:secondary-10"></div>
    <div class="background-color:secondary-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:accent-100"></div>
    <div class="background-color:accent-98"></div>
    <div class="background-color:accent-90"></div>
    <div class="background-color:accent-80"></div>
    <div class="background-color:accent-73"></div>
    <div class="background-color:accent-70"></div>
    <div class="background-color:accent-60"></div>
    <div class="background-color:accent-50"></div>
    <div class="background-color:accent-40"></div>
    <div class="background-color:accent-30"></div>
    <div class="background-color:accent-20"></div>
    <div class="background-color:accent-11"></div>
    <div class="background-color:accent-10"></div>
    <div class="background-color:accent-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:fail-100"></div>
    <div class="background-color:fail-98"></div>
    <div class="background-color:fail-90"></div>
    <div class="background-color:fail-80"></div>
    <div class="background-color:fail-73"></div>
    <div class="background-color:fail-70"></div>
    <div class="background-color:fail-60"></div>
    <div class="background-color:fail-50"></div>
    <div class="background-color:fail-40"></div>
    <div class="background-color:fail-30"></div>
    <div class="background-color:fail-20"></div>
    <div class="background-color:fail-11"></div>
    <div class="background-color:fail-10"></div>
    <div class="background-color:fail-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:warning-100"></div>
    <div class="background-color:warning-98"></div>
    <div class="background-color:warning-90"></div>
    <div class="background-color:warning-80"></div>
    <div class="background-color:warning-73"></div>
    <div class="background-color:warning-70"></div>
    <div class="background-color:warning-60"></div>
    <div class="background-color:warning-50"></div>
    <div class="background-color:warning-40"></div>
    <div class="background-color:warning-30"></div>
    <div class="background-color:warning-20"></div>
    <div class="background-color:warning-11"></div>
    <div class="background-color:warning-10"></div>
    <div class="background-color:warning-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:success-100"></div>
    <div class="background-color:success-98"></div>
    <div class="background-color:success-90"></div>
    <div class="background-color:success-80"></div>
    <div class="background-color:success-73"></div>
    <div class="background-color:success-70"></div>
    <div class="background-color:success-60"></div>
    <div class="background-color:success-50"></div>
    <div class="background-color:success-40"></div>
    <div class="background-color:success-30"></div>
    <div class="background-color:success-20"></div>
    <div class="background-color:success-11"></div>
    <div class="background-color:success-10"></div>
    <div class="background-color:success-2"></div>
  </div>
  <div class="color-grid">
    <div class="background-color:info-100"></div>
    <div class="background-color:info-98"></div>
    <div class="background-color:info-90"></div>
    <div class="background-color:info-80"></div>
    <div class="background-color:info-73"></div>
    <div class="background-color:info-70"></div>
    <div class="background-color:info-60"></div>
    <div class="background-color:info-50"></div>
    <div class="background-color:info-40"></div>
    <div class="background-color:info-30"></div>
    <div class="background-color:info-20"></div>
    <div class="background-color:info-11"></div>
    <div class="background-color:info-10"></div>
    <div class="background-color:info-2"></div>
  </div>
</div>
