---
layout: "_layouts/app.njk"
doca_hidden: "false"
---

<form class="form main-panel">
  <div class="form-tab | stack">
    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Button Groups</h2>
      </header>

      <section class="form-panel__main | columns" data-columns="2">

        <div class="form-field">
          <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
          <label class="form-field__label" for="">
            Button Group - Checkbox
            <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          </label>
          <div class="form-field__options form-group">
            <label class="button" data-color="secondary"><input type="checkbox" name="" value="">Checkbox Label</label>
            <label class="button" data-color="tertiary"><input type="checkbox" name="" value="">Checkbox Label</label>
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="form-field">
          <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
          <label class="form-field__label" for="">
            Button Group - Radios
            <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          </label>
          <div class="form-field__options form-group">
            <label class="button" data-color="primary"><input type="radio" name="radio-03" value="">Radio Label</label>
            <label class="button" data-color="primary"><input type="radio" name="radio-03" value="">Radio Label</label>
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="form-field">
          <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
          <label class="form-field__label" for="">
            Input Group - text
          </label>
          <div class="form-field__input">
            <input type="text"> até
            <input type="text">
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
        </div>
      </section>
      
      <footer class="form-panel__footer | cluster">
        <button class="button" data-color="primary" type="submit">Primary</button>
        <button class="button" data-color="secondary" type="submit">Secondary</button>
        <button class="button" data-color="accent" type="submit">Accent</button>
        <!-- Exemplo de data-split - Veja _utils.css > cluster  -->
        <button class="button" data-color="base" type="submit" data-split>Base</button>
        <button class="button" data-color="base" type="submit" disabled>Base</button>
        
      </footer>
    </fieldset>

    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Text Based Inputs</h2>
      </header>

      <section class="form-panel__main | columns">
        <div class="form-field">
          <label class="form-field__label" for="id1">Text</label>
          <input class="form-field__input" type="text" id="id1" name="" value="RESIDENCIA HERCULES JUNIOR" required>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        
        <div class="form-field">
          <label class="form-field__label" for="id2">Text Invalid</label>
          <input class="form-field__input" type="text" id="id2" name="" value="RESIDENCIA HERCULES JUNIOR" autocomplete="on" list="suggestions">
          <datalist id="suggestions">
            <option value="RESIDENCIA HERCULES JUNIOR">
            <option value="RESIDENCIA PAULA LAMBERT">
            <option value="RESIDENCIA CLAUDIO MENDONCA">
          </datalist>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        
        <div class="form-field">
          <label class="form-field__label" for="id3">Text Disabled</label>
          <input class="form-field__input" type="text" id="id3" name="" value="RESIDENCIA HERCULES JUNIOR" disabled>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        
        

        
      
        <div class="form-field">
          <label class="form-field__label" for="id3">Text Read-only</label>
          <input class="form-field__input" type="text" id="id3" name="" value="RESIDENCIA HERCULES JUNIOR" readonly>
          
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="form-field">
          <label class="form-field__label" class="form-field__label" for="id4">Senha</label>
          <input class="form-field__input" type="password" id="id4" name="" value="" placeholder="Senha">
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id5">Email</label>
          <input class="form-field__input" type="email" id="id5" name="" value="" placeholder="nome@montele.ind.br">
          <span class="form-field__info | icon">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id6">URL</label>
          <input class="form-field__input" type="url" id="id6" name="" value="" placeholder="montele.ind.br">
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="form-field">
          <label class="form-field__label" for="id14">Busca</label>
          <div class="form-group">
            <input class="form-field__input" type="search" id="id14" name="" value="" placeholder="Busca">
            <input class="button" type="submit">
          </div>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </section>
      
      <footer class="form-panel__footer | cluster">
        <button class="button" data-visual="primary" data-color="primary" type="submit">Primary</button>
        <button class="button" data-visual="primary" data-color="secondary" type="submit">Secondary</button>
        <button class="button" data-visual="primary" data-color="accent" type="submit">Accent</button>
        <button class="button" data-visual="primary" data-color="base" type="submit">Base</button>
        <button class="button" data-visual="primary" data-color="base" type="submit" disabled>Base</button>
      </footer>
    </fieldset>
    
    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Date Based Inputs</h2>
      </header>

      <section class="form-panel__main | columns">
        <div class="form-field">
          <label class="form-field__label" for="id7">Data</label>
          <input class="form-field__input" type="date" id="id7" name="" value="">
          
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id8">Mês</label>
          <input class="form-field__input" type="month" id="id8" name="" value="">
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id9">Hora</label>
          <input class="form-field__input" type="time" id="id9" name="" value="">
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id10">Data e Hora</label>
          <input class="form-field__input" type="datetime" id="id10" name="" value="">
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id11">Data e Hora Local</label>
          <input class="form-field__input" type="datetime-local" id="id11" name="" value="">
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id12">Semana</label>
          <input class="form-field__input" type="week" id="id12" name="" value="">
        </div>
      </section>
      
      <footer class="form-panel__footer | cluster">
        <button class="button" data-color="primary" type="submit">Primary</button>
        <button class="button" data-color="secondary" type="submit">Secondary</button>
        <button class="button" data-color="accent" type="submit">Accent</button>
        <button class="button" data-color="base" type="submit">Base</button>
        <button class="button" data-color="base" type="submit" disabled>Base</button>
        
      </footer>
    </fieldset>

    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Checkboxes and Radios</h2>
      </header>

      <section class="form-panel__main | columns" data-columns="4">
        <div class="form-field" stacked>
          <!-- Exemplo de form field com checkbox base -->
          <label class="form-field__label" for="">Base Checkbox</label>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <div class="form-field__options">
            <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
            <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
            <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
            <label><input type="checkbox" name="base-checkbox-01" value="">Checkbox Label</label>
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="form-field" stacked>
          <!-- Exemplo de form field com os elementos internos em outra ordem. Repare que isso não afeta a interface -->
          <label class="form-field__label" for="">Base Radio</label>
          <div class="form-field__options">
            <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
            <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
            <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
            <label><input type="radio" name="base-radio-01" value="">Radio Label</label>
          </div>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        
        <div class="form-field" stacked>
          <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
          <label class="form-field__label" for="">
            Fancy Checkbox
            <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          </label>
          <div class="form-field__options" data-visual="fancy">
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
            <label><input type="checkbox" name="" value="">Checkbox Label</label>
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="form-field" stacked>
          <!-- Exemplo de form field com o .form-field__info dentro do .form-field__label. Isso faz o ícone do info aparecer logo depois da label -->
          <label class="form-field__label" for="">
            Fancy Radio
            <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          </label>
          <div class="form-field__options" data-visual="fancy">
            <label><input type="radio" name="radio-fancy-01" value="">Radio Label</label>
            <label><input type="radio" name="radio-fancy-01" value="">Radio Label</label>
            <label><input type="radio" name="radio-fancy-01" value="">Radio Label</label>
            <label><input type="radio" name="radio-fancy-01" value="">Radio Label</label>
          </div>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        
      </section>
      
      <footer class="form-panel__footer | cluster">
        <button class="button" data-visual="unstyled" data-color="primary" type="submit">Primary</button>
        <button class="button" data-visual="unstyled" data-color="secondary" type="submit">Secondary</button>
        <button class="button" data-visual="unstyled" data-color="accent" type="submit">Accent</button>
        <button class="button" data-visual="unstyled" data-color="base" type="submit">Base</button>
        <button class="button" data-visual="unstyled" data-color="base" disabled type="submit">Base</button>
      </footer>
    </fieldset>
    
    
    <fieldset class="form-panel | stack">
      <header class="form-panel__header">
        <h2 class="form-panel__title">Extra Form Fields</h2>
      </header>

      <section class="form-panel__main | columns">
        <div class="form-field">
          <label class="form-field__label" for="id13">Número</label>
          <input class="form-field__input" type="number" id="id13" name="" value="" placeholder="999">
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id15">Telefone</label>
          <input class="form-field__input" type="tel" id="id15" name="" value="" placeholder="999">
        </div>
        <div class="form-field">
          <label class="form-field__label" for="id17">Seleção</label>
          <select class="form-field__input" id="id17" name="">
            <option value="option1">Opção 1</option>
            <option value="option2">Opção 2</option>
          </select>
        </div>

        <div class="form-field" stacked>
          <label class="form-field__label" for="id19">Área de Texto</label>
          <textarea class="form-field__input" id="id19" name=""></textarea>
          <span class="form-field__info | icon" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quis quam sapiente quasi ipsum accusantium hic dolorem porro, qui accusamus libero a laudantium assumenda nostrum enim iusto esse cupiditate architecto.">info</span>
          <p class="form-field__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </section>
      
      <footer class="form-panel__footer | cluster">
        <button class="button" data-visual="unstyled" data-color="primary" type="submit">Primary</button>
        <button class="button" data-visual="unstyled" data-color="secondary" type="submit">Secondary</button>
        <button class="button" data-visual="unstyled" data-color="accent" type="submit">Accent</button>
        <button class="button" data-visual="unstyled" data-color="base" type="submit">Base</button>
        <button class="button" data-visual="unstyled" data-color="base" disabled type="submit">Base</button>
      </footer>
    </fieldset>
    
  </div>
</form>  
