---
layout: "_layouts/app.njk"
doca_hidden: "true"
title: "Listagem"
region: São Paulo
---

<div id="listing-panel" class="listagem">
  
  <header class="listagem__header stack">
    <div class="cluster">
      <h2>Negócios Abertos</h2>

      {# escondemos o paginador por enquanto
         {% include "./_includes/paginator.njk" %} 
      #}
      
      <button class="button" popovertarget="menu-ferramentas">Ferramentas</button>
      <button class="button" popovertarget="modal-table-filter">Filtros(2)</button>
    </div>

    <div class="listagem__summary | repel">
      <div class="h4">Exibindo <strong>31</strong> negócios</div>
      <div class="h4">Preço de tabela: total <strong>R$ 4.201.194,76</strong></div>
      <div class="h4">Preço final: total: <strong>R$ 4.159.066,97</strong></div>
    </div>
  </header>
{#   
  <div id="table-filter-modal" class="modal" popover>
    {% include "./_includes/list-tools.njk" %}
  </div> #}
  
  <div class="table-wrapper">
  <table id="listing" class="table">
    <thead>
      <tr>
        <th class="table-th id-negocio"><a href="#" title="Número do negócio. Clique para ordenar pela coluna.">Número</a></th>
        <th class="table-th"><a href="#" title="Cliente. Clique para ordenar pela coluna.">Cliente</a>
            <a href="#" title="Nome do negócio. Clique para ordenar pela coluna.">Negócio</a>
        </th>
        <th class="table-th">
          <span title="Linha.">Linha</span>
          <span title="Segmento.">Segmento</span>
        </th>
        <th class="table-th">
          <a href="#" title="Cidade do negócio. Clique para ordenar pela coluna.">Cidade</a>
          <span title="Unidade federativa da cidade do negócio.">UF</span>
        </th>
        <th class="table-th">
          <a href="" title="Vendedor. Clique para ordenar pela coluna.">Vendedor</a>
          <a href="" title="Data da última visita. Clique para ordenar pela coluna.">Última Visita</a>
        </th>
        <th class="table-th">
          <span title="Concorrente vencedor.">Concorrente venc.</span>
          <a href="#" title="Data de descarte do negócio. Clique para ordenar pela coluna.">Descarte</a>
        </th>
        <th>
          <a href="#" title="Data da criação do negócio. Clique para ordenar pela coluna.">Desde</a>
          <a href="#" title="Data de modificação do negócio. Clique para ordenar pela coluna.">Alteração</a>
        </th>
        <th>
          <span title="Qualificação">Q</span>
        </th>
        <th>
          <a href="#" title="Indicação para o equipamento no projeto arquitetônico:. Clique para ordenar pela coluna.">P</a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="goto" data-status="bom">
        <td class="id-negocio"><a href="#" class="strong target-url numero-equipamento">11781</a></td>
        <td>
          <a href="#" title=""></a>
          <a href="#" title="GALPAO LOGISTICO RDG ACOS DO BRASIL">GALPAO LOGISTICO RDG ACOS DO BRASIL</a>
        </td>
        <td>
          <a href="?filters=eyJsaW5oYSI6IHsiJGluIjogWyJlbGV2YWRvciJdfX0=" title="Elevador">Elevador</a>
          <a href="?filters=eyJzZWdtZW50byI6IHsiJGluIjogWyJJbmR1c3RyaWFsL0xvZ1x1MDBlZHN0aWNvIl19fQ==" title="Industrial/Logístico">Industrial/Logístico</a>
        </td>
        <td>
          <a href="?filters=eyJsb2NhbGluc3RhbGFjYW8uY2lkYWRlLmlkIjogIk9iamVjdElkKDUwODFmOGU4ZjVhNDBmMTI5ZDAwMTMwOCkifQ==" title="Serra">Serra</a>
          <a href="?filters=eyJsb2NhbGluc3RhbGFjYW8uY2lkYWRlLnVmIjogeyIkaW4iOiBbIkVTIl19fQ==">ES</a>
        </td>
        <td>
          <a href="?filters=eyJ2ZW5kZWRvci51c2VybmFtZSI6IHsiJGluIjogWyJhbmRyZWEudWhsaWciXX19" title="Andrea Uhlig">Andrea Uhlig</a>
          <a href="?filters=eyJwcmltZWlyYV92aXNpdGEiOiB7IiR0eXBlIjogIm51bGwifX0=" title="Negócio não visitado">Não visitado</a>
        </td>
        <td>
          <a href="#" title=""></a>
          <a href="#" title="24 de Setembro de 2024 às 14:07">24/09/2024</a>
        </td>
        <td>
          <a href="#" title="18 de Setembro de 2024 às 09:55">18/09/2024</a>
          <a href="#" title="10 de Outubro de 2024 às 10:13">10/10/2024</a>
        </td>
        <td>
          <a href="#" title="Qualificação visitado">9</a>
        </td>
        <td>
          <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
        </td>
        <td class="chat-icon" data-documento="66eacddb8ce92cfb9a51348b"><span class="sidebar-action-row | icon">chat</span></td>
      </tr>
      <tr class="goto" data-status="ruim">
     <td class="id-negocio"><a href="#" class="strong target-url">90959</a></td>
        <td>
          <a href="#" title="STAN INCORPORADORA">STAN INCORPORADORA</a>
          <a href="#" title="EDIFICIO FUNCHAL 641 RESIDENCES - LOJA 03">EDIFICIO FUNCHAL 641 RESIDENCES - LOJA 03</a>
        </td>
        <td>
          <a href="#" title="PL-200">PL-200</a>
          <a href="#" title="Comercial">Comercial</a>
        </td>
        <td>
          <a href="#" title="São Paulo">São Paulo</a>
          <a href="#">SP</a>
        </td>
        <td>
          <a href="#" title="Corporativo Montele">Corporativo Montele</a>
          <a href="#" title="Negócio não visitado">Não visitado</a>
        </td>
        <td>
          <a href="#" title=""></a>
          <a href="#" title="30 de Setembro de 2024 às 17:47">30/09/2024</a>
        </td>

        <td>
          <a href="#" title="20 de Outubro de 2020 às 09:41">20/10/2020</a>
          <a href="#" title="1 de Outubro de 2024 às 11:41">01/10/2024</a>
        </td>

        <td>
          <a style="color: #F44336; font-size: 14px; font-weight: bold; font-style: italic" href="#" title="Qualificação inicial">?</a>
        </td>

        <td>
          <a style="color: #326B00" href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
        </td>

        <td class="chat-icon" data-documento="5f8edb14c2c26c517e3bc48f"><span class="sidebar-action-row | icon">chat</span></td>
        </tr>

        <tr class="goto" data-status="atencao">
     <td class="id-negocio"><a href="/negocio/90960/" class="strong target-url">90960</a></td>

        <td>
          <a href="#" title="STAN INCORPORADORA">STAN INCORPORADORA</a>
          <a href="/negocio/90960/" title="EDIFICIO FUNCHAL 641 RESIDENCES -  LOJA 02">EDIFICIO FUNCHAL 641 RESIDENCES -  LOJA 02</a>
        </td>

        <td>
          <a href="#" title="PL-200">PL-200</a>
          <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
        </td>

        <td>
          <a href="#" title="São Paulo">São Paulo</a>
          <a href="#" title="SP">SP</a>
        </td>

        <td>
          <a href="#" title="Corporativo Montele">Corporativo Montele</a>
          <a href="#" title="Negócio não visitado">Não visitado</a>
        </td>

        <td>
          <a href="#" title=""></a>
          <a href="#" title="30 de Setembro de 2024 às 17:47">30/09/2024</a>
        </td>

        <td>
          <a href="#" title="20 de Outubro de 2020 às 09:41">20/10/2020</a>
          <a href="#" title="1 de Outubro de 2024 às 11:41">01/10/2024</a>
        </td>

        <td>
          <a style="color: #F44336; font-size: 14px; font-weight: bold; font-style: italic" href="#" title="Qualificação inicial">?</a>
        </td>

        <td>
          <a style="color: #326B00" href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
        </td>

        <td class="chat-icon" data-documento="5f8edb16c2c26c517dc0e122"><span class="sidebar-action-row | icon">chat</span></td>
        </tr>

        <tr class="goto">
        <td class="id-negocio"><a href="/negocio/90961/" class="strong target-url">90961</a></td>

        <td>
          <a href="#" title="STAN INCORPORADORA">STAN INCORPORADORA</a>
          <a href="/negocio/90961/" title="EDIFICIO FUNCHAL 641 RESIDENCES - LOJA 01">EDIFICIO FUNCHAL 641 RESIDENCES - LOJA 01</a>
        </td>

        <td>
          <a href="#" title="PL-200">PL-200</a>
          <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
        </td>

        <td>
          <a href="#" title="São Paulo">São Paulo</a>
          <a href="#" title="SP">SP</a>
        </td>

        <td>
          <a href="#" title="Corporativo Montele">Corporativo Montele</a>
          <a href="#" title="Negócio não visitado">Não visitado</a>
        </td>

        <td>
          <a href="#" title=""></a>
          <a href="#" title="30 de Setembro de 2024 às 17:47">30/09/2024</a>
        </td>

        <td>
          <a href="#" title="20 de Outubro de 2020 às 09:42">20/10/2020</a>
          <a href="#" title="1 de Outubro de 2024 às 11:41">01/10/2024</a>
        </td>

        <td>
          <a style="color: #F44336; font-size: 14px; font-weight: bold; font-style: italic" href="#" title="Qualificação inicial">?</a>
        </td>
        <td>

<a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>

</td>

<td class="chat-icon" data-documento="5f8edb18c2c26c517dc0e125"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">111012</a></td>

<td>
<a href="#" title=""></a>
<a href="#" title="RESIDENCIA VALTER MARTINS">RESIDENCIA VALTER MARTINS</a>
</td>

<td>
<a href="#" title="Elevador">Elevador</a>
<a href="#" title="Residencial unifamiliar">Residencial unifamiliar</a>
</td>

<td>
<a href="#" title="Governador Valadares">Governador Valadares</a>
<a href="#">MG</a>
</td>

<td>
<a href="#" title="Rafael Moura">Rafael Moura</a>
<a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
<a href="#" title=""></a>
<a href="#" title="30 de Setembro de 2024 às 11:11">30/09/2024</a>
</td>

<td>
<a href="#" title="3 de Novembro de 2023 às 16:33">03/11/2023</a>
<a href="#" title="30 de Setembro de 2024 às 16:51">30/09/2024</a>
</td>

<td>
<a href="#" title="Qualificação inicial">4</a>
</td>

<td>
<a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="65454af8975f2565407d6d73"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115983</a></td>

<td>
<a href="#" title=""></a>
<a href="#" title="RESIDENCIA - KARINE IMES">RESIDENCIA - KARINE IMES</a>
</td>

<td>
<a href="#" title="Elevador">Elevador</a>
<a href="#" title="Residencial unifamiliar">Residencial unifamiliar</a>
</td>

<td>
<a href="#" title="Itu">Itu</a>
<a href="#">SP</a>
</td>

<td>
<a href="#" title="Anderson Almeida">Anderson Almeida</a>
<a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
<a href="#" title=""></a>
<a href="#" title="27 de Setembro de 2024 às 17:20">27/09/2024</a>
</td>

<td>
<a href="#" title="8 de Agosto de 2024 às 12:12">08/08/2024</a>
<a href="#" title="27 de Setembro de 2024 às 18:26">27/09/2024</a>
</td>

<td>
<a href="#" title="Qualificação inicial">8</a>
</td>

<td>
<a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="66b4e074821a676e4f747828"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115919</a></td>

<td>
<a href="#" title=""></a>
<a href="#" title="RESIDENCIA - TIAGO WRIGHT">RESIDENCIA - TIAGO WRIGHT</a>
</td>

<td>
<a href="#" title="Elevador">Elevador</a>
<a href="#" title="Residencial unifamiliar">Residencial unifamiliar</a>
</td>

<td>
<a href="#" title="São Paulo">São Paulo</a>
<a href="#">SP</a>
</td>

<td>
<a href="#" title="Pamela Bonfim">Pamela Bonfim</a>
<a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
<a href="#" title=""></a>
<a href="#" title="27 de Setembro de 2024 às 11:11">27/09/2024</a>
</td>

<td>
<a href="#" title="5 de Agosto de 2024 às 14:46">05/08/2024</a>
<a href="#" title="27 de Setembro de 2024 às 11:34">27/09/2024</a>
</td>

<td>
<a href="#" title="Qualificação inicial">7</a>
</td>

<td>
<a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="66b10fe24b85e4233f141e34"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">113793</a></td>

<td>
<a href="#" title=""></a>
<a href="#" title="EDIFICIO RESIDENCIAL SANTA CRESCENCIA">EDIFICIO RESIDENCIAL SANTA CRESCENCIA</a>
</td>

<td>
<a href="#" title="PL-200">PL-200</a>
<a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
<a href="#" title="São Paulo">São Paulo</a>
<a href="#">SP</a>
</td>

<td>
<a href="#" title="Corporativo Montele">Corporativo Montele</a>
<a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
<a href="#" title=""></a>
<a href="#" title="27 de Setembro de 2024 às 08:51">27/09/2024</a>
</td>

<td>
<a href="#" title="9 de Abril de 2024 às 15:37">09/04/2024</a>
<a href="#" title="27 de Setembro de 2024 às 08:51">27/09/2024</a>
</td>

<td>
<a href="#" title="Qualificação inicial">?</a>
</td>

<td>
<a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="66158ae3c2c26c78c3092303"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
    <td class="id-negocio"><a href="#" class="strong target-url">116561</a></td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="RESIDENCIA - SILVANA BARBOSA">RESIDENCIA - SILVANA BARBOSA</a>
    </td>
    <td>
        <a href="#" title="Elevador">Elevador</a>
        <a href="#" title="Residencial unifamiliar">Residencial unifamiliar</a>
    </td>
    <td>
        <a href="#" title="Santo André">Santo André</a>
        <a href="#">SP</a>
    </td>
    <td>
        <a href="#" title="Caroline Moro">Caroline Moro</a>
        <a href="#" title="Negócio não visitado">Não visitado</a>
    </td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="26 de Setembro de 2024 às 11:30">26/09/2024</a>
    </td>
    <td>
        <a href="#" title="10 de Setembro de 2024 às 15:24">10/09/2024</a>
        <a href="#" title="27 de Setembro de 2024 às 06:53">27/09/2024</a>
    </td>
    <td>
        <a href="#" title="Qualificação inicial">8</a>
    </td>
    <td>
        <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
    </td>
    <td class="chat-icon" data-documento="66e08ef43b47c78e58c5ab85"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
    <td class="id-negocio"><a href="#" class="strong target-url">116275</a></td>
    <td>
        <a href="#" title="CONSTRUTORA MANARA">CONSTRUTORA MANARA</a>
        <a href="#" title="GALPAO INDUSTRIAL LIMER CART">GALPAO INDUSTRIAL LIMER CART</a>
    </td>
    <td>
        <a href="#" title="Elevador">Elevador</a>
        <a href="#" title="Industrial/Logístico">Industrial/Logístico</a>
    </td>
    <td>
        <a href="#" title="Limeira">Limeira</a>
        <a href="#">SP</a>
    </td>
    <td>
        <a href="#" title="Mariana Machado">Mariana Machado</a>
        <a href="#" title="Negócio não visitado">Não visitado</a>
    </td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="26 de Setembro de 2024 às 14:39">26/09/2024</a>
    </td>
    <td>
        <a href="#" title="26 de Agosto de 2024 às 10:26">26/08/2024</a>
        <a href="#" title="27 de Setembro de 2024 às 06:53">27/09/2024</a>
    </td>
    <td>
        <a href="#" title="Qualificação inicial">6</a>
    </td>
    <td>
        <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
    </td>
    <td class="chat-icon" data-documento="66cc827c588635cd48b207a1"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
    <td class="id-negocio"><a href="#" class="strong target-url">94700</a></td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="LIMER CART INDUSTRIA E COMERCIO DE EMBALAGENS LTDA">LIMER CART INDUSTRIA E COMERCIO DE EMBALAGENS LTDA</a>
    </td>
    <td>
        <a href="#" title="Elevador">Elevador</a>
        <a href="#" title="Industrial/Logístico">Industrial/Logístico</a>
    </td>
    <td>
        <a href="#" title="Limeira">Limeira</a>
        <a href="#">SP</a>
    </td>
    <td>
        <a href="#" title="Mariana Machado">Mariana Machado</a>
        <a href="#" title="Negócio não visitado">Não visitado</a>
    </td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="26 de Setembro de 2024 às 14:38">26/09/2024</a>
    </td>
    <td>
        <a href="#" title="2 de Junho de 2021 às 12:43">02/06/2021</a>
        <a href="#" title="27 de Setembro de 2024 às 06:53">27/09/2024</a>
    </td>
    <td>
        <a href="#" title="Qualificação inicial">8</a>
    </td>
    <td>
        <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
    </td>
    <td class="chat-icon" data-documento="60b7a739975f2570b510e444"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
    <td class="id-negocio"><a href="#" class="strong target-url">115313</a></td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="E BUSINESS PARK - EL">E BUSINESS PARK - EL</a>
    </td>
    <td>
        <a href="#" title="Elevador">Elevador</a>
        <a href="#" title="Comercial">Comercial</a>
    </td>
    <td>
        <a href="#" title="São Paulo">São Paulo</a>
        <a href="#">SP</a>
    </td>
    <td>
        <a href="#" title="Caroline Moro">Caroline Moro</a>
        <a href="#" title="Negócio não visitado">Não visitado</a>
    </td>
    <td>
        <a href="#" title=""></a>
        <a href="#" title="26 de Setembro de 2024 às 11:19">26/09/2024</a>
    </td>
    <td>
        <a href="#" title="1 de Julho de 2024 às 12:09">01/07/2024</a>
        <a href="#" title="27 de Setembro de 2024 às 06:53">27/09/2024</a>
    </td>
    <td>
        <a href="#" title="Qualificação inicial">6</a>
    </td>
    <td>
        <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
    </td>
    <td class="chat-icon" data-documento="6682c6c24b916417624f33f2"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
    <td class="id-negocio"><a href="#" class="strong target-url">114577</a></td>
    <td>
        <a href="#" title="CONGREGACAO CRISTA NO BRASIL">CONGREGACAO CRISTA NO BRASIL</a>
        <a href="#" title="CONGREGACAO CRISTA NO BRASIL UBATUBA">CONGREGACAO CRISTA NO BRASIL UBATUBA</a>
    </td>
    <td>
        <a href="#" title="PL-200">PL-200</a>
        <a href="#" title="Comercial">Comercial</a>
    </td>
    <td>
        <a href="#" title="Ubatuba">Ubatuba</a>
        <a href="#">SP</a>
    </td>
    <td>
        <a href="#" title="Anderson Almeida">Anderson Almeida</a>
        <a href="#" title="Negócio não visitado">Não visitado</a>
    </td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="26 de Setembro de 2024 às 14:55">26/09/2024</a>
</td>

<td>
    <a href="#" title="22 de Maio de 2024 às 17:03">22/05/2024</a>
    <a href="#" title="27 de Setembro de 2024 às 06:52">27/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">6</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="664e4fa52afe95482eb969a5"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">116462</a></td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="CENTRO COMERCIAL SUZANO">CENTRO COMERCIAL SUZANO</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Comercial">Comercial</a>
</td>

<td>
    <a href="#" title="Suzano">Suzano</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Gustavo Ramos">Gustavo Ramos</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="25 de Setembro de 2024 às 15:36">25/09/2024</a>
</td>

<td>
    <a href="#" title="4 de Setembro de 2024 às 14:43">04/09/2024</a>
    <a href="#" title="25 de Setembro de 2024 às 18:38">25/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">7</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="66d89c3a0ad011c40defaed6"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115167</a></td>

<td>
    <a href="#" title="LAER ENGENHARIA">LAER ENGENHARIA</a>
    <a href="#" title="RESIDENCIA - FRANCYELLE MARIANO">RESIDENCIA - FRANCYELLE MARIANO</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Residencial unifamiliar">Residencial unifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Anderson Almeida">Anderson Almeida</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="25 de Setembro de 2024 às 15:38">25/09/2024</a>
</td>

<td>
    <a href="#" title="24 de Junho de 2024 às 17:44">24/06/2024</a>
    <a href="#" title="25 de Setembro de 2024 às 18:38">25/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">6</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6679dac50d3fe4eaa0ee16b3"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">116817</a></td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="EDIFICIO COMENDADOR BRAGA - MARCIA LIMA">EDIFICIO COMENDADOR BRAGA - MARCIA LIMA</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="Rio de Janeiro">Rio de Janeiro</a>
    <a href="#">RJ</a>
</td>

<td>
    <a href="#" title="Cristiano Vendas">Cristiano Vendas</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="25 de Setembro de 2024 às 18:09">25/09/2024</a>
</td>

<td>
    <a href="#" title="25 de Setembro de 2024 às 08:20">25/09/2024</a>
    <a href="#" title="25 de Setembro de 2024 às 18:38">25/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="66f3f1f27c86327b09500933"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">114452</a></td>

<td>
    <a href="#" title="ESCOLA MAPLE BEAR">ESCOLA MAPLE BEAR</a>
    <a href="#" title="MAPLE BEAR JUIZ DE FORA">MAPLE BEAR JUIZ DE FORA</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Educacional">Educacional</a>
</td>

<td>
    <a href="#" title="Juiz de Fora">Juiz de Fora</a>
    <a href="#">MG</a>
</td>

<td>
    <a href="#" title="Lucas Lorenzi">Lucas Lorenzi</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="24 de Setembro de 2024 às 08:13">24/09/2024</a>
</td>

<td>
    <a href="#" title="15 de Maio de 2024 às 14:52">15/05/2024</a>
    <a href="#" title="24 de Setembro de 2024 às 12:47">24/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">4</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="6644f656556020d4411e2dde"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">114853</a></td>

<td>
    <a href="#" title="TEGRA INCORPORADORA">TEGRA INCORPORADORA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL UNIVERSO TATUAPE ORBITA">EDIFICIO RESIDENCIAL UNIVERSO TATUAPE ORBITA</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 14:40">23/09/2024</a>
</td>

<td>
    <a href="#" title="6 de Junho de 2024 às 10:31">06/06/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6661ba419290c174ce4a577f"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">113493</a></td>

<td>
    <a href="#" title="EXKALLA CONSTRUTORA E INCORPORADORA">EXKALLA CONSTRUTORA E INCORPORADORA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL WAVE">EDIFICIO RESIDENCIAL WAVE</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 15:34">23/09/2024</a>
</td>

<td>
    <a href="#" title="21 de Março de 2024 às 18:27">21/03/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="65fca639975f250a2becffc1"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115666</a></td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="RESIDENCIA - RUAN CLEVERTON">RESIDENCIA - RUAN CLEVERTON</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Residencial unifamiliar">Residencial unifamiliar</a>
</td>

<td>
    <a href="#" title="Mangaratiba">Mangaratiba</a>
    <a href="#">RJ</a>
</td>

<td>
    <a href="#" title="Cristiano Vendas">Cristiano Vendas</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 17:35">23/09/2024</a>
</td>

<td>
    <a href="#" title="22 de Julho de 2024 às 16:24">22/07/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">3</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="669eb207e55940242cca5169"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">107411</a></td>

<td>
    <a href="#" title="AMIL ASSISTENCIA MEDICA INTERNACIONAL">AMIL ASSISTENCIA MEDICA INTERNACIONAL</a>
    <a href="#" title="AMIL ESPACO SAUDE - UNIDADE GUARUJA">AMIL ESPACO SAUDE - UNIDADE GUARUJA</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Hospitalar">Hospitalar</a>
</td>

<td>
    <a href="#" title="Guarujá">Guarujá</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Gustavo Ramos">Gustavo Ramos</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 17:40">23/09/2024</a>
</td>

<td>
    <a href="#" title="28 de Abril de 2023 às 10:01">28/04/2023</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">8</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="644bc3bd975f2525d8cb9e7d"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">114855</a></td>

<td>
    <a href="#" title="TEGRA INCORPORADORA">TEGRA INCORPORADORA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL FLUA">EDIFICIO RESIDENCIAL FLUA</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="Niterói">Niterói</a>
    <a href="#">RJ</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 14:40">23/09/2024</a>
</td>

<td>
    <a href="#" title="6 de Junho de 2024 às 10:31">06/06/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6661ba459290c174ce4a5788"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">114854</a></td>

<td>
    <a href="#" title="TEGRA INCORPORADORA">TEGRA INCORPORADORA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL YARD CAMBUI">EDIFICIO RESIDENCIAL YARD CAMBUI</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="Campinas">Campinas</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 14:40">23/09/2024</a>
</td>

<td>
    <a href="#" title="6 de Junho de 2024 às 10:31">06/06/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6661ba439290c174ce4a5785"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">110351</a></td>

<td>
    <a href="#" title="AAM INCORPORADORA">AAM INCORPORADORA</a>
    <a href="#" title="EDIFICIO MOVI CAMPO BELO - LOJA 01">EDIFICIO MOVI CAMPO BELO - LOJA 01</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 14:48">23/09/2024</a>
</td>

<td>
    <a href="#" title="28 de Setembro de 2023 às 09:58">28/09/2023</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6515787b975f251495fb03e6"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115570</a></td>

<td>
    <a href="#" title="AMIL ASSISTENCIA MEDICA INTERNACIONAL">AMIL ASSISTENCIA MEDICA INTERNACIONAL</a>
    <a href="#" title="SANTA HELENA SAUDE CM34">SANTA HELENA SAUDE CM34</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Hospitalar">Hospitalar</a>
</td>

<td>
    <a href="#" title="São Bernardo do Campo">São Bernardo do Campo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Gustavo Ramos">Gustavo Ramos</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 17:39">23/09/2024</a>
</td>

<td>
    <a href="#" title="17 de Julho de 2024 às 12:45">17/07/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">8</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="6697e7369721ac348ee3f843"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115135</a></td>

<td>
    <a href="#" title="INCORFAST INCORPORACAO IMOBILIARIA LTDA">INCORFAST INCORPORACAO IMOBILIARIA LTDA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL PORTAL DO HORTO - PL">EDIFICIO RESIDENCIAL PORTAL DO HORTO - PL</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 15:03">23/09/2024</a>
</td>

<td>
    <a href="#" title="21 de Junho de 2024 às 16:07">21/06/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6675cf78da99780850763874"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">110352</a></td>

<td>
    <a href="#" title="AAM INCORPORADORA">AAM INCORPORADORA</a>
    <a href="#" title="EDIFICIO MOVI CAMPO BELO - LOJA 02">EDIFICIO MOVI CAMPO BELO - LOJA 02</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 14:48">23/09/2024</a>
</td>

<td>
    <a href="#" title="28 de Setembro de 2023 às 09:58">28/09/2023</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6515787f975f25149422c838"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">115134</a></td>

<td>
    <a href="#" title="INCORFAST INCORPORACAO IMOBILIARIA LTDA">INCORFAST INCORPORACAO IMOBILIARIA LTDA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL PORTAL DO HORTO - EL">EDIFICIO RESIDENCIAL PORTAL DO HORTO - EL</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 15:03">23/09/2024</a>
</td>

<td>
    <a href="#" title="21 de Junho de 2024 às 16:07">21/06/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Sim">S</a>
</td>

<td class="chat-icon" data-documento="6675cf76da9978085076386d"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">113758</a></td>

<td>
    <a href="#" title="VINX CONSTRUTORA">VINX CONSTRUTORA</a>
    <a href="#" title="EDIFICIO RESIDENCIAL VILA TOLSTOI">EDIFICIO RESIDENCIAL VILA TOLSTOI</a>
</td>

<td>
    <a href="#" title="Elevador">Elevador</a>
    <a href="#" title="Residencial multifamiliar">Residencial multifamiliar</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Corporativo Montele">Corporativo Montele</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="23 de Setembro de 2024 às 14:54">23/09/2024</a>
</td>

<td>
    <a href="#" title="8 de Abril de 2024 às 13:21">08/04/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 18:21">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">?</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="66141975975f255eba25cf90"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

<tr class="goto">
<td class="id-negocio"><a href="#" class="strong target-url">114376</a></td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="SHOPPING LIBERDADE">SHOPPING LIBERDADE</a>
</td>

<td>
    <a href="#" title="PL-200">PL-200</a>
    <a href="#" title="Comercial">Comercial</a>
</td>

<td>
    <a href="#" title="São Paulo">São Paulo</a>
    <a href="#">SP</a>
</td>

<td>
    <a href="#" title="Anderson Almeida">Anderson Almeida</a>
    <a href="#" title="Negócio não visitado">Não visitado</a>
</td>

<td>
    <a href="#" title=""></a>
    <a href="#" title="20 de Setembro de 2024 às 16:12">20/09/2024</a>
</td>

<td>
    <a href="#" title="10 de Maio de 2024 às 15:33">10/05/2024</a>
    <a href="#" title="23 de Setembro de 2024 às 11:44">23/09/2024</a>
</td>

<td>
    <a href="#" title="Qualificação inicial">5</a>
</td>

<td>
    <a href="#" title="Indicação para o equipamento no projeto arquitetônico: Não">N</a>
</td>

<td class="chat-icon" data-documento="663e688e8a1d6570103b3bc6"><span class="sidebar-action-row | icon">chat</span></td>
</tr>

</tbody>
</table>
</div>
</div>
