---
layout: "_layouts/app.njk"
---

<article class="main-panel">
  <header class="main-panel__header">
    <h1 class="main-panel__title">Search</h1>
  </header>

  <section class="main-panel__content">
    <p>Search for something</p>
  </section>
</article>
  
