---
layout: "_layouts/app.njk"
doca_hidden: "true"
title: "Transcrição"
---

<div class="transcricao-view">
  <div class="center">
    <header class="transcricao-view__header">
      <h4>06/05/2025</h4>
      <h2>André Lambert e Claudio Mendonca</h2>
    </header>
  
    <main class="stack">
      {% for message in transcricao.transcript %}
      <div class="transcricao-message {% if message.speaker_role == 'client' %}card{% endif %}" data-speaker-role="{{ message.speaker_role }}">
        <h6>{{ message.speaker }}</h6>
        <p>{{ message.message }}</p>
      </div>
      {% endfor %}
    </main>
  </div>
</div>

