.dock-message {
  padding-block: var(--space-s) var(--space-xs);
  border-bottom: var(--base-separator);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  h3 {
    font-size: var(--size-0);
    color: var(--primary-color);
  }
}
