

.feed {
  max-width: 150ch;
  display: grid;
}

.feed header {
  padding-block: var(--space-m);
}

.feed-message.card {
  padding-top: var(--space-s);
}

.feed-message {
  position: relative;
  margin-left: 160px;
  
  /* Ajusta o tamanho do markdown */
  &, .markdown { font-size: var(--size-0); }

  h2 { 
    font-size: inherit; 
    color: var(--base-color-70-tint);
    font-weight: normal;
    font-size: var(--size-0);
  }

  .feed-message__title { 
    font-size: var(--size-0); 
    color: var(--primary-color); 
    
  }

  .automation-logo { 
    max-width: 16px; 
    opacity: .5;
    filter: grayscale();
  }
  
  img[src=""] { display: none; }
  
  .profile-pic {
    max-width: 24px; 
    opacity: 1;
  }
}


.feed-message__by-line {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  font-size: var(--size--1);
  border-bottom: 1px solid var(--base-color-10-tint);
  padding-bottom: var(--space-xs);
}

@container main-panel (min-width: 1080px) {
  .feed-message__title {
    margin-top: 0;
  }
  
  .feed-message__by-line {
    position: absolute;
    flex-direction: column;
    width: 200px;
    left: -220px;
    align-items: flex-end;
    text-align: right;
    border-bottom: 0;

    * {
      display: block;
    }
  }

  .feed-message__date { grid-area: date; }
  .feed-message__by-line img { grid-area: pic; }
  .feed-message__by-line h2 { grid-area: name; }
}

.feed-message__date {
  color: var(--base-color-70-tint);
  font-size: var(--size-0);
  margin-left: auto;
}


