.transcricao-view {
}

.transcricao-view__header {
  margin-bottom: var(--space-xl);
}

.transcricao-view {
  --_stack-space: var(--space-s);
  padding-bottom: var(--space-xl);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--space-l);
  align-items: start;
  justify-items: start;
  
}

.transcricao-message {
  gap: var(--space-m);
  padding-inline: var(--base-padding-inline);
  > * {
    padding: 0;
    margin: 0;
  }

  p {
    max-width: 40ch;
  }

  &.card {
    margin-top: var(--space-xl);
  }
}

.transcricao-message[data-speaker-role="client"] h6 { color: var(--accent-color); }
.transcricao-message[data-speaker-role="staff"] h6 { color: var(--primary-color); }
